{%- from "eproms/assessment_engine/ae_macros.html" import render_header, render_card_content, render_call_to_button, completed_card, thankyou_card, empro_thankyou_card, empro_due, completed_cards -%}
{% extends "eproms/assessment_engine/ae_base.html" %}
<!-- User completed both baseline and indefinite -->
{% block head %}
    <!-- if main study is completed but still work in sub-study display header accordingly -->
    {%- if substudy_assessment_is_due -%}
        {% call render_header(title_text=greeting) %}
            {{_("Please complete your questionnaire as soon as possible. It is due on %(substudy_due_date)s.",
                substudy_due_date=substudy_due_date
            )}}
        {% endcall %}
    {%- else -%}
        {%- if enrolled_in_substudy -%}
            {{empro_thankyou_card(full_name=full_name)}}
        {%- else -%}
            {{thankyou_card(full_name=full_name, registry=_(assessment_status.assigning_authority))}}
        {%- endif -%}
    {%- endif -%}
{% endblock %}
{% block body %}
    <!-- tile title change for subjects enrolled in substudy -->
    {% set title_text = _("%(assigning_authority)s Questionnaire", assigning_authority=_(assessment_status.assigning_authority))
                        if enrolled_in_substudy else _("Open Questionnaire") %}
    {% set completed_title_text = _("%(assigning_authority)s Questionnaire", 
                                assigning_authority=_(assessment_status.assigning_authority)) if enrolled_in_substudy else  _("Completed Questionnaires") %}

    {%- if enrolled_in_substudy -%}
        {%- call render_card_content(
            title_text=title_text,
            card_class="portal-completed-container") -%}
            <div class="text-content">{{_("No questionnaire is due.")}}</div>
        {%- endcall -%}
        <!-- main study questionnaire is completed, but sub-study questionnaire could still be due -->
        <!-- substudy due card -->
        {{empro_due(
            substudy_assessment_is_due=substudy_assessment_is_due,
            assessment_status=assessment_status,
            OverallStatus=OverallStatus,
            substudy_assessment_status=substudy_assessment_status,
            substudy_due_date=substudy_due_date,
            enrolled_in_substudy=enrolled_in_substudy
        )}}
        <!-- both main and sub-study completed -->
        {{completed_cards(
            user=user,
            assessment_status=assessment_status,
            OverallStatus=OverallStatus,
            comp_date=comp_date,
            substudy_assessment_status=substudy_assessment_status,
            enrolled_in_substudy=enrolled_in_substudy,
            substudy_assessment_is_due=substudy_assessment_is_due
        )}}
    {%- else -%}
        <!-- main study ONLY -->
        {%- call render_card_content(
            title_text=title_text,
            card_class="portal-completed-container") -%}
            <div class="text-content">{{_("No questionnaire is due.")}}</div>
            {{render_call_to_button(button_label=_("View previous questionnaire"), button_url=url_for("portal.profile", _anchor="proAssessmentsLoc"))}}
        {%- endcall -%}
        <!-- main study completed card -->
        {{completed_card(
            assessment_status=assessment_status,
            OverallStatus=OverallStatus,
            comp_date=comp_date,
            title_text=completed_title_text)}}
    {%- endif -%}
{% endblock %}
