{%- from "eproms/assessment_engine/ae_macros.html" import render_card_content, render_call_to_button, completed_card, thankyou_card -%}
{% extends "eproms/assessment_engine/ae_base.html" %}
<!-- User completed both baseline and indefinite -->
{% block head %}
    {{thankyou_card(full_name=full_name, registry=_(assessment_status.assigning_authority))}}
{% endblock %}
{% block body %}
    {%- call render_card_content(title_text=_("Open Questionnaire"), card_class="portal-completed-container") -%}
        <p>{{_("No questionnaire is due.")}}</p>
        {{render_call_to_button(button_label=_("View previous questionnaire'"), button_url=url_for("portal.profile", _anchor="proAssessmentsLoc"))}}
    {%- endcall -%}
    {{completed_card(assessment_status=assessment_status, OverallStatus=OverallStatus, comp_date=comp_date)}}
{% endblock %}
