{%- macro render_header(title_text="") -%}
    <div class="portal-header-container">
        <h2 class="portal-header">{{title_text}}</h2>
        <h4 class="portal-intro-text">{{caller()}}</h4>
    </div>
{%- endmacro -%}
{%- macro render_card_content(title_text="", card_class="") -%}
    <div class="portal-description {{card_class}}">
        <h4 class="portal-description-title">
            {{title_text}}
        </h4>
        <div class="portal-description-body">
            <!-- render the card body html from the calling party-->
            {{caller()}}
        </div>
    </div>
{%- endmacro -%}
{%- macro render_logout() -%}
    <div class="button-container portal-header-logout-container">
        <a class="btn-lg btn-tnth-primary" href="/logout">{{ _("Log out") }}</a>
    </div>
{%- endmacro -%}
{%- macro render_call_to_button(button_label="", button_url="", css_class="") -%}
    <div class="button-container">
        <a class="btn-lg btn-tnth-primary {{css_class}}" href="{{button_url}}">{{button_label}}</a>
    </div>
{%- endmacro -%}
{%- macro render_greeting(full_name="") -%}
    {{_("Hi, %(full_name)s.", full_name=full_name if full_name else "")}}
{%- endmacro -%}
{%- macro due_card(
    assessment_status={},
    title_text=_("Open Questionnaire"),
    button_label=_("Go to questionnaire")) -%}
    {%- call render_card_content(
        title_text=title_text,
        card_class="portal-description-incomplete") -%}
        <div class="text-content">{{_("Please complete your %(assigning_authority)s questionnaire here.", assigning_authority=_(assessment_status.assigning_authority))}}</div>
        {{render_call_to_button(button_label=button_label, button_url=url_for('assessment_engine_api.present_needed'))}}
    {%- endcall -%}
{%- endmacro -%}
{%- macro completed_card(assessment_status={}, OverallStatus={}, comp_date="", title_text=_("Completed Questionnaires"), card_class="") -%}
    {%- if assessment_status.overall_status == OverallStatus.completed -%}
        {% call render_card_content(title_text=title_text, card_class=card_class) %}
            <div class="text-content flex flex-2">
                <div class="flex flex-end flex-self-stretch">
                    <a class="btn-lg btn-tnth-primary portal-weak-auth-disabled" href='{{url_for("portal.profile", _anchor="proAssessmentsLoc")}}'>
                        {{_("View questionnaire completed on %(comp_date)s", comp_date=comp_date)}}
                    </a>
                </div>
            </div>
        {% endcall %}
    {%- else -%}
        {% call render_card_content(title_text=title_text, card_class="disabled") %}
            <div class="text-content">{{_("When you are done, completed questionnaires will be shown here.")}}</div>
        {% endcall %}
    {%- endif -%}
{%- endmacro -%}
{%- macro thankyou_card(full_name="", registry="") -%}
    {% call render_header(title_text=_("Thank you, %(full_name)s.", full_name=full_name if full_name else '')) %}
        <p>{{ _("You've completed the %(registry)s questionnaire.", registry=_(registry)) }}</p>
        <p>{{ _("You will be notified when the next questionnaire is ready to complete.") }}</p>
    {% endcall %}
    {{render_logout()}}
{%- endmacro -%}

<!-- present main study if completed questionnaires -->
{%- macro completed_cards(
    user=user,
    assessment_status={},
    OverallStatus={},
    comp_date=""
) -%}
{% set completed_title_text = _("%(assigning_authority)s Questionnaire", assigning_authority=_(assessment_status.assigning_authority))%}
{% set mainstudy_overall_completed_status = assessment_status.overall_status == OverallStatus.completed %}
    <div class="portal-skyscraper-container">
        <div class="top">
            <h2 class="section-title">{{_("Completed Questionnaires")}}</h2>
        </div>
        <div class="bottom">
            <!-- main study completed card -->
            <!-- in disabled state if main study questionnaire not completed yet -->
            {{completed_card(
                assessment_status=assessment_status,
                OverallStatus=OverallStatus,
                comp_date=comp_date,
                title_text=completed_title_text,
                card_class="" if mainstudy_overall_completed_status else "disabled"
            )}}
        </div>
    </div>
{%- endmacro -%}
