{%- macro render_header(title_text="") -%}
    <div class="portal-header-container">
        <h2 class="portal-header">{{title_text}}</h2>
        <h4 class="portal-intro-text">{{caller()}}</h4>
    </div>
{%- endmacro -%}
{%- macro render_card_content(title_text="", card_class="") -%}
    <div class="portal-description {{card_class}}">
        <h4 class="portal-description-title">
            {{title_text}}
        </h4>
        <div class="portal-description-body">
            <!-- render the card body html from the calling party-->
            {{caller()}}
        </div>
    </div>
{%- endmacro -%}
{%- macro render_logout() -%}
    <div class="button-container portal-header-logout-container">
        <a class="btn-lg btn-tnth-primary" href="/logout">{{ _("Log out") }}</a>
    </div>
{%- endmacro -%}
{%- macro render_call_to_button(button_label="", button_url="", css_class="") -%}
    <div class="button-container">
        <a class="btn-lg btn-tnth-primary {{css_class}}" href="{{button_url}}">{{button_label}}</a>
    </div>
{%- endmacro -%}
{%- macro render_greeting(full_name="") -%}
    {{_("Hi, %(full_name)s.", full_name=full_name if full_name else "")}}
{%- endmacro -%}
{%- macro due_card(
    assessment_status={},
    title_text=_("Open Questionnaire"),
    button_label=_("Go to questionnaire")) -%}
    {%- call render_card_content(
        title_text=title_text,
        card_class="portal-description-incomplete") -%}
        <div class="text-content">{{_("Please complete your %(assigning_authority)s questionnaire here.", assigning_authority=_(assessment_status.assigning_authority))}}</div>
        {{render_call_to_button(button_label=button_label, button_url=url_for('assessment_engine_api.present_needed'))}}
    {%- endcall -%}
{%- endmacro -%}
{%- macro completed_card(assessment_status={}, OverallStatus={}, comp_date="", title_text=_("Completed Questionnaires"), card_class="") -%}
    {%- if assessment_status.overall_status == OverallStatus.completed -%}
        {% call render_card_content(title_text=title_text, card_class=card_class) %}
            <div class="text-content">
                <a class="portal-weak-auth-disabled" href='{{url_for("portal.profile", _anchor="proAssessmentsLoc")}}'>
                    {{_("View questionnaire completed on %(comp_date)s", comp_date=comp_date)}}
                </a>
            </div>
        {% endcall %}
    {%- else -%}
        {% call render_card_content(title_text=title_text, card_class="disabled") %}
            <div class="text-content">{{_("When you are done, completed questionnaires will be shown here.")}}</div>
        {% endcall %}
    {%- endif -%}
{%- endmacro -%}
{%- macro thankyou_card(full_name="", registry="") -%}
    {% call render_header(title_text=_("Thank you, %(full_name)s.", full_name=full_name if full_name else '')) %}
        <p>{{ _("You've completed the %(registry)s questionnaire.", registry=_(registry)) }}</p>
        <p>{{ _("You will be notified when the next questionnaire is ready to complete.") }}</p>
    {% endcall %}
    {{render_logout()}}
{%- endmacro -%}

<!-- sub-study macro -->
{%- macro empro_due(
                    substudy_assessment_is_due=false,
                    assessment_status={},
                    OverallStatus={},
                    substudy_assessment_status={},
                    substudy_due_date="",
                    enrolled_in_substudy=false,
                    substudy_assessment_is_ready=false,
                    substudy_assessment_errors=substudy_assessment_errors
    ) -%}
    <!-- subject is in the sub-study and the sub-study questionnaire is due-->
    <!-- NOTE the tile is disabled IF global study work is not complete -->
    {%- if  enrolled_in_substudy -%}
        {% set substudy_title = "EMPRO" %}
        {% set button_label =  _('complete questionnaire') %}
        {%- call render_card_content(
            title_text=_("%(substudy_title)s Questionnaire", substudy_title=substudy_title),
            card_class="portal-description-incomplete" if substudy_assessment_is_ready else "disabled") -%}
            {%- if not substudy_assessment_is_ready -%}
                {%- if substudy_due_date -%}
                    <div class="text-content">{{_("Your %(substudy_title)s questionnaire is due on %(substudy_due_date)s. Please complete your open %(registry)s questionnaire first, to activate this one. Thank you for participating.", 
                        substudy_title=substudy_title,
                        substudy_due_date=substudy_due_date,
                        registry=_(assessment_status.assigning_authority))}}</div>
                {%- else -%}
                    <div class="text-content">{{_("Please complete your open %(registry)s questionnaire first, to activate this one. Thank you for participating.", 
                        registry=_(assessment_status.assigning_authority))}}</div>
                {%- endif -%}
            {%- else -%}
                <div class="text-content">{{_("Your questionnaire is ready. Please complete by %(substudy_due_date)s. By participating, we'll better understand your experience and offer useful tips and support.", substudy_due_date=substudy_due_date)}}</div>
            {%- endif -%}
            {{render_call_to_button(button_label=button_label, button_url=url_for('assessment_engine_api.present_needed'))}}
            <!-- display any error if for some reason the assessment is not ready -->
            {%- if substudy_assessment_errors and substudy_assessment_errors|length %}
                <div class="error-message">
                    <span class='glyphicon glyphicon-alert warning icon' aria-hidden='true'></span>
                    {{substudy_assessment_errors | join(", ")}}</div>
            {%- endif -%}
        {%- endcall -%}
    {%- endif -%}
{%- endmacro -%}
<!-- present main study and/or sub-study that have completed questionnaires -->
{%- macro completed_cards(
    user=user,
    assessment_status={},
    OverallStatus={},
    comp_date="",
    substudy_assessment_status={},
    substudy_comp_date="",
    enrolled_in_substudy=false
) -%}
{% set completed_title_text = _("%(assigning_authority)s Questionnaire", assigning_authority=_(assessment_status.assigning_authority))%}
{% set mainstudy_overall_completed_status = assessment_status.overall_status == OverallStatus.completed %}
{% set substudy_overall_completed_status = substudy_assessment_status.overall_status == OverallStatus.completed %}
    <div class="portal-skyscraper-container">
        <div class="top">
            <h2 class="section-title">{{_("Completed Questionnaires")}}</h2>
        </div>
        <div class="bottom">
            <!-- main study completed card -->
            <!-- in disabled state if main study questionnaire not completed yet -->
            {{completed_card(
                assessment_status=assessment_status,
                OverallStatus=OverallStatus,
                comp_date=comp_date,
                title_text=completed_title_text,
                card_class="" if mainstudy_overall_completed_status else "disabled"
            )}}
            <!-- substudy completed card -->
            <!-- in disabled state if sub-study questionnaire not completed yet -->
            {{empro_completed(
                user=user,
                OverallStatus=OverallStatus,
                substudy_assessment_status=substudy_assessment_status,
                substudy_comp_date=substudy_comp_date,
                enrolled_in_substudy=enrolled_in_substudy,
                card_class="" if substudy_overall_completed_status else "disabled"
            )}}
        </div>
    </div>
{%- endmacro -%}
<!-- sub-study macro -->
{%- macro empro_completed(
    user=user,
    OverallStatus={},
    substudy_assessment_status={},
    substudy_comp_date="",
    enrolled_in_substudy=false,
    card_class="")
-%}
    <!-- subject is in the sub-study and the sub-study questionnaire has been completed -->
    {%- if enrolled_in_substudy -%}
        {%- set substudy_title = "EMPRO" -%}
        {%- call render_card_content(
            title_text = _("%(substudy_title)s Study", substudy_title=substudy_title),
            card_class = card_class if card_class else "portal-description-complete") -%}
            <div class="text-content">
                <p>{{_("View a summary of your questionnaire responses, as well as key health tips and resources.")}}</p>
                {% if substudy_assessment_status.overall_status == OverallStatus.completed %}
                    <div class="buttons-container">
                        <br/>
                        <!-- this is an anchor link to open thank you modal -->
                        <a class="btn-lg btn-tnth-primary" data-toggle="modal" data-target="#emproModal">{{_("View report and resources", substudy_comp_date=substudy_comp_date)}}</a>
                    </div>
                {% else %}
                    <p>{{_("No %(substudy_title)s questionnaire has been completed yet.", substudy_title=substudy_title)}}</p>
                {% endif %}
            </div>
        {%- endcall -%}
        {% if substudy_assessment_status.overall_status == OverallStatus.completed %}
            {{empro_thankyou_modal(user)}}
        {% endif %}
    {%- endif -%}
{%- endmacro -%}
{%- macro empro_thankyou_card(full_name="") -%}
    {% call render_header(title_text=_("Hi, %(full_name)s.", full_name=full_name if full_name else '')) %}
        <p>{{_("None of your questionnaires are due. You can view your completed questionnaires below:")}}</p>
    {% endcall %}
{%- endmacro -%}
{%- macro empro_modal_default_supportTeam_block(organization="") -%}
    <div class="item">
        <h4>{{_("Your Support Team")}}</h4>
        <p>{{_("If you have any questions or need assistance, please contact your team at %(organization)s directly. They're happy to help.", organization=organization)}}</p>
      
    </div>
{%- endmacro -%}
{%- macro empro_modal_hardTrigger_supportTeam_block(organization="") -%}
    <div class="item">
        <h4>{{_("Your Support Team")}}</h4>
        <p>{{_("You reported having some particular challenges with: ")}}</p>
        <ul class="hardTriggersDisplayList">
           <!-- dynamically populated based on user trigger domain(s) -->
        </ul>
        <p><b>{{_("To help address any issues, we've informed your care team and they'll be in contact with you soon.")}}</b></p>
        <br/>
        {% if organization  %}
            <p>{{_("In the meantime, if you have any questions or need assistance, please contact your team at %(organization)s directly. They're happy to help.", organization=organization)}}</p>
        {% endif %}
    </div>
{%- endmacro -%}
{%- macro empro_modal_default_report_block(user) -%}
    <div class="item">
        <h4>{{_("Your Report")}}</h4>
        <p>{{_("Here's where you'll find an ongoing summary of your responses, each time you complete a questionnaire.")}}</p>
        <div class="buttons-container">
            {%- if user and user.current_encounter().auth_method == 'url_authenticated' -%}
                <!-- for an url authenticated user, trying to access the report will be prompted to login in -->
                <a class="btn btn-empro-primary btn-report portal-weak-auth-disabled" href="{{url_for('patients.longitudinal_report', subject_id=user.id, instrument_id='ironman_ss')}}">{{_("View My Report")}}</a>
            {%- else -%}
                <a class="btn btn-empro-primary btn-report longitudinal-report-link">{{_("View My Report")}}</a>
            {%- endif -%}
        </div>
    </div>
{%- endmacro -%}
{%- macro empro_modal_triggered_healthTip_block() -%}
    <div class="item">
        <h4>{{_("Your Health Tips")}}</h4>
        <p>{{_("Based on your questionnaire responses, we've gathered tips and resources on managing the topic(s) below:")}}</p>
        <div class="triggersButtonsContainer buttons-container">
            <!--dynamically populated based on user trigger domain(s) -->
        </div>
    </div>
{%- endmacro -%}
{%- macro empro_modal_default_healthTip_block() -%}
    <div class="item">
        <h4>{{_("Your Health Tips")}}</h4>
        <p>{{_("Explore ways to manage common prostate cancer challenges. Here you'll find plenty of helpful information and resources.")}}</p>
        <div class="buttons-container">
            <a class="btn btn-empro-primary" href="{{url_for('portal.substudy_tailored_content')}}">{{_("Explore Topics")}}</a>
        </div>
    </div>
{%- endmacro -%}
<!--sub-study macro -->
{%- macro empro_thankyou_modal(user) -%}
    <!-- sub-study modal for display domain topic(s), resources link and summary report link to the user -->
    <div class="modal fade" tabindex="-1" role="dialog" id="emproModal" {% if user and user.current_encounter().auth_method == 'url_authenticated'%}data-url-authenticated="true"{% endif %}>
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{_('Close')}}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="header-section">
                        <h2 class="title">
                            {{_("Thank you for being part of the IRONMAN EMPRO study.")}}
                            <br/>
                            {{_("We truly value your time and participation.")}}
                        </h2>
                        <p>{{_("Find your latest tips and tools below.")}}</p>
                    </div>
                    <div class="items-section no-trigger">
                        {{empro_modal_default_report_block(user)}}
                        {{empro_modal_default_healthTip_block()}}
                        {{empro_modal_default_supportTeam_block(organization=user.organizations[0].name if user else "")}}
                    </div>
                    <div class="items-section hard-trigger">
                        {{empro_modal_hardTrigger_supportTeam_block(organization=user.organizations[0].name if user else "")}}
                        {{empro_modal_triggered_healthTip_block()}}
                        {{empro_modal_default_report_block(user)}}
                    </div>
                    <div class="items-section soft-trigger">
                        {{empro_modal_triggered_healthTip_block()}}
                        {{empro_modal_default_report_block(user)}}
                        {{empro_modal_default_supportTeam_block(organization=user.organizations[0].name if user else "")}}
                    </div>
                </div>
                <div class="modal-footer hard-trigger soft-trigger">
                    <p>
                        {{_("If you are experiencing a medical emergency, please contact your local emergency services right away.")}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{empro_script()}}
{%- endmacro -%}
{%- macro empro_script() -%}
    <script src="{{ url_for('static', filename='js/dist/empro.bundle.js') }}" defer></script>
{%- endmacro -%}

