{%- from "eproms/assessment_engine/ae_macros.html" import render_header, render_greeting, render_card_content -%}
{% extends "eproms/assessment_engine/ae_base.html" %}
<!-- questionnaire no longer available -->
{% block head %}
    {% call render_header(title_text=render_greeting(full_name=full_name)) %}{% endcall %}
{% endblock %}
{% block body %}
    {%- call render_card_content(
            title_text=_("Questionnaire Expired"),
            card_class="portal-no-description-container full-width") -%}
        <p>{{_("The assessment is no longer available. A research staff member will contact you for assistance.")}}</p>
    {%- endcall -%}
{% endblock %}
