#tnthBottomNavWrapper { 
    background: #000; 
    text-align: center; 
    display: block;
    font-family: "akzidenz_grotesk_medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #4A4A4A;
}
#tnthBottomNavWrapper::before {
  content: " ";
  display: table;
}
/*#tnthBottomNavWrapper::after {
  clear: both;
}*/
#tnthBottomNavWrapper .footer__logo-area {
    padding: 25px 0;
/*    float: left;*/
    width: 100%;
}
.footer figure {
    margin: 0;
    display: inline-block;
}
.logo-footer-truenth, .footer__logo--truenth {
    background-image: url(../img/TrueNTH-Footer-Logo.png);
    background-size: 79px 91px;
    width: 79px;
    height: 91px;
    margin: 0 auto;
}
.footer__logo--movember {
    background-image: url(../img/Movember-Footer-Logo.png);
    background-size: 86px 86px;
    width: 86px;
    height: 86px;
    margin: 0 auto;
}
.nav-list {
    position: relative;
   /* float: left;*/
    min-height: 1px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 100%;
    margin: 0 0 20px;
}
.nav-list__item {
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0 20px;
}
.nav-list__item a {
  color: #FFF;
  text-decoration: none;
  line-height: 2em;
}
@media (min-width: 687px) {
    .nav-list__item a {
        line-height: 1em;
    }
}
.nav-list--lower .nav-list__item a {
    color: #8F9385;
}
.copyright {
    margin-top: -2em;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 100%;
    color: #8F9385;
    opacity: 0.9;
}
/*.nav-list__item a {
    color: #fff;
}*/
@media (min-width: 768px) {
    .nav-list__item i {
        margin-top: 0;
    }
}
.nav-list__item i {
    color: #FFF;
    text-align: center;
    font-size: 1.8em;
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa-2x {
    font-size: 2em;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa-envelope:before {
    content: "\f0e0";
}
.fa-facebook-square:before {
    content: "\f082";
}
.fa-twitter-square:before {
    content: "\f081";
}


