/* overriding main css with inline style */
input.clinic {
	display: none;
}
#fillOrgs {
	margin: 1em !important;
}
#fillOrgs .indent {
	padding: 0 2.5em;
}
#fillOrgs {
	margin: 2em 1em;
	font-size: 10pt;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
}
@media (min-width: 1200px) {
	#fillOrgs {
		justify-content: space-between;
		flex-wrap: nowrap;
	}
}
#fillOrgs * {
	font-size: 12px;
}
#fillOrgs .sub-text,
#fillOrgs .json-link {
	font-size: 10px;
}
#fillOrgs .text-muted,
#fillOrgs .singleton {
	color: #68727e;
    display: inline-block;
    border: 1px solid #ececec !important;
    padding: 0.5em !important;
}
#fillOrgs .text-muted:after {
	content: "\2193";
	display: block;
	width: 20px;
	margin: auto;
}
#fillOrgs .text-muted.singleton:after {
	content: "";
}
#fillOrgs .parent-org-container {
	margin: 1em 0;
	max-width: 100%;
}
#fillOrgs .text-muter {
	color: #71464f;
	display: inline-block;
	padding: 0.5em;
	border: 1px solid #ececec !important;
}
#fillOrgs .text-muter:after {
	content: "\2193";
	display: block;
	width: 20px;
	margin: auto;
}
#fillOrgs .text-muter.singleton:after {
	content: "";
}
#fillOrgs legend,
#fillOrgs .parent-singleton {
    background: #7C959E;
    color: #FFF;
    margin: 4px 0;
    font-size: 14px !important;
    letter-spacing: 0.05rem;
    font-weight: 500;
    border: 1px solid #ececec;
    padding: 0.5em;
    display: inline-block;
}
#fillOrgs .parent-singleton {
	padding: 4px;
}
#fillOrgs .parent-singleton * {
	font-size: 14px;
	font-weight: 500;
	background: #7C959E;
    color: #FFF;
}
#fillOrgs .parent-singleton label.org-label { /* single parent org label */
	display: block;
	background: #FFF;
	width: 100%;
	color: #68727e;
}
#fillOrgs .parent-singleton label.org-label .sub-text {
	display: none;
}
#fillOrgs .parent-singleton label.org-label .json-link {
	display: none;
}
#fillOrgs .parent-singleton label.org-label:after {
	content: "( single parent org )";
	display: block;
	color: #68727e;
	width: 100%;
	font-weight: 200;
}
#fillOrgs .parent-singleton .sub-text,
#fillOrgs .parent-singleton .json-link  {
	font-weight: 200;
	font-size: 10px;
}
#fillOrgs .parent-singleton label {
	top: 2px;
	padding: 4px;
}
#fillOrgs legend.singleton:after {
	content: "\2193";
	display: block;
	width: 20px;
	margin: auto;
}
#fillOrgs div.org-container label.org-label {
	margin: 0.5em 0;
	padding: 0.35em 0.25em;
}
div.org-container label.org-label {
	padding: 0.35em 0.25em;
}
.info {
	margin: 1em 1em 0;
    border: 1px solid;
    padding: 0.5em;
    display: inline-block;
    color: #9a9894;
    font-size: 0.9em;
}
.sub-text {
	font-weight: 300;
	font-size: 11px;
	letter-spacing: 1px;
}
.json-link {
	font-weight: 300;
	margin-left: 1em;
	display: inline-block;
	font-size: 10px;
	letter-spacing: 0.1rem;
	text-decoration: underline;
}
legend .json-link {
	color: #FFF;
}
legend .json-link:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #3B4551;
}

