.tnth-nav-wrapper {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tnth-nav-main {
    width: 100%;
    max-width: 100%;
    background-color: #1A1919;
    background-image: url('../img/truenth_mtn_background3.jpg');
    height: 74px;
    background-size: cover;
    margin: 0;
	padding: 5px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#tnthLogo {
    float: left;
}
#tnthLogo img {
    height: 64px;
}
#tnthTopLinks {
    float: right;
}
#tnthUserBtn {
    padding: 6px 12px;
    height: inherit;
}
.tnth-nav-btn {
    padding: 6px 12px;
    height: inherit;
    line-height: inherit;
}
.tnth-white,.tnth-white .fa, .tnth-white:visited {
    color: #ECF7E5;
    background-color: transparent;
    border-color: transparent;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    text-shadow: none;
    background-image: none;
}
.tnth-white:hover, .tnth-white:hover .fa,
.tnth-white:focus, .tnth-white:focus .fa,
.tnth-white.active, .tnth-white:active .fa {
    color: #333;
    background-color: #fff;
}
.tnth-white.navbar-toggle {
    margin: 8px 15px 8px 0;
}

/*** Styles for responsive xs size ***/
.tnth-nav-xs {
	margin: 0 0 5px;
    width: 100%;
    background-color: #83885F;
    background-image: url('../img/truenth_mtn_background3.jpg');
    background-size: auto 71px;
    background-repeat: no-repeat;
    padding: 5px 15px;
}
.tnth-nav-xs .navbar-brand {
	padding: 0;
}
.tnth-nav-xs .navbar-brand img {
	height: 52px;
}
.tnth-nav-xs .nav a {
    color: #fff;
}
.tnth-nav-xs .nav a:active, .tnth-nav-xs .nav a:hover {
    color: #333;
}
.tnth-nav-xs .tnth-white.navbar-toggle {
    margin: 0;
    padding: 0 0 0 10px;
}
#tnthNavbarXs {
    padding-top: 30px;
}

@media (min-width: 1200px) {
    #tnthLogo {
        margin-left: 80px;
    }
}



