.tnth-nav-wrapper {
	width: 100%;
	background-color: #1A1919;
	border-bottom: 2px solid #8D8D8D;
}
.tnth-nav-main {
	padding: 5px 15px;
}
.tnth-nav-xs {
	margin-bottom: 5px;
}
.tnth-nav-xs .navbar-brand {
	padding: 4px;
}
.tnth-nav-xs .navbar-brand img {
	height: 54px;
}
.tnth-nav-xs .nav a {
    color: #fff;
}
.tnth-nav-xs .nav a:active, .tnth-nav-xs .nav a:hover {
    color: #333;
}

.tnth-white {
    color: #ECF7E5;
    background-color: transparent;
    border-color: transparent;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
}
.tnth-white:hover,
.tnth-white:focus,
.tnth-white.active {
    color: #333;
    background-color: #fff;
}
.tnth-search {
    display: inline-block;
    padding: 0;
}
.tnth-show-search {
    height: 43px;
}

.hide-initial, .form-group.hide-initial {
  display: none;
}



