{% extends "eproms/base.html" %}
{% block main %}
<style>
    #tnthNavWrapper {
        display: none;
    }
    #mainDiv {
        background: none;
    }
    #errorMessageContainer {
        margin: 1em auto;
        padding: 1em 1em 2em 1em;
        font-weight: bold;
        background-color: #ddd;
        color:#a94442;
        border-radius: 4px;
        width: 400px;
        max-width: 100%
    }

</style>
<div id="fullSizeBox" class="box-min-500">
    <img  src="{{ url_for('.static', filename='img/spacer.jpg') }}" class="tnth-image img-responsive hidden-xs" style="visibility:hidden"/>
    <div id="fullSizeContainer">

        <div class="text-center"><a href="/"><img id="fullSizeLogo" src="{{ url_for('static', filename='img/logo_wordmark.png') }}" alt="TrueNTH" /></a></div>

        <div id="wellContainer">
            <div class="tnth-splash">
                <div id="wellContent">
                    <div id="errorMessageContainer">
                        <h3> {{ _("Internal Server Error") }}</h3>
                        <h4>
                        {{ _("Your request is not processed due to server error(s). If you are still experiencing problem.  Please use the link below.")}}
                        <br/><br/>
                        <a href="/contact" style="font-size: 0.9em">Send Message</a>
                        </h4>
                    </div>
                    <a href="/" class="btn feature-btn feature-btn-primary">{{ _("Back To Home") }}</a>
                </div>
                <div class="tnth-splash-bottom">
                    <a href="/about" class="tnth-splash-bottom-link"><span class="hidden-xs">{{ _("Learn About TrueNTH") }}</span><span class="hidden-sm hidden-md hidden-lg">{{ _("Learn") }}</span></a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}


