{% extends "eproms/base.html" %}
{% from "flask_user/_macros.html" import back_btn, footer %}
{% block main %}
  {{ back_btn(PORTAL, _('Home')) }}
  <h3 class="tnth-headline">{{ _("About TrueNTH") }}</h3>
  <div id="aboutTruenthContainer" class="LREditContainer"><p>{{ about_tnth|safe }}</p></div>
  <input type="hidden" id="LREditUrl" value="{{editorUrl}}" data-show="{{ user and user.has_role(ROLE.CONTENT_MANAGER.value) | lower }}"/>
  {% if config.metadata.version %}
  <br />
    {% if config.metadata.git_hash %}
    <div class="pull-right text-muted smaller-text">TrueNTH Version: <a target="_blank" href="https://github.com/uwcirg/true_nth_usa_portal/commit/{{ config.metadata.git_hash }}" >{{ config.metadata.version }}</a></div>
    {% else %}
    <div class="pull-right text-muted smaller-text">TrueNTH Version: {{ config.metadata.version }}</div>
    {% endif %}
  {% endif %}
{% endblock %}
{% block footer -%}
  {{footer(user=user)}}
{%- endblock %}

