{%- from "eproms/ae_macros.html" import render_card_content -%}
{%- if assessment_status.overall_status == OverallStatus.completed -%}
    {% call render_card_content(title_text=_("Completed Questionnaires")) %}
        <p>
            <a class="portal-weak-auth-disabled" href="{{recent_survey_link}}">
                {{_("View questionnaire completed on %(comp_date)s", comp_date=comp_date)}}
            </a>
        </p>
    {% endcall %}
{%- else -%}
    {% call render_card_content(title_text=_("Completed Questionnaires"), card_class="disabled") %}
        <p>
            {{_("When you are done, completed questionnaires will be shown here.")}}
        </p>
    {% endcall %}
{%- endif -%}
