{%- macro render_card_content(title_text, card_class="") -%}
    <div class="portal-description {{card_class}}">
        <h4 class="portal-description-title">
            {{title_text}}
        </h4>
        <div class="portal-description-body">
            <!-- render the card body html from the calling party-->
            {{caller()}}
        </div>
    </div>
{%- endmacro -%}
{%- macro render_header(title_text) -%}
    <div class="portal-header-container">
        <h2 class="portal-header">{{title_text}}</h2>
        <h4 class="portal-intro-text">{{caller()}}</h4>
    </div>
{%- endmacro -%}
{%- macro render_logout() -%}
    <div class="button-container portal-header-logout-container">
        <a class="btn-lg btn-tnth-primary" href="/logout">{{ _("Log out") }}</a>
    </div>
{%- endmacro -%}