<div class="portal-body">
    <div class="portal-item">
        {% if assessment_status.overall_status in (OverallStatus.due, OverallStatus.overdue, OverallStatus.in_progress) %}
            <!-- patient has pending work in base study -->
            {{ due_block | safe }}
        {% elif unstarted_indefinite_questionnaires or unfinished_indefinite_questionnaires and assessment_status.overall_status != OverallStatus.withdrawn %}
            <!-- patient completed base study, but has outstanding indefinite work-->
            {{ indefinite_due_block | safe }}
        {% elif assessment_status.overall_status == OverallStatus.completed %}
            <!-- patient completed both base and indefinite or withdrew -->
            {{ complete_block | safe }}
        {% elif assessment_status.overall_status == OverallStatus.withdrawn %}
            <!-- patient withdrawn, show questionnaire unavailable anymore? -->
            {{ not_available_block | safe}}
        {% else %}
            <!--If the user was enrolled in indefinite work and lands
                here, they should see the thank you text. -->
            {% if enrolled_in_indefinite %}
                {{ thankyou_block | safe }}
            {% else %}
                {{ not_available_block | safe}}
            {% endif %}
        {% endif %}
    </div>
</div>
