{% extends "eproms/base.html" %}
{% block main_class %}class="landing"{% endblock %}
{%- block body -%}
{%- from "flask_user/_macros.html" import linksHTML -%}
{% if config.SYSTEM_TYPE.upper() != "PRODUCTION" %}
<div class='watermark-nowrapper'>TRUE<sup>NTH</sup> - <span>{{_("%(env)s version - Not for study or clinical use", env=config.SYSTEM_TYPE.upper())}}</span></div>
{% endif %}
<div id="loadingIndicator" class="loading-indicator">{{_("Loading...")}}</div>
<div id="systemMaintenanceContainer" class="sys-maintenance"></div>
<main id="mainHolder" class="main">
    <header>
        <div class="logo-container">
            <a href="/"><img src="{{ url_for('static', filename='img/logo_wordmark.png') }}" alt="{{_('TrueNTH Logo')}}" /></a>
        </div>
    </header>
    <section class="image"></section>
    <section class="login">
        <form action="{{url_for('user.login')}}" method="POST" class="form tnth-form to-validate" role="form" data-toggle="validator">
            <div class="headline">{{ app_text('landing title') }}</div>
            <div class="inputs-container">
                <input type="hidden" name="next" value="/next-after-login" />
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}"/>
                <div class="fields-container">
                    <div class="input-field-container">
                        <div class="email-container">
                            <label class="input-label">{{_("Log in")}}</label>
                            <input class="field" id="email" name="email" type="text" placeholder="{{_('Email Address')}}" required>
                        </div>
                    </div>
                    <div class="input-field-container">
                        <input class="field" id="password" autocomplete="false" name="password" type="password" placeholder="{{_('Password')}}" required>
                    </div>
                    <div class="submit-field-container">
                        <input id="btnLogin" class="btn btn-tnth-primary" type="submit" value="Log In">
                        <a href="{{url_for('user.forgot_password')}}" class="link"><span class="muted">{{_("Having trouble logging in?")}}</span></a>
                    </div>
                    {% if timed_out %}
                        <div id="timeOutMessageContainer">
                            {{_("You have been logged out due to inactivity. Please log in again to continue.")}}
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
        <div class="footer">{{linksHTML()}}</div>
    </section>
</main>
<footer>
    <picture>
        <img class="logo-footer desktop" src="{{url_for('static', filename='img/Movember-Footer-Logo.png')}}" alt="{{_('TrueNTH Footer Logo')}}"/>
        <img class="logo-footer mobile" src="{{url_for('static', filename='img/movember_logo.jpg') }}" alt="{{_('TrueNTH Footer Logo')}}"/>
    </picture>
</footer>
{% block flash_messages %}{{super()}}{% endblock %}<!-- Note previous body block replaces inherited content, need to call flash message block to show flash message-->
{% endblock %}
{% block footer %}<!--empty-->{% endblock %}
{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/flask_user/utility.js') }}"></script>
<script src="{{ url_for('static', filename='js/flask_user/login.js') }}"></script>
<script src="{{ url_for('static', filename='js/dist/landing.bundle.js') }}"></script>
{% endblock %}


