{% extends "eproms/base.html" %}
{% block main_class %}class="landing"{% endblock %}
{%- block body -%}
{%- from "flask_user/_macros.html" import linksHTML -%}
{% if config.SYSTEM_TYPE.upper() != "PRODUCTION" %}
<div class='watermark-nowrapper'>TRUE<sup>NTH</sup> - <span>{{_("%(env)s version - Not for study or clinical use", env=config.SYSTEM_TYPE.upper())}}</span></div>
{% endif %}
<div id="loadingIndicator" class="loading-indicator">Loading...</div>
<main id="mainHolder" class="main">
    <header>
        <div class="logo-container">
            <a href="/"><img src="{{ url_for('static', filename='img/logo_wordmark.png') }}" alt="{{_('TrueNTH Logo')}}" /></a>
        </div>
    </header>
    <section class="message-section">
        {% if config.MAINTENANCE_MESSAGE -%}
            <div class="sys-maintenance">
                <img src="{{ url_for('static', filename='img/logo_wordmark_topnav.png') }}" alt="{{_('TrueNTH Logo')}}" width="100px" />
                <div class="message-container">
                    <p class="title">{{_("Please note")}}</p>
                    <p class="message">{{config.MAINTENANCE_MESSAGE | safe}}</p>
                </div>
            </div>
        {%- endif %}
    </section>
    <section class="image"></section>
    <section class="login">
        <form action="{{url_for('user.login')}}" method="POST" class="form tnth-form to-validate" role="form" data-toggle="validator">
            <div class="headline">{{ app_text('landing title') }}</div>
            <div class="inputs-container">
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}"/>
                <div class="fields-container">
                    <div class="input-field-container">
                        <div class="email-container">
                            <label class="input-label">{{_("log in")}}</label>
                            <input class="field" id="email" name="email" autocomplete="off" readonly type="text" placeholder="{{_('Email Address')}}" required>
                        </div>
                    </div>
                    <div class="input-field-container">
                        <input class="field" id="password" autocomplete="false" name="password" type="password" placeholder="{{_('Password')}}" required>
                    </div>
                    <div class="submit-field-container">
                        <input id="btnLogin" class="btn btn-tnth-primary" type="submit" value="Log In" disabled="disabled" class="disabled">
                        <a href="{{url_for('user.forgot_password')}}" class="link"><span class="muted">{{_("Having trouble logging in?")}}</span></a>
                    </div>
                    {% if timed_out %}
                        <div id="timeOutMessageContainer">
                            {{_("You have been logged out due to inactivity. Please log in again to continue.")}}
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
        <div class="footer">{{linksHTML()}}</div>
    </section>
</main>
<footer>
    <picture>
        <!--
        <source media="(min-width: 992px)" srcset="{{url_for('static', filename='img/Movember-Footer-Logo.png')}}">
        <source srcset="{{url_for('static', filename='img/movember_logo.jpg') }}">
        -->
        <img class="logo-footer desktop" src="{{url_for('static', filename='img/Movember-Footer-Logo.png')}}" alt="{{_('TrueNTH Footer Logo')}}"/>
        <img class="logo-footer mobile" src="{{url_for('static', filename='img/movember_logo.jpg') }}" alt="{{_('TrueNTH Footer Logo')}}"/>
    </picture>
</footer>
<!--
<div id="fullSizeBox" class="box-min-500">
    <img  src="{{ url_for('.static', filename='img/spacer.jpg') }}" class="tnth-image img-responsive hidden-xs" style="visibility:hidden" alt="spacer image"/>
    <div id="fullSizeContainer">
        <div class="text-center"><a href="/"><img id="fullSizeLogo" src="{{ url_for('static', filename='img/logo_wordmark.png') }}" alt="{{_('TrueNTH')}}" /></a></div>
        <div id="wellContainer">
            <div class="tnth-splash">
                <div id="wellContent">
                    <div class="headline">
                        <div style="margin-bottom: 1em">{{ app_text('landing title') }}</div>
                        {{ app_text('landing sub-title') }}
                    </div>
                    {% if config.MAINTENANCE_MESSAGE -%}
                        <div class="sys-maintenance">
                            <h4 class="title">{{_("Please note")}}
                            <h4 class="message">{{config.MAINTENANCE_MESSAGE | safe}}</h4>
                        </div>
                    {%- endif %}
                    <a href="/go" class="btn feature-btn feature-btn-primary">{{ _("Register") }}</a> &nbsp;&nbsp; <a href="/user/sign-in" class="btn feature-btn feature-btn-primary">{{ _("Log in") }}</a>
                    {% if timed_out %}
                        <div id="timeOutMessageContainer">
                            {{ _("You have been logged out due to inactivity. Please log in again to continue.") }}
                        </div>
                    {% endif %}
                </div>

                <div class="tnth-splash-bottom">
                    <a href="/explore" class="tnth-splash-bottom-link"><span class="hidden-xs">{{ _("Explore How This Works") }}</span><span class="hidden-sm hidden-md hidden-lg">{{ _("Explore") }}</span></a><span class="tnth-splash-bottom-link separator"></span><a href="/about" class="tnth-splash-bottom-link"><span class="hidden-xs">{{ _("Learn About TrueNTH") }}</span><span class="hidden-sm hidden-md hidden-lg">{{ _("Learn") }}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
-->
{% endblock %}
{% block footer %}<!--empty-->{% endblock %}
{% block additional_scripts %}<script src="{{ url_for('.static', filename='js/landing.js') }}"></script>{% endblock %}


