{% extends "eproms/base.html" %}
{%- from "flask_user/_macros.html" import footer -%}
{% block main %}
{%- if config.get("SHOW_WELCOME") and user.has_role(ROLE.WRITE_ONLY.value) -%}
    <div class="portal-item">
        <h2 class="tnth-subhead">{{ _("Welcome to TrueNTH") }}</h2>
        {{ _("Tools for navigating the prostate cancer journey") }}
    </div>
{%- endif -%}
<div class="portal-body">
    {# present each intervention in turn if configured for user #}
    {%- for intervention in interventions -%}
        {% set display = intervention.display_for_user(user) %}
        {%- if display.access -%}
            <div class="portal-item">
                {%- if intervention.name == "assessment_engine" %}
                    {%- if display.card_html -%}
                        {%  set ae_html = assessment_engine_view(user) %}
                        {{ ae_html | safe }}
                        <input type="hidden" class="link-label" value="{{display.link_label}}" />
                        <input type="hidden" class="link-url" value="{{display.link_url}}" />
                    {%- else -%}
                        {{render_card_content(intervention, display, class='portal-description-incomplete portal-no-description-container')}}
                    {%- endif %}
                {%- else -%}
                    {% call render_card_content(intervention, display) %}
                        <div class="portal-description-body">
                            {%- if display.card_html -%}
                                {{ display.card_html | safe }}
                            {%- else -%}
                                {{_("Not available")}}
                            {%- endif -%}
                        </div>
                    {% endcall %}
                {%- endif -%}
            </div>
        {%- endif -%}
    {%- endfor -%}
</div>
{% endblock %}
{% block footer %}{{footer(False, True, user)}}{% endblock %}
{% block additional_scripts %}<script src="{{ url_for('.static', filename='js/portal.js') }}"></script>{% endblock %}
{% macro render_card_content(intervention, display, class='') -%}
    <div class="portal-description {{class}}">
        {%- if intervention.description -%}<h2 class="tnth-subhead title">{{ intervention.description }}</h2>{% endif %}
        {{ caller() }}
        {%- if not display.link_url -%}
            <div class="button-container {{class}}">
                <a class="btn-lg btn-tnth-primary disabled" href="#">{{display.link_label or _("Not Available")}}</a>
            </div>
        {%- else -%}
            <div class="button-container">
                <a class="btn-lg btn-tnth-primary" href="{{ display.link_url }}">{{display.link_label or _("Go to link")}}</a>
            </div>
        {%- endif -%}
    </div>
{%- endmacro %}

