{% extends "eproms/base.html" %}
{% from "flask_user/_macros.html" import back_btn, footer %}
{% block main %}
  	{{ back_btn(PORTAL, _('Home')) }}
    <h1 class="tnth-headline">{{ _("Privacy") }}</h1>
    <br/>
	<div id="privacyContentContainer"><p>{{ content|safe }}</p></div>
{% endblock %}
{% block footer %}
{{footer(user=user)}}
{% endblock %}
{% block document_ready %}
	{% if request.args.get("disableLinks", "") %}
	$("document").ready(function() {
		setTimeout(function() {
			Utility.disableHeaderFooterLinks();
		}, 1000);
	});
	{% endif %}
{% endblock %}
{% block additional_scripts %}
	{% if editorUrl %}
	<!-- TODO in a separate JS-->
	<script>Utility.appendLREditContainer($("#privacyContentContainer"), "{{editorUrl}}", {{ user and user.has_role(ROLE.CONTENT_MANAGER.value) | lower }});</script>
	{% endif %}
{% endblock %}
