{% extends "eproms/base.html" %}
{% block main %}
<h3 class="tnth-headline">{{_("Resources")}}</h3>
<article id="resourcesContentContainer">
    <section class="tabs-container">
        {% if demo_content|length > 0 %}
            <!-- training material in video or slides-->
            <div class="tab">
              <input id="tab-one" type="checkbox" name="tabs" class="tab-input">
              <label for="tab-one" class="tab-label">{{_("Training Slides and Video")}}</label>
              <div class="tab-content">
                <ul class="work-instruction-list">
                    {% for item in demo_content %}
                        <li class="work-instruction-item">{{item | safe}}</li>
                    {% endfor %}
                </ul>
              </div>
            </div>
        {% endif %}
        <div class="tab">
            <input id="tab-two" type="checkbox" name="tabs" class="tab-input">
            <label for="tab-two" class="tab-label">{{_("Work Instructions")}}</label>
            <div class="tab-content">
                <ul class="work-instruction-list">
                    {% for asset in results %}
                        {% if 'individual work instruction' in asset['tags'] %}
                                    <li class="work-instruction-item">
                                        <a href="{{url_for('.work_instruction', tag=asset['topics'][0])}}" class="first-letter">{{asset['title']}}</a>
                                    </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</article>
{% endblock %}
{% block additional_scripts %}
<script src="{{url_for('.static', filename='js/resources.js')}}"></script>
{% endblock %}
