{% extends "eproms/base.html" %}
{% from "flask_user/_macros.html" import footer, back_btn %}
{% block main %}
  {{ back_btn(PORTAL, _('Home')) }}
    <h1 class="tnth-headline">{{ _("General Terms") }}</h1>
	<div id = "termsConditionsContainer"><p>{{ content|safe }}</p></div>
{% endblock %}
{% block footer %}
{{footer(user=user)}}
{% endblock %}
{% block additional_scripts %}
	{% if editorUrl %}
		<script>Utility.appendLREditContainer($("#termsConditionsContainer"), "{{editorUrl}}", {% if user and user.has_role(ROLE.CONTENT_MANAGER.value) %}true{% else %}false{%endif%});</script>
	{% endif %}
{% endblock %}
{% block document_ready %}
	{% if request.args.get("disableLinks", "") %}
	$("document").ready(function() {
		setTimeout(function() { //TODO move this to a separate JS
			Utility.disableHeaderFooterLinks();
		}, 1000);
	});
	{% endif %}
{% endblock %}
