{% extends "eproms/base.html" %}
{% block main %}
	{%- from "initial_queries_macros.html" import paperWebsiteConsentScript, interviewAssistedWebConsentScript -%}
	<div id="termsContainer" class="website-consent-script">
		<input id="wcsTopOrganization"  data-id="{{top_organization.id}}" data-name="{{top_organization.name}}"  type="hidden" />
		{%- if entry_method == 'paper' %}
			{{paperWebsiteConsentScript(terms)}}
		{%- else -%}
			{{interviewAssistedWebConsentScript(terms, declaration_form)}}
		{%- endif -%}
	</div>
	<div class="continue-msg-wrapper hidden-print">
      <div id="buttonsContainer" class="button-container"><button id="continue" type="button" class="btn btn-lg btn-tnth-primary">{{ _("Continue to TrueNTH") }}</button></div>
    </div>
{% endblock %}
{% block footer %}
{%- from "flask_user/_macros.html" import footer -%}
{{footer(user=user)}}
{% endblock %}
{% block additional_scripts %}
<script src="{{url_for('static', filename='js/dist/websiteConsentScript.bundle.js')}}"></script>
{% endblock %}
