*.egg-info
*.egg
*.eggs
*.sqlite
*.pyc
*~
*.swp
.coverage
application.cfg
site.cfg
env
lib
local
include
man
pip-selfcheck.json
log
portal/test_uploads
docker/portal.env

.idea
.settings/
.pydevproject
.project
