*.egg-info
*.egg
*.eggs
*.sqlite
*.pyc
*~
*.swp
.coverage
application.cfg
site.cfg
celerybeat-schedule
env
lib
local
include
man
pip-selfcheck.json
log
portal/test_uploads
docker/portal.env

.idea
.settings/
.pydevproject
.project

portal/node_modules/
portal/package-lock.json
portal/less_css_gulpfile.js
portal/package-lock.json
.gitignore
node_modules/
package-lock.json
portal/static/js/dist/
.gitignore
portal/package.json