# base application dependencies

alembic==1.4.3            # via flask-migrate
amqp==2.5.2               # via kombu
babel==2.9.0              # via flask-babel, sphinx
bcrypt==3.2.0             # via flask-user
billiard==3.6.3.0         # pyup: < 4.0  # pin until celery upgraded # via celery
blinker==1.4              # via flask-mail, flask-webtest
celery==4.3.0
certifi==2019.9.11        # via requests
cffi==1.14.0              # via bcrypt
chardet==3.0.4            # via requests
click==7.1.2                # via flask
coverage==5.4
decorator==4.4.0          # via validators
dogpile.cache==0.9.0      # via flask-sqlalchemy-caching
enum34==1.1.6
flask-babel==1.0.0
flask-caching==1.8.0      # via flask-sqlalchemy-caching
flask-dance[sqla]==1.4.0
flask-login==0.4.1        # via flask-user
flask-mail==0.9.1         # via flask-user
flask-migrate==2.5.3
flask-oauthlib==0.9.6
flask-recaptcha==0.4.2
flask-session==0.3.2
flask-sqlalchemy==2.4.1
flask-sqlalchemy-caching==1.0.4
flask-swagger==0.2.14
git+https://github.com/uwcirg/Flask-User.git@0.6.21.2#egg=flask-user # pyup: <0.7 # pin until 1.0 is ready for prod
flask-wtf==0.14.3         # via flask-user
flask==1.0.3
fuzzywuzzy==0.17.0
healthcheck==1.3.3
idna==2.10                 # via requests
itsdangerous==1.1.0        # via flask
jinja2==2.11.3              # via flask, flask-babel, sphinx
jsonschema==3.0.2
json-logging==1.3.0
kombu==4.6.6              # pyup: < 5.0 # via celery
mako==1.1.0               # via alembic
markupsafe==1.1.1           # via jinja2, mako
oauthlib==2.1.0 # pyup: < 3.0.0  # pin until flask-oauthlib, flask-dance, requests-oauthlib upgraded
onetimepass==1.0.1
passlib==1.7.1            # via flask-user
polib==1.1.1
pycparser==2.20           # via cffi
pycryptodome==3.9.9       # via flask-user
python-dateutil==2.8.0
python-editor==1.0.4      # via alembic
python-levenshtein==0.12.0
python-memcached==1.59    # via flask-dogpile-cache
python-statemachine==0.8.0	# via python-statemachine
pytz==2020.5              # via babel, celery
pyyaml==5.4              # via flask-swagger, swagger-spec-validator
redis==3.5.3
requests-cache==0.5.2
requests-oauthlib==1.1.0  # pyup: <1.2.0 # pin until OAuthlib>=3.0.0 # via flask-oauthlib
requests==2.25.1          # via flask-recaptcha, requests-cache, requests-oauthlib, sphinx
six==1.14.0               # via bcrypt, packaging, python-dateutil, python-memcached, sphinx, swagger-spec-validator, tox, validators, webtest
sqlalchemy==1.3.11         # via alembic, flask-sqlalchemy
swagger-spec-validator==2.7.3
urllib3==1.25.8             # via requests
validators==0.14.0 # pyup: <=0.10.1 # pin until require_tld supported again
vine==1.3.0               # via amqp
werkzeug==1.0.1           # via flask
wtforms==2.2.1            # via flask-wtf
