# application development dependencies
--requirement requirements.txt

alabaster==0.7.12         # via sphinx
beautifulsoup4==4.8.0     # via webtest
docutils==0.14            # via sphinx
flask-testing==0.7.1
flask-webtest==0.0.9
imagesize==1.1.0          # via sphinx
mock==3.0.5
packaging==19.1           # via sphinx, tox
page-objects==1.1.0
pluggy==0.12.0             # via tox
# use pre-compiled binary for testing, build from source for prod
# http://initd.org/psycopg/docs/install.html#binary-install-from-pypi
psycopg2-binary==2.8.3
py==1.8.0                 # via tox
pygments==2.4.2           # via sphinx
pyparsing==2.4.1.1          # via packaging
pytest==4.6.3
selenium==3.141.0
snowballstemmer==1.2.1    # via sphinx
sphinx-rtd-theme==0.4.3
sphinx==2.1.2;python_version >= '3'
sphinxcontrib-websupport==1.1.2  # via sphinx
tox==3.13.2
typing==3.7.4             # via sphinx
virtualenv==16.6.1        # via tox
waitress==1.3.0           # via webtest
webob==1.8.5              # via webtest
webtest==2.0.33           # via flask-webtest
xvfbwrapper==0.2.9
--editable .
