# application development dependencies
--requirement requirements.txt

alabaster==0.7.12         # via sphinx
beautifulsoup4==4.9.3     # via webtest
docutils==0.14            # via sphinx
flask-testing==0.8.1
flask-webtest==0.0.9
imagesize==1.1.0          # via sphinx
mock==3.0.5
packaging==19.2           # via sphinx, tox
page-objects==1.1.0
pluggy==0.13.1             # via tox
# use pre-compiled binary for testing, build from source for prod
# http://initd.org/psycopg/docs/install.html#binary-install-from-pypi
psycopg2-binary==2.8.6
py==1.10.0                # via tox
pygments==2.7.3           # via sphinx
pyparsing==2.4.7          # via packaging
pytest==5.2.2
pytest-flask==0.15.1
selenium==3.141.0
snowballstemmer==2.0.0    # via sphinx
sphinx-rtd-theme==0.5.1
sphinx==3.3.1
sphinxcontrib-websupport==1.1.2  # via sphinx
tox==3.14.6
typing==3.7.4.3             # via sphinx
virtualenv==20.4.2        # via tox
waitress==1.4.3           # via webtest
webob==1.8.5              # via webtest
webtest==2.0.33           # via flask-webtest
xvfbwrapper==0.2.9
--editable .
