# application production dependencies
--requirement requirements.txt

gunicorn==22.0.0

# build from source for prod, use pre-compiled binary for testing
# http://initd.org/psycopg/docs/install.html#binary-install-from-pypi
psycopg2==2.8.6
