{%- extends "profile/profile_base.html" -%}
{%- import "profile/profile_macros.html" as profile_macro -%}
{% block profile_title %}
  {{_("My TrueNTH Profile")}}
{% endblock %}
{% block profile_content %}
    {{profile_macro.profileDemo(user, current_user)}}
    {% if user and user.has_role(ROLE.PATIENT.value) %}
        {{profile_macro.profileDemoDetail(user, current_user)}}
        <div class="row" id="profileSessionListMainContainer">
            <div class="col-md-12 col-xs-12">
                {% call profile_macro.profileSection(editable=False) %}
                    {% call profile_macro.titleSection(id="proAssessmentsLoc") -%}{{_("My Questionnaires")}}{%- endcall%}
                    {{profile_macro.profileSessionList(user, current_user)}}
                {% endcall %}
            </div>
        </div>
        {{profile_macro.patientReports(user) | show_macro('intervention_reports')}}
        {{profile_macro.profileClinicalQuestions(user, current_user) | show_macro('clinical_questions')}}
        {{profile_macro.profileProcedures(user, current_user) | show_macro('procedures')}}
        {%-if ROLE.PATIENT.value in config.CONSENT_EDIT_PERMISSIBLE_ROLES-%}
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    {% call profile_macro.profileSection(data_sections="org") %}
                        {% call profile_macro.titleSection() %}{{ _("My Clinic") }}{% endcall %}
                        {{profile_macro.profileOrgsSelector(user, current_user)}}
                    {% endcall %}
                </div>
            </div>
        {%-else-%}
             <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="profile-item-container" data-sections="org">
                        {{profile_macro.profileEditButton()}}
                        {% call profile_macro.titleSection() -%}{{ _("My Clinic") }}{%- endcall %}
                        {{profile_macro.profileOrg(person=user,consent_agreements=consent_agreements, current_user=current_user)}}
                    </div>
                </div>
            </div>
        {%-endif-%}
        <div class="row">
            <div class="col-md-12 col-xs-12">
                {% call profile_macro.profileSection(editable=False) -%}
                    {% call profile_macro.titleSection(id="consentHistory") -%}{{_("My Agreement")}}{%- endcall%}
                    {{profile_macro.profileConsent(user, current_user)}}
                {%- endcall %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="profile-item-container {% if user and user.has_role(ROLE.ADMIN.value) %}editable{% endif %}" data-sections="org">
                    {{profile_macro.profileEditButton()}}
                    {% call profile_macro.titleSection(id="orgsLoc") -%}{{_("My Clinic")}}{%- endcall%}
                    {{profile_macro.profileOrg(person=user,consent_agreements=consent_agreements, current_user=current_user)}}
                </div>
            </div>
        </div>
    {% endif %}
     <div class="row">
        <div class="col-md-12 col-xs-12">
           {{profile_macro.profileLocaleTimeZone(user)}}
        </div>
    </div>
    {% if user and user.has_role(ROLE.ADMIN.value) and not user.has_role(ROLE.SERVICE.value) %}
        <div class="row">
            <div class="col-md-12 col-xs-12">
                {% call profile_macro.profileSection() -%}
                     {% call profile_macro.titleSection(id="rolesLoc") -%}{{_("My Roles")}}{%- endcall%}
                    {{profile_macro.profileRole(user, current_user)}}
                {%- endcall %}
            </div>
        </div>
    {% endif %}
{% endblock %}

