{%- extends "profile/profile_base.html" -%}
{%- import "profile/profile_macros.html" as profile_macro -%}
{% block profile_title %}
  {{ _("Patient Profile") }}
  <div class="subheader">
    {%- if user.first_name and user.last_name -%}
    {{user.first_name}} {{user.last_name}}
    {%- elif user.first_name -%}
      {{user.first_name}}
    {%- elif user.last_name -%}
      {{user.last_name}}
    {%- elif user.email -%}
      {{ user.email }}
    {%- else -%}
      #{{ user.id}}
    {%-endif-%}
  </div> 
{% endblock %}
{% block profile_content %}
  {% if config.CUSTOM_PATIENT_DETAIL and current_user and current_user.has_role(ROLE.STAFF.value, ROLE.STAFF_ADMIN.value) -%}
    {{ profile_macro.profileCustomDetail(person=user, substudy_assessment_is_ready=substudy_assessment_is_ready) }}
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h4 class="profile-item-title detail-title">{{_("Patient Details")}}</h4>
      </div>
    </div>
  {%- else %}
    <nav id="indexNavBar">
      <span id="loginAsPatient" data-toggle="modal" data-target="#loginAsModal" class="link"><a data-toggle="tooltip" data-placement="top" title="{{_('For kiosk style administration of an assessment')}}">{{ _("Log in as this patient") }}</a></span>
      <div class="modal fade" id="loginAsModal" tabindex="-1" role="dialog" aria-labelledby="loginAsModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="loginAsModalLabel">{{ _("Log in as this patient") }}</h4>
              </div>
              <div class="modal-body">
                <br/>
                <p class="text-left">{{ _('This is intended for "kiosk" style administration of an assessment, wherein the staff person "logs in as the patient", which logs the staff person out of their session, and automatically logs in this patient without their needing to enter login credentials. Proceed?') }}</p>
                <br/>
              </div>
              <div class="modal-footer">
                <button id="btnLoginAs" type="button" class="btn btn-default">{{ _("OK") }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Cancel") }}</button>
              </div>
            </div>
          </div>
      </div>
    </nav>
  {%- endif %}
  {{profile_macro.profileDemo(user, current_user)}}
  {%- if current_user.has_role(ROLE.STAFF.value, ROLE.STAFF_ADMIN.value) -%}
    <div class="row" id="treatingCliniciansSection" class="eproms-substudy" v-show="isSubStudyPatient()"> 
      <div class="col-md-12 col-xs-12">
          {{profile_macro.profileTreatingClinician(user)}}
      </div>
    </div>
  {%- endif -%}
  {%- if current_user.has_role(ROLE.STAFF.value, ROLE.STAFF_ADMIN.value, ROLE.CLINICIAN.value) -%}
    <div class="row" id="longitudinalReportSection" class="eproms-substudy" v-show="hasSubStudyAsssessmentData()"> 
      <div class="col-md-12 col-xs-12">
          {{profile_macro.longitudinalReport(user)}}
      </div>
    </div>
    <div class="row" id="postInterventionQuestionnaireSection" class="eproms-substudy"> 
      <div class="col-md-12 col-xs-12">
          {{profile_macro.postInterventionQuestionnaire(user)}}
      </div>
    </div>
  {%- endif -%}
  {{profile_macro.profileDemoDetail(user, current_user)}}
  {{profile_macro.profileCommunications(user, current_user)}}
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="profile-item-container {% if (current_user and current_user.has_role(ROLE.STAFF.value, ROLE.STAFF_ADMIN.value) and ROLE.STAFF.value in config.CONSENT_EDIT_PERMISSIBLE_ROLES) or (current_user and current_user.has_role(ROLE.ADMIN.value)) or (user and user.has_role(ROLE.STAFF.value, ROLE.CLINICIAN.value) and current_user and current_user.has_role(ROLE.STAFF_ADMIN.value))%}editable{% endif %}" data-sections="org">
        {{profile_macro.profileEditButton()}}
        {% call profile_macro.titleSection() -%}{{ _("Clinic") }}{%- endcall %}
        {{profile_macro.profileOrg(person=user,consent_agreements=consent_agreements, current_user=current_user)}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      {% call profile_macro.profileSection(editable=False) -%}
        {% call profile_macro.titleSection(id="consentHistoryLoc") -%}{% if config.CONSENT_WITH_TOP_LEVEL_ORG %}{{_("Agreement to Share Clinical Information")}} {%else%}{{ _("Consent History") }} {%endif%}{%-endcall %}
        {{profile_macro.profileConsent(user, current_user)}}
      {%- endcall %}
    </div>
  </div>
  {%- if current_user and current_user.has_role(ROLE.INTERVENTION_STAFF.value) %}
      {{profile_macro.profileInterventions(user_interventions) | show_macro('interventions')}}
  {%- endif %}
  <div class="row" id="profileSessionListMainContainer">
      <div class="col-md-12 col-xs-12">
        {% call profile_macro.profileSection(editable=False) -%}
          {% call profile_macro.titleSection(id="proAssessmentsLoc") -%}{{_("PRO Questionnaires")}}{%-endcall %}
          {{profile_macro.profileSessionList(user, current_user)}}
        {%-endcall %}
      </div>
  </div>
  {{profile_macro.profileClinicalQuestions(user, current_user) | show_macro('clinical_questions')}}
  {{profile_macro.profileProcedures(user, current_user) | show_macro('procedures')}}
  {{profile_macro.profileInterventionReports(user) | show_macro('intervention_reports')}}
  {{profile_macro.patientReports(user) | show_macro('intervention_reports')}}
  {{profile_macro.profileDeceased(user, current_user)}}
  <div class="row">
    <div class="col-md-12 col-xs-12">{{profile_macro.profileLocaleTimeZone(user)}}</div>
  </div>
  {%- if (user and current_user) and current_user.has_role(ROLE.ADMIN.value) and not user.has_role(ROLE.SERVICE.value) %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            {% call profile_macro.profileSection(editable=False) -%}
                 {% call profile_macro.titleSection(id="rolesLoc") -%}{{ _("User Roles") }}{%- endcall %}
                 {{profile_macro.profileRole(user, current_user)}}
            {%- endcall %}
        </div>
    </div>
  {%- endif %}
  {%- if (user and current_user) and current_user.has_role(ROLE.ADMIN.value, ROLE.STAFF.value, ROLE.STAFF_ADMIN.value, ROLE.INTERVENTION_STAFF.value) %}
      <div class="row">
          <div class="col-md-12 col-xs-12">
              {% call profile_macro.profileSection(editable=False) -%}
                  {% call profile_macro.titleSection(id="auditLogLoc") -%}{{ _("Audit Log") }}{%-endcall%}
                  {{profile_macro.profileAuditLog(user, current_user)}}
              {%- endcall %}
          </div>
      </div>
  {%- endif %}
{% endblock %}
