{% extends "profile/profile_create_base.html" %}
    {% block content %}
    <div id="accountCreationContentContainer" data-account="patient">
        <div class="row">
            <div class="col-md-11 col-xs-12">
                {{profileName(False)}}
                <br/>
                {{profileBirthDate(False)}}
            </div>
        </div>
        <div class="form-group float-input-label profile-section" id="emailGroup">
            <label for="email">{{ _("Email Address") }}</label>
            <input type="text" class="form-control" id="email" name="email" autocomplete="off" placeholder="{{ _('Email Address') }}" value="" data-customemail="true" data-save-container-id="emailGroup" required />
            <div id="noEmailContainer">
                <input type="checkbox" id="noEmail" aria-label="{{_('No email')}}" class="text-muted">&nbsp;&nbsp;<span class="text-muted">{{_("User does not have email address")}}</span>
            </div>
            <div class="help-block with-errors" id="erroremail"></div>
            {{saveLoaderDiv("emailGroup")}}
        </div>
        {{profilePhone(False)}}
        {{profileAltPhone(False)}}
        {{profileStudyID(user)}}
        {{profileSiteID(user)}}
        {{profileConsentDate()}}
        {{profileProcedures(False, user)}}
        <div class="divider"></div>
        {{addClinics()}}
    </div>
    {% endblock %}
{% block additional_scripts %}{{super()}}{% endblock %}

