{%- extends "layout.html" -%}
{%- from "flask_user/_macros.html" import linksHTML, logo -%}
{%- block main -%}
<form id="profileForm" class="form tnth-form to-validate" data-toggle="validator">
  <input type="hidden" id="profileUserId" value="{{user.id if user}}" />
  <input type="hidden" id="profileCurrentUserId" value="{{current_user.id if current_user}}" />
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <br/>
      <div class="right-panel">
        <div class="flex">
          <div id="profileHeader" class="profile-header"><h4 class="tnth-headline">{% block profile_title %}{{_("TrueNTH Profile")}}{% endblock %}</h4></div>
        </div>
        <div id="profileErrorMessage" class="error-message"></div>
        <div id="profileMainContent" class="{%if user.has_role(ROLE.PATIENT)%}patient-view{%endif %}">{% block profile_content %}{% endblock %}</div>
        <br/><br/>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block footer %}<div id="homeFooter" class="footer-wrapper right-panel"><div class="flex footer-container"><div class="copyright-container">{{linksHTML(user=current_user)}}</div><div class="logo-container">{{logo(True)}}</div></div></div>{% endblock %}
{% block additional_scripts %}
  <script src="{{ url_for('static', filename='js/dist/profile.bundle.js') }}"></script>
  <!--<script src="{{ url_for('static', filename='js/procedures.js') }}" async></script>-->
{% endblock %}
