{%- extends "profile/profile_base.html" -%}
{%- import "profile/profile_macros.html" as profile_macro -%}
{% block profile_title %}
  {%- if user.email -%}
    {% trans user_email=user.email %}Profile for {{ user_email }}{% endtrans %}
  {%- else -%}
    {% trans user_id=user.id %}Profile for #{{ user_id }}{% endtrans %}
  {%- endif -%}
{% endblock %}
{% block profile_content %}
    {{profile_macro.profileDemo(user, current_user)}}
    {{profile_macro.profileCommunications(user, current_user)}}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            {% call profile_macro.profileSection(data_sections="org") -%}
                {% call profile_macro.titleSection() -%}{{ _("Clinic") }}{%- endcall %}
                {{profile_macro.profileOrg(person=user,consent_agreements=consent_agreements, current_user=current_user)}}
            {%- endcall %}
        </div>
    </div>
    <div class="row"><div class="col-md-12 col-xs-12">{{profile_macro.profileLocaleTimeZone(user)}}</div></div>
    
    {%- if (user and current_user) and current_user.has_role(ROLE.ADMIN.value, ROLE.STAFF_ADMIN.value) and not user.has_role(ROLE.SERVICE.value) %}
        <!-- role list will be filtered if a staff admin user is accessing the roles list -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                {% call profile_macro.profileSection(editable=False) -%}
                    {% call profile_macro.titleSection(id="rolesLoc") -%}{{ _("User Roles") }}{% endcall %}
                    {{profile_macro.profileRole(user, current_user)}}
                {%- endcall %}
            </div>
        </div>
    {%- endif %}
    {%- if (user and current_user) and current_user.has_role(ROLE.ADMIN.value, ROLE.STAFF_ADMIN.value, ROLE.STAFF.value, ROLE.INTERVENTION_STAFF.value) %}
        <div class="row">
            <div class="col-md-12 col-xs-12">
                {% call profile_macro.profileSection(editable=False) -%}
                    {% call profile_macro.titleSection(id="auditLogLoc") -%}{{ _("Audit Log") }}{% endcall %}
                    {{profile_macro.profileAuditLog(user, current_user)}}
                {%- endcall %}
            </div>
        </div>
    {%- endif %}
{% endblock %}

