{%- extends "profile/profile_base.html" -%}
{%- import "profile/profile_macros.html" as profile_macro -%}
{% block profile_title %}
  {%- if user.email -%}
    {% trans user_email=user.email %}Profile for {{ user_email }}{% endtrans %}
  {%- else -%}
    {% trans user_id=user.id %}Profile for #{{ user_id }}{% endtrans %}
  {%- endif -%}
{% endblock %}
{% block profile_content %}
    <!--
        profile view for user via admin page
        vieweable only by admin staff
    -->
    {{profile_macro.profileDemo(user, current_user)}}
    {%-if user and user.has_role(ROLE.PATIENT.value) %}
        {{profile_macro.profileDemoDetail(user, current_user)}}
    {%- endif %}
    {{profile_macro.profileCommunications(user, current_user)}}

    <div class="row">
        <div class="col-md-12 col-xs-12">
            {% call profile_macro.profileSection(data_sections="org") -%}
                {% call profile_macro.titleSection(id="orgsLoc") -%}{{ _("Clinic") }}{%- endcall %}
                {{profile_macro.profileOrg(person=user,consent_agreements=consent_agreements, current_user=current_user)}}
            {%- endcall %}
        </div>
    </div>
    {%- if user and user.has_role(ROLE.PATIENT.value, ROLE.PARTNER.value) %}
        <div class="row">
            <div class="col-md-12 col-xs-12">
                {% call profile_macro.profileSection(editable=False) -%}
                    {% call profile_macro.titleSection(id="consentHistoryLoc") -%}{% if config.CONSENT_WITH_TOP_LEVEL_ORG %}{{_("Agreement to Share Clinical Information")}} {%else%}{{ _("Consent History") }} {%endif%}{%- endcall %}
                    {{profile_macro.profileConsent(user, current_user)}}
                {%- endcall %}
            </div>
        </div>
    {%- endif %}

    {%- if user and user.has_role(ROLE.PATIENT.value) and current_user and current_user.has_role(ROLE.INTERVENTION_STAFF.value) %}
        {{profile_macro.profileInterventions(user_interventions) | show_macro('interventions')}}
    {%- endif %}

    {%- if user and user.has_role(ROLE.PATIENT.value) %}
        <div class="row" id="profileSessionListMainContainer">
            <div class="col-md-12 col-xs-12">
                {% call profile_macro.profileSection(editable=False) -%}
                    {% call profile_macro.titleSection(id="proAssessmentsLoc") -%}{% if current_user and current_user.has_role(ROLE.PATIENT.value) %}{{_("My Questionnaires")}}{% else %}{{_("PRO Questionnaires")}}{% endif %}{%- endcall %}
                    {{profile_macro.profileSessionList(user, current_user)}}
                {%- endcall %}
            </div>
        </div>
    {%- endif %}

    {%- if user and user.has_role(ROLE.PATIENT.value) %}
        {{profile_macro.profileClinicalQuestions(user, current_user) | show_macro('clinical_questions')}}
        {{profile_macro.profileProcedures(user, current_user) | show_macro('procedures')}}
        {{profile_macro.profileInterventionReports(user) | show_macro('intervention_reports')}}
        {{profile_macro.patientReports(user) | show_macro('intervention_reports')}}
        {{profile_macro.profileDeceased(user, current_user)}}
    {%- endif %}
    <div class="row">
        <div class="col-md-12 col-xs-12">{{profile_macro.profileLocaleTimeZone(user)}}</div>
    </div>
    {%- if (user and current_user) and current_user.has_role(ROLE.ADMIN.value) and not user.has_role(ROLE.SERVICE.value) %}
        <div class="row">
            <div class="col-md-12 col-xs-12">
                {% call profile_macro.profileSection(editable=False) -%}
                    {% call profile_macro.titleSection(id="rolesLoc") -%}{{_("User Roles")}}{% endcall %}
                    {{profile_macro.profileRole(user, current_user)}}
                {%- endcall %}
            </div>
        </div>
    {%- endif %}

    {%- if (user and current_user) and current_user.has_role(ROLE.ADMIN.value, ROLE.STAFF.value, ROLE.INTERVENTION_STAFF.value) %}
        <div class="row">
            <div class="col-md-12 col-xs-12">
                {% call profile_macro.profileSection(editable=False) -%}
                    {% call profile_macro.titleSection(id="auditLogLoc") -%}{{_("Audit Log")}}{% endcall %}
                    {{profile_macro.profileAuditLog(user, current_user)}}
                {%- endcall %}
            </div>
        </div>
    {%- endif %}
{% endblock %}
