@logoImagePath: "/static/img";
@defaultFooterLogoPath: url("@{logoImagePath}/truenth_logo.jpg");
@defaultFooterWhiteLogoPath: url("@{logoImagePath}/logo_white.png");
@defaultFooterMovemberPath: url("@{logoImagePath}/movember_logo.jpg");
@defaultFooterWhiteMovemberPath: url("@{logoImagePath}/Movember-Footer-Logo.png");
@TrueNTHLogoPath: url("@{logoImagePath}/TrueNTH_Logo.png");
@MovemberLogoPath: url("@logoImagePath/Movember_Logo.png)");
@TrueNTHLogoSVGPath: url("@{logoImagePath}/TrueNTH_Logo.svg");
@thumbNailTrueNTHLogoPath: url("@{logoImagePath}/TrueNTH_Logo_thumbnail.png");
@thumbNailx2TrueNTHLogoPath: url("@{logoImagePath}/TrueNTH_Logo_thumbnail.svg");
@thumbNailMovemberLogoPath: url("@{logoImagePath}/Movember_Logo_thumbnail.png");
@thumbNailx2MovemberLogoPath: url("@{logoImagePath}/Movember_Logo_thumbnail.svg");
@TrueNTHWhiteLogoPath: url("@{logoImagePath}/TrueNTH_Logo_White.png");
@TrueNTHWhiteLogoSVGPath: url("@{logoImagePath}/TrueNTH_Logo_White.svg");
@WhiteMovemberLogoPath: url("@{logoImagePath}/Movemember_Logo_White.png");
@thumbNailTruenthWhiteLogoPath: url("@{logoImagePath}/TrueNTH_Logo_White_thumbnail.png");
@thumbNailx2TruenthWhiteLogoPath: url("@{logoImagePath}/TrueNTH_Logo_White_thumbnail.svg");
@thumbNailWhiteMovemberLogoPath: url("@{logoImagePath}/Movemember_Logo_White_thumbnail.png");
@thumbNailx2WhiteMovemberLogoPath: url("@{logoImagePath}/Movemember_Logo_White_thumbnail.svg");
