@import "logo.less";
@TrueNTHFooterLogoWidth: 175px;
@TrueNTHFooterLogoHeight: 55px;
@TrueNTHFooterLogoMobileWidth: 175px;
@TrueNTHFooterLogoMobileHeight: 55px;
@MovemberFooterLogoWidth: 125px;
@MovemberFooterLogoHeight: 60px;
@mobile_footer_logo: {
    background-image: @TrueNTHWhiteLogoPath;
    background-size: @TrueNTHFooterLogoMobileWidth @TrueNTHFooterLogoMobileHeight;
    background-repeat: no-repeat;
    width: @TrueNTHFooterLogoMobileWidth;
    height: @TrueNTHFooterLogoMobileHeight;
}
@desktop_footer_logo: {
    background-image: @TrueNTHWhiteLogoPath;
    background-size: @TrueNTHFooterLogoWidth @TrueNTHFooterLogoHeight;
    background-repeat: no-repeat;
    width: @TrueNTHFooterLogoWidth;
    height: @TrueNTHFooterLogoHeight;
}
@movember_footer_logo: {
    background-image: @WhiteMovemberLogoPath;
    background-size: @MovemberFooterLogoWidth @MovemberFooterLogoHeight;
    background-repeat: no-repeat;
    width: @MovemberFooterLogoWidth;
    height: @MovemberFooterLogoHeight;
}
@footerBackgroundColor: #000;
@linkColor: #FFF;
@linkHoverColor: #FFF;
@copyRightColor: #a3a9a3;

#tnthBottomNavWrapper.no-fouc {
    display: none;
}
#tnthBottomNavWrapper { 
    padding: 32px 28px 12px;
    background: @footerBackgroundColor; 
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    color: #4A4A4A;
    width:100%;
    overflow: hidden;
}
#tnthBottomNavWrapper::before {
    content: " ";
    display: table;
}

#tnthBottomNavWrapper.footer {
    padding: 36px 28px 28px;
    background: @footerBackgroundColor;
    a {
        color: @linkColor;
        ;
        &:hover {
            text-decoration: underline;
            color: @linkHoverColor;
        }
    }
    .main-nav-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 28px;
    }
    figure {
        margin: 0 8px 8px;
        display: inline-block
    }
    .nav-image {
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding-top: 0.25em;
        padding-left: 2.25em;
        padding-bottom: 0.25em;
    }
    @media(min-width: 992px) {
        .nav-image {
            text-align: left;
        }
    }
    .nav-list {
        padding-right: 0;
        padding-left: 0;
        position: relative;
        float: left;
        min-height: 1em;
        width: 100%;
        margin: 8px 0 16px
    }
    .nav-list__item {
        font-size:16px;
        text-transform: capitalize;
        line-height: 2;
        padding-left: 20px;
        padding-right: 12px;
        margin: 8px 20px;
        display: block;
        text-align: center;
        letter-spacing: 1.5px;
        &:hover {
            color: @linkColor;
        }
        &.heading {
            color: #777777;
            &:hover {
                color: #777777;
                text-decoration: none;
            }
        }
        a {
            color: @linkColor;
        }
        a:not(.icon-box__button--disabled):hover {
            color: @linkHoverColor;
            text-decoration: underline;
        }
        a.icon-box__button--disabled {
            opacity: .4;
            &:hover {
                text-decoration: none !important;
                cursor: auto;
            }
        }
    }

    .hr {
        border-top: 2px solid #252525;
        margin-top: 16px;
        margin-bottom: 16px;
        width: 95.5%;
        margin-right: auto;
        margin-left: auto;
    }
    .copyright {
        max-width: 100%;
        color: @copyRightColor;
        opacity: .9;
        font-size: 14px;
        line-height: 1.5;
    }
    .footer__logo-area {
        padding-left: 32px;
        padding-right: 32px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .nav-list-secondary__item {
            margin: 12px 12px 12px 0;
            display: inline-block;
            color: @linkColor;
            a {
                color: inherit;
            }
        }
        .item {
            margin-bottom: 12px;
            &.links {
                width: 50%;
                max-width: 100%;
                .copyright {
                    margin-top: 12px;
                }
            }
        }
    }
    .logo-footer-truenth,
    .footer__logo--truenth {
        @mobile_footer_logo();
    }

    @media (min-width: 992px) {
        .logo-footer-truenth,
        .footer__logo--truenth {
            @desktop_footer_logo();
        }    
    }

    .logo-footer-movember,
    .footer__logo--movember {
        @movember_footer_logo();
        position: relative;
        top: 8px;
    }
    // @media (min-width: 900px) {
    //     .logo-footer-movember,
    //     .footer__logo--movember {
    //         top: 1px;
    //     }
    // }

    @media only screen and (-webkit-min-device-pixel-ratio:2),
    only screen and (-moz-min-device-pixel-ratio:2),
    only screen and (min-device-pixel-ratio:2),
    only screen and (min-resolution:192dpi),
    only screen and (min-resolution:2dppx) {
        .logo-footer-movember,
        .footer__logo--movember {
            background-image: @WhiteMovemberLogoPath;
            background-size: @MovemberFooterLogoWidth @MovemberFooterLogoHeight;
            background-repeat: no-repeat;
        }
    }
}

@media (min-width: 992px) {
    #tnthBottomNavWrapper.footer {
        .main-nav-list {
            justify-content: space-between;
            align-items: flex-start;
        }
        .main-nav-list {
            flex-wrap: nowrap;
        }
        .nav-list__item {
            text-align: left;
        }
    }
}
@media (min-width: 1200px) {
    #tnthBottomNavWrapper.footer {
        .nav-list__item {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}

@media(min-width: 619px) {
    #tnthBottomNavWrapper.footer {
        .main-nav-list {
            margin-top: 28px;
            margin-bottom: 24px;
        }
        .footer__logo-area {
            align-items: flex-start;
            .item.links {
                width: 70%;
                padding-left: 8px;
                padding-right: 8px;
                .copyright {
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width:767px) {
    #tnthBottomNavWrapper.footer {
        .nav-list__item {
            font-size: 16px;
            margin: 0 0 24px;
        }
    }
}

