
@psaTrackerBorderColor: #eff0f1;
@psaTrackerTableHeaderBgColor: #496470;
@psaTrackerStrokeColor: #656F76;
@psaTrackerHoverBgColor: #D7DBE0;
@legendTextColor: #333;
@selectedColor: #777;
@hoverColor: #FFF;
@tooltipColor: #374550;
@markerColor: #EF425C;
@contentColor: #656F76;
@linkBgColor: #5F7782;
@editLinkColor: #646667;
@editLinkFontSize: 12px;
@filterColor: #819EAD;
@gridLineColor: #d8dade;
@noResultColor: #B1B1B1;
@cellBorderColor: #E5E5E5;
@borderColor: #ececec;

.filter-control {
    -webkit-appearance: none;
    height: 2.3em;
    outline: none;
}
.tooltip {
    position: absolute;
    text-align: center;
    width: 54px;
    height: 38px;
    padding: 4px;
    font: 12px sans-serif;
    background: @tooltipColor;
    color: #FFF;
    border: 0px;
    border-radius: 0;
    pointer-events: none;
    &:after {
      border-top: 10px solid @tooltipColor;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      top: 100%;
      content: " ";
      height: 0;
      left: 45%;
      position: absolute;
      width: 0;
      transform: translateY(-30%);
    }
}
.marker {
    stroke: @markerColor;
    fill: @markerColor;
    stroke-width: 1;
}
.sidenote {
    margin: 1em 0;
}
#mainPsaApp {
    margin-top: 1em;
}
#mainPsaApp section {
    margin-top: 2em;
    margin-bottom: 2em;
}
.focused {
    cursor: pointer;
}

select,
.filter-control,
option.select-option {
    color: #848688;
}
.refresh {
    margin: 0 0.5em;
    padding: 0.5em;
    display: inline-block;
    border: 1px solid;
    border-radius: 2px;
    &:hover {
        cursor: pointer;
        color: @psaTrackerHoverBgColor;
    }
}
.small-text {
    font-size: 10px;
}
.psa-tracker-title {
	background-color: #374550;
    color: #FFF;
    margin: 1em 0;
    padding: 0.75em 1em 0.5em;
    letter-spacing: 1px;
    .body {
        font-weight: 200;
        letter-spacing: 1px;
    }
    .heading {
        margin: 0.5em 0 1em;
        border-bottom: 1px solid darken(@psaTrackerBorderColor, 50%);
        padding-bottom: 2px;
        letter-spacing: 2px;
    }
}
.psa-tracker-table-header {
	background: @psaTrackerTableHeaderBgColor;
	color: #FFF;
    & TH {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
#psaTrackerResultsContainer {
	margin-top: 2em;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5em 0;
    border-left: 1px solid @psaTrackerBorderColor;
    border-top: 1px solid @psaTrackerBorderColor;
    box-shadow: 2px 1px 1px 1px @psaTrackerBorderColor;
    overflow-y: auto;
    min-height: 400px;
}
@media (min-width: 1200px) {
    #psaTrackerResultsContainer {
        align-items: flex-start;
    }
}
#psaTrackerDataSidebar {
    .btn {
        font-size: @editLinkFontSize;
        margin: 1em 0;
    }
}
#psaTrackerTreatmentContainer {
    position: relative;
    transition: -webkit-transform .5s 2s ease;
    transition: transform .5s 2s ease;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    background-color: #EBEDEE;
    border: 1px solid #B1B1B1;
    padding: 1em;
    margin: 1em auto;
    max-width: 100%;
    font-size: 14px;
    min-height: 6.5em;
    .title {
        color: #3F4B54;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .content {
        color: @contentColor;
        letter-spacing: 1px;
    }
    .group {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        div {
            margin: 0 0.5em;
        }
    }
    .shift-right {
        text-align: center;
        color: #FFF;
        & a {
            color: @editLinkColor;
            text-decoration: none;
            font-weight: 200;
            letter-spacing: 1px;
            font-size: 12px;
            margin-right: 4px;
            display: inline-block;
        }
        .edit-icon {
            display: inline-block;
            background: @linkBgColor;
            padding: 4px;
            color: #FFF;
        }
        a:hover {
            cursor: pointer;
            color: @contentColor;
        }
        .edit-icon:hover {
            background-color:@contentColor;
            cursor: pointer;
        }
        width: 70px;
        padding: 4px;
        position: absolute;
        right: 1%;
        bottom: 8%;
    }
    &.inactive {
        -webkit-transform: translateX(-150%);
        -ms-transform: translateX(-150%);
        transform: translateX(-150%);
    }
}

@media (min-width: 992px) {
    #psaTrackerResultsTable {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    #psaTrackerResultsContainer {
        overflow-y: hidden;
    }
    #psaTrackerTreatmentContainer {
        max-width: 85%;
        position: relative;
        left: 1.1em;
    }
}
#psaTrackerResultsTable,
#psaTrackerHistoryTable {
    TH, TD {
        padding: 0.5em 2em;
        border: 1px solid @cellBorderColor;
        text-align: center;
    }
    TH {
        letter-spacing: 1px;
        padding: 0.8em;
    }
    TR.result-row {
        border: 1px solid @cellBorderColor;
        &:hover {
            cursor: pointer;
        }
        .edit-icon {
            display: none;
            position: absolute;
            top: 35%;
            left: 6%;
            color: @selectedColor;
        }
        &.edit {
            .edit-icon {
                display: block;
            }
        }
    }
    TR.result-row.selected,
    TR.result-row:hover {
        background: @psaTrackerHoverBgColor;
        color: @hoverColor;
    }
    .result-cell{
        color: @contentColor;
        padding: 1em 2em;
        &:first-of-type {
            border-right: 0;
        }
        &:nth-of-type(2) {
            border-left: 0;
        }
        text-align: center;
        position: relative;
        input {
            height: 2.2em;
        }
        span {
            display: block;
            width: 100px;
            &:hover {
                cursor:pointer;
            }
        }
    }
    TFOOT {
        TD {
            text-align: left;
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
            padding: 12px 0;
        }
        .edit-icon {
            width: 22px;
            text-align: center;
            margin-left: 0.2em;
            background-color: @linkBgColor;
            color: #FFF;
            &:hover {
                cursor:pointer;
                background-color: @contentColor;
            }
        }
        .glyphicon-remove:before {
           content: "X";
           font-family: "sans-serif";
           position: relative;
           display: inline-block;
           font-weight: 500;
        }
    }
    .filter-row {
        TD {
            background-color: @filterColor;
            padding: 0 0.5em;
        }
    }
}
#PSAHistoryModal {
    .modal-dialog {
        width: 400px;
        max-width: 100%;
        .body-content {
            max-height: 500px;
            overflow-y: auto;
        }
    }
    #psaTrackerHistoryTable {
        width: 100%;
        max-width: 100%;
    }
}
#psaTrackerAddTable {
    TD {
	   padding: 1em;
    }
    input {
	   height: 2.2em;
       min-width: 200px;
       padding: 0.5em;
    }
}
@media (min-width: 500px) {
    #psaTrackerAddTable {
        input {
            min-width: 260px;
        }
    }
}
#addPSAModal {
    .body-content {
        width: 480px;
        max-width: 100%;
        margin: auto;
    }
    .modal-body {
        width: 520px;
        max-width: 100%;
        padding: 1em 0;
        margin: auto;
    }
    table {
        word-wrap: break-word;
        margin: auto;
    }
    .error-message {
        text-align: center;
    }
}
.psaTrackerLoader {
    position: absolute;
    z-index: 500;
    background-color: hsla(0, 25%, 97%, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    i {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 501;
    }
}
#psaTrackerNoResultContainer {
    margin-top: 1em;
    margin-bottom: 1em;
    color: @noResultColor;
    border: 1px solid @borderColor;
    min-height: 10em;
    padding: 4.25em 1em;
    font-size: 1.3em;
    font-style: italic;
    letter-spacing: 0.5px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    position: relative;
    -webkit-box-shadow: 10px 9px 5px -8px @borderColor;
    -moz-box-shadow: 10px 9px 5px -8px @borderColor;
    box-shadow: 10px 9px 5px -8px @borderColor;
}
#psaTrackerButtonsContainer {
    padding: 1em 0;
    margin-top: 0.5em;
    position: relative;
    min-height: 5em;
    display: inline-block;
    button {
        margin-left: 0.25em;
        -webkit-animation: scaler 1200ms linear;
        -moz-animation: scaler 700ms linear;
        -ms-animation: scaler 700ms linear;
        -o-animation: scaler 700ms linear;
        animation: scaler 700ms linear;
    }
}
@-webkit-keyframes scaler {
  0% {
    -webkit-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -ms-transform: scale(0.25);
    -o-transform: scale(0.25);
    transform: scale(0.25);
  }
  50% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes scaler {
  0% {
    -webkit-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -ms-transform: scale(0.25);
    -o-transform: scale(0.25);
    transform: scale(0.25);
  }
  50% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaler {
  0% {
    -webkit-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -ms-transform: scale(0.25);
    -o-transform: scale(0.25);
    transform: scale(0.25);
  }
  50% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
#psaTrackerGraphContainer {
    padding: 1em 0.5em 0.5em;
    background: hsla(201, 3%, 83%, 0.1);
    margin-top: 2em;
    overflow-y: hidden;
    overflow-x: auto;
    path {
        stroke: @psaTrackerStrokeColor;
        stroke-width: 1.5;
        fill: none;
    }
    .x-axis path,
    .y-axis path {
        stroke-width: 0;
    }
    .axis-stroke,
    .grid-y text {
        font-size: 12px;
        stroke: @psaTrackerStrokeColor;
        stroke-width: 0.1;
        shape-rendering: crispEdges;
        -webkit-font-smoothing: antialiased;
    }
    .grid {
        line {
            stroke: @gridLineColor;
            stroke-opacity: 0.7;
            shape-rendering: crispEdges;
            stroke-width: 1;
        }
        path {
            stroke-width: 0;
        }
    }
    .grid-y g:last-of-type line.tick {
        stroke-opacity: 0;
    }
    .legend-text {
        font-size: 12px;
        stroke: @legendTextColor;
        stroke-width: 0.5;
        opacity: 0.6;
        font-weight: 200;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
    .circle {
        fill: #FFF;
        stroke: @psaTrackerStrokeColor;
    }
    .circle-hi {
        fill: @psaTrackerStrokeColor;
        stroke: @psaTrackerStrokeColor;
    }
    .circle-lo {
        fill: @psaTrackerStrokeColor;
        stroke: @psaTrackerStrokeColor;
    }
    .graph-caption {
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
    }
}
.info-link {
    font-size: @editLinkFontSize;
    color: @editLinkColor;
    letter-spacing: 1px;
    &:hover {
        cursor:pointer;
        color: @contentColor;
        text-decoration: none;
    }
    font-weight: 300;
    text-decoration: none;
}
/*To remove button from IE11 */
select::-ms-expand {
     display: none;
}
.filter-cell {
    position: relative;
    &:after {
      content: '\25B8';
      font: 17px "Consolas", monospace;
      color: #FFF;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      right: 12px;
      top: 10px;
      padding: 0 2px 2px;
      position: absolute;
      pointer-events: none;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        overflow: -moz-scrollbars-none;
        overflow: hidden;
        letter-spacing: 1px;
        &:focus {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        height: 40px;
        display: block;
        color: #FFF;
        background-color: #819EAD;
        background-image: none;
        border: 0;
        option {
            color: #FFF;
            &:hover {
                color: #FFF;
                background-color: @psaTrackerTableHeaderBgColor;
                cursor: pointer;
            }
        }
    }
}
@supports (-moz-appearance:none) {
    .filter-cell {
        select {
            background-color: transparent !important;
            background-image: linear-gradient(to bottom, #819EAD, #819EAD);
            option {
                background-color: transparent !important;
            }
        }
    }
}
@media (min-width: 992px) {
    #psaTrackerGraphContainer {
        margin-top: 1.5em;
    }
    #psaTrackerDataSidebar {
        padding: 1em 0;
        border-top: 1px solid @cellBorderColor;
        .btn {
            font-size: 0.85em;
            margin: 0;
        }
    }
}
