{% extends "gil/base.html" %}
{% block title %}{{super()}} {{_("Exercise and Diet")}}{% endblock %}
{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://sm.us.truenth.org/css/cpro.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/topnav.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='css/styles.css') }}">
{% endblock %}
{% block main %}
    {{ super() }}
    {% block intro %}
        <div class="page-intro">
            <div class="page-intro__content">
                <div class="navbar-header">
                    {% trans %}
                    <button class="navbar-toggle collapsed" data-target="#mainNavbar" data-toggle="collapse" type="type">Show TrueNTH USA Exercise and Diet Links</button>
                    {% endtrans %}
                </div>
                <div class="navbar-collapse collapse" id="mainNavbar">
                    <ul class="nav navbar-nav">
                        <li class="introduction"><a href="{{ url_for('.introduction') }}">{% trans %}Home{% endtrans %}</a></li>
                        <li class="exercise"><a href="{{ url_for('.exercise') }}">{% trans %}Exercise{% endtrans %}</a></li>
                        <li class="diet"><a href="{{ url_for('.diet') }}">{% trans %}Diet{% endtrans %}</a></li>
                        <li class="recipes"><a href="{{ url_for('.recipes') }}"><span>{% trans %}Recipes &amp; Tips{% endtrans %}</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block init_scripts %}
    {{super()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{ url_for('.static', filename='js/exercise_diet.js') }}"></script>
{% endblock %}
