{% extends "exercise_diet/base.html" %}
{% block title %}{{super()}} {{_("Exercise and Diet")}}{% endblock %}
{% block head %}{{super()}}{% endblock %}
{% block main %}
<main class="main">
    {{ super() }}

    {% for asset in assets %}
        {{ asset|safe }}
    {% endfor %}

    {% for id, content in modals.iteritems() %}
        <!-- Modal -->
        <div class="modal fade" id={{ id }} aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
					
					<div class="modal-body">
                        <button type="button" class="btn btn-secondary-top" data-dismiss="modal"><b>close</b><span>X</span></button>
                        {{ content[2]|safe }}
                    </div>
                    {% if content[1] > 0 %}
                    
                    <div class="modal-nav">
                        {% if (loop.previtem is defined) and (loop.previtem[1][1] > 0) %}
                        <span class="left-button">
                            <a href="javascript:show_diet('{{ loop.previtem[0] }}','{{ id }}');">&larr;&nbsp;{{ loop.previtem[1][0]|safe }}</a>
                        </span>
                        {% endif %}
                        {% if (loop.nextitem is defined) and (loop.nextitem[1][1] > 0) %}
                        <span class="right-button">
                            <a href="javascript:show_diet('{{ loop.nextitem[0] }}','{{ id }}');">{{ loop.nextitem[1][0]|safe }}&nbsp;&rarr;</a>
                        </span>
                        {% endif %}
                    </div>
                    {% endif %}
                    
                    <div class="modal-footer">
                        {% trans %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><b>close</b><span>X</span></button>
                        {% endtrans %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</main>
{% endblock %}
