{% extends "exercise_diet/base.html" %}
{% block main %}
    <main class="main">
        {{ super() }}
        <div class="module-assets">
            {% for asset in assets %}
                {{ asset|safe }}
            {% endfor %}
        </div>
    </main>
{% endblock %}
{% block modal %}
    {{super()}}
    {% for id, content in modals.items() %}
        <!-- Modal -->
        <div class="ED__modal modal fade" id="{{ id }}" role="dialog" tabindex="-1" aria-labelledby="{{id}}Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        {% trans %}
                        <button type="button" class="btn btn-secondary-top" data-dismiss="modal"><span>X</span></button>
                        {% endtrans %}
                        <div class="content">
                            {{ content[2]|safe }}
                        </div>
                    </div>
                    {% if content[1] > 0 %}

                    <div class="modal-nav">
                        {% if (loop.previtem is defined) and (loop.previtem[1][1] > 0) %}
                        <span class="left-button">
                            <a href="javascript:show_diet('{{ loop.previtem[0] }}','{{ id }}');"><span class="figure">&larr;</span>&nbsp;{{ loop.previtem[1][0]|safe }}</a>
                        </span>
                        {% endif %}
                        {% if (loop.nextitem is defined) and (loop.nextitem[1][1] > 0) %}
                        <span class="right-button">
                            <a href="javascript:show_diet('{{ loop.nextitem[0] }}','{{ id }}');">{{ loop.nextitem[1][0]|safe }}&nbsp;<span class="figure">&rarr;</span></a>
                        </span>
                        {% endif %}
                    </div>
                    {% endif %}

                    <div class="modal-footer">
                        {% trans %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><b>close</b><span>X</span></button>
                        {% endtrans %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
