{% extends 'exercise_diet/layout.html' %}

{% block body %}

    {% for asset in assets %}
        {{ asset|safe }}
    {% endfor %}

        {% for id, content in modals.iteritems() %}
        <!-- Modal -->
        <div class="modal fade" id={{ id }} aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ content|safe }}
                    </div>
                    <div class="modal-footer">
                        {% trans %}<button type="button" class="btn btn-secondary" data-dismiss="modal"><span>close</span>X</button>{% endtrans %}
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}