{% extends "exercise_diet/base.html" %}
{% block main %}
<main class="main exercise-diet">
    {{ super() }}
    <div class="module-assets">
        {% for asset in assets %}
            {{ asset|safe }}
        {% endfor %}
    </div>
</main>
{% endblock %}
{% block modal %}
    {{super()}}
    {% for id, content in modals.items() %}
        <!-- Modal -->
        <div class="ED__modal modal fade" id="{{ id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn btn-secondary-top" data-dismiss="modal"><b>close</b><span>X</span></button>
                        <div class="content">{{ content[2]|safe }}</div>
                    </div>
                    {% if content[1] > 0 %}
                    <div class="modal-nav">
                        {% if (loop.previtem is defined) and (loop.previtem[1][1] > 0) %}
                        <span class="left-button">
                            <a class="exercise-navlink" data-currentItem='{{id}}' data-newItem='{{ loop.previtem[0] }}'><span class="figure">&larr;</span><span>&nbsp;{{ loop.previtem[1][0]|safe }}</span></a>
                        </span>
                        {% endif %}
                        {% if (loop.nextitem is defined) and (loop.nextitem[1][1] > 0) %}
                        <span class="right-button">
                            <a class="exercise-navlink" data-currentItem='{{id}}' data-newItem='{{ loop.nextitem[0] }}'><span>{{ loop.nextitem[1][0]|safe }}&nbsp;</span><span class="figure">&rarr;</span></a>
                        </span>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="modal-footer">
                        {% trans %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><b>close</b><span>X</span></button>
                        {% endtrans %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
