<html lang="en">

<head>
        <meta charset="UTF-8">
        <title>{% trans %}Exercise Diet{% endtrans %}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://demo-st.us.truenth.org/css/cpro.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/uwcirg/true_nth_usa_portal/develop/portal/static/css/topnav.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/styles.css') }}">
        <script src="{{ url_for('.static', filename='js/exercise_diet.js') }}"></script>
    </head>

<body>


<div id="Exercise-Diet-Portal">

		<div class="intro-module intro-intro" style="background-image: url(../../static/img/mountains.jpg)">

			<div class="intro-content">
					
			<h1>Exercise and Diet</h1>
	
				<p>Staying on top of exercising and healthy eating may not be easy, but it&rsquo;s important for men with prostate cancer and their loved ones. Use this tool to guide you on:</p>
						
							<ul>
								<li>Choosing cancer-busting foods</li>
								<li>Making exercise fun, safe and worth it</li>
								<li>Delicious recipes and quick grocery shopping tips</li>
							</ul>
							
							<div class="start-button-intro">start&nbsp;&rarr;</div>
					
			</div><!-- end class="intro-content" -->
		</div><!-- end class="intro-module intro-intro" -->
		
		
		<div class="video-module video-testimonial-hero" style="background-image: url(../../static/img/video-testimonial-hero.jpg)">
		
			<iframe class='sproutvideo-player' src='//videos.sproutvideo.com/embed/e89adcb2181fe6cb60/0b1c2437f243294d' width='630' height='354' frameborder='0' allowfullscreen></iframe>
			
				<div class="video-content">
					<div class="watch-button-video">watch</div>
				</div><!-- end class="video-content" -->
		</div><!-- end class="video-module video-testimonial-hero" -->

		
		
		<div class="objective-module objective-background" style="background-image: url(../../static/img/objective-background.jpg)">
			<div class="objective-content">

				<h6 class="accent-heading">Objective N<em>o</em>&nbsp;6: CUSTOM TOOLS &mdash; EXERCISE AND DIET</h6>
				
				<hr class="objective" />
						
					<h2>Healthy Lifestyle</h2>
							
					<p>We&rsquo;ve looked at what helps &ndash; and what doesn&rsquo;t &ndash; when it comes to prostate cancer and your health. Exercising and making healthy food choices are 2 great ways to keep prostate cancer in check. Being active combined with eating fruits, veggies (and other healthy foods) can really make a difference.</p>
							
					<p>Log in to start living a healthier and more active lifestyle.</p>
					
					
					<div class="toolbox">
					<div class="icon-box"></div>
					<div class="middle-content">
					<h6>TOOL N<em>o</em>&nbsp;4: WELLNESS</h6>
					<h5>EXERCISE AND DIET</h5>
					<h6><span>EXERCISE&nbsp;/&nbsp;DIET&nbsp;/&nbsp;RECIPES</span></h6>
					</div>
					<span class="toolbox-start-button">start&nbsp;&rarr;</span>
					</div>


				</div><!-- end class="objective-content" -->
		
		</div><!-- end class="objective-module objective-background" -->
			
</div><!-- END #Exercise-Diet-Portal --> 
    
		<!-- <div class="clearfix">&nbsp;</div> -->
</body>


</html>

