
{% extends "exercise_diet/base.html" %}
{% block title %}{{super()}} {{_("Exercise And Diet")}}{% endblock %}
{% block head %}{{super()}}{% endblock %}
{% block main %}
<main class="main theme--intro-light" data-section="exercisediet">
{{super()}}
{% block intro %}
{% endblock%}
	<div id="Exercise-Diet-Portal">
		<div class="intro-module intro-intro" style="background-image: url({{ url_for('.static', filename='img/mountains.jpg') }})">
			<div class="intro-content">
				<h1>{{_("Exercise and Diet")}}</h1>
				<p>{{_("Staying on top of exercising and healthy eating may not be easy, but it's important for men with prostate cancer and their loved ones. Use this tool to guide you on:")}}</p>
					<ul>
						<li>{{_("Choosing cancer-busting foods")}}</li>
						<li>{{_("Making exercise fun, safe and worth it")}}</li>
						<li>{{_("Delicious recipes and quick grocery shopping tips")}}</li>
					</ul>
					{% if not user %}
						<div class="start-button-intro" data-toggle="modal" data-target="#modal-register">{% trans %}start <span class="figure">&rarr;</span>{% endtrans %}</div>
					{% else %}
						<a href="{{url_for('exercise_diet.introduction')}}" class="exercise_diet-link community_of_wellness-link"><div class="start-button-intro">{% trans %}start <span class="figure">&rarr;</span>{% endtrans %}</div></a>
					{% endif %}
			</div><!-- end class="intro-content" -->
		</div><!-- end class="intro-module intro-intro" -->
		<div class="video-module video-testimonial-hero" style="background-image: url({{ url_for('.static', filename='img//video-testimonial-hero.jpg') }})" data-iframe-src="//videos.sproutvideo.com/embed/e89adcb2181fe6cb60/0b1c2437f243294d?type=hd&amp;autoPlay=true">
			<img src="{{url_for('.static', filename='img//video-testimonial-hero.jpg')}}">
			<div class="watch-button-video">{{_("watch")}}</div>
		</div><!-- end class="video-module video-testimonial-hero" -->
		<div class="objective-module objective-background" style="background-image: url({{ url_for('.static', filename='img//objective-background.jpg') }})">
			<div class="objective-content">
				<h6 class="accent-heading">{% trans %}Objective N<em>o</em>&nbsp;6: CUSTOM TOOLS &mdash; EXERCISE AND DIET{% endtrans %}</h6>
				<h2>{{_("Healthy Lifestyle")}}</h2>
				<p>{{_("We've looked at what helps - and what doesn't - when it comes to prostate cancer and your health. Exercising and making healthy food choices are 2 great ways to keep prostate cancer in check. Being active combined with eating fruits, veggies (and other healthy foods) can really make a difference.")}}</p>
				<p>{{_("Log in to start living a healthier and more active lifestyle.")}}</p>
				<div class="toolbox">
					<div class="middle-content">
					<h6>{% trans %}TOOL N<em>o</em> 4: WELLNESS{% endtrans %}</h6>
					<h5>{{_("EXERCISE AND DIET")}}</h5>
					<h6><span>{{_("EXERCISE / DIET / RECIPES")}}</span></h6>
					</div>
					{% if not user %}
						<span class="toolbox-start-button" data-toggle="modal" data-target="#modal-register">{% trans %}start <span class="figure">&rarr;</span>{% endtrans %}</span>
					{% else %}
						<a href="{{url_for('exercise_diet.introduction')}}" class="exercise_diet-link community_of_wellness-link"><span class="toolbox-start-button">{% trans %}start{% endtrans %}<span class="figure">&rarr;</span></span></a>
					{% endif %}
				</div>
			</div><!-- end class="objective-content" -->
		</div><!-- end class="objective-module objective-background" -->
	</div><!-- END #Exercise-Diet-Portal -->
</main>
{% endblock %}


