{% extends 'exercise_diet/base.html' %}
{% from "flask_user/_macros.html" import back_btn, footer %}
{% block main %}
    {{ back_btn(PORTAL, _('Home')) }}

    {% for asset in assets %}
        {{ asset|safe }}
    {% endfor %}

{% endblock %}
{% block footer %}
{{footer(user=user)}}
{% endblock %}
{% block document_ready %}
    {% if request.args.get("disableLinks", "") %}
    $("document").ready(function() {
        setTimeout("disableHeaderFooterLinks();", 1000);
    });
    {% endif %}
{% endblock %}