<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise Diet</title>
    <!--<link rel="stylesheet" href="../static/styles.css">-->
    <link href="//demo.us.truenth.org/static/css/topnav.css" rel="stylesheet" />
    <link href="https://demo-st.us.truenth.org/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<h1 align="center">TrueNTH Header Goes Here</h1>

<div class="container" id="mainNavContainer">
    <nav class="navbar navbar-default" id="mainNav" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-target="#mainNavbar" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="mainNavbar">
                <ul class="nav navbar-nav">
                    <li><a class="" href="/">Home</a></li>
                    <li><a class="" href="/diet">Diet</a></li>
                    <li><a class="" href="/exercise">Exercise</a></li>
                    <li><a class="" href="/recipes">Recipes</a></li>
                    <li><a class="" href="/resources">Resources</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

{% block body %}

{% endblock %}

</body>
</html>