{% extends "exercise_diet/base.html" %}
{% block main %}
<main class="main">
    {{ super() }}

    {{ recipe_intro|safe }}
    <div id="Recipe-Accordions">
        <div class="healthy-fats-accordion">
            <h4 data-toggle="collapse" href="#healthy-fats" aria-expanded="false" class="collapsed" aria-controls="healthy-fats">
                <a>{% trans %}Healthy Fats from Oils and Nuts{% endtrans %}</a>
            </h4>
        </div>
        <div id="healthy-fats" class="collapse" role="tabpanel" aria-labelledby="heading1" style="height: 0px;">
            <table>
                <tbody>
                    <tr>
                    {% for asset in recipe_assets['healthy_vegetable_fat'] %}
                        <td>
                            <a href="javascript:show_recipe('healthy_vegetable_fat','{{ loop.index0 }}','{{ asset[3] }}');"><h6>{{ asset[0]|safe }}</h6>
                                <img class="recipe-table-image" src="{{ asset[2] }}" alt="" />
                            </a>
                        </td>
                        {% if loop.index % 3 == 0 %}
                            </tr><tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- END class="healthy-fats-accordion" -->

        <div class="vegetables-accordion">
            <h4 data-toggle="collapse" href="#vegetables" aria-expanded="false" class="collapsed" aria-controls="vegetables">
                <a>{% trans %}Vegetables{% endtrans %}</a>
            </h4>
        </div>
        <div id="vegetables" class="collapse" role="tabpanel" aria-labelledby="heading1" style="height: 0px;">
            <table>
                <tbody>
                    <tr>
                    {% for asset in recipe_assets['vegetables'] %}
                        <td>
                            <a href="javascript:show_recipe('vegetables','{{ loop.index0 }}','{{ asset[3] }}');"><h6>{{ asset[0]|safe }}</h6>
                                <img class="recipe-table-image" src="{{ asset[2] }}" alt="" />
                            </a>
                        </td>
                        {% if loop.index % 3 == 0 %}
                            </tr><tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- END class="vegetables-accordion" -->

        <div class="tomatoes-accordion">
            <h4 data-toggle="collapse" href="#tomatoes" aria-expanded="false" class="collapsed" aria-controls="tomatoes">
                <a>{% trans %}Cooked tomatoes{% endtrans %}</a>
            </h4>
        </div>
        <div id="tomatoes" class="collapse" role="tabpanel" aria-labelledby="heading1" style="height: 0px;">
            <table>
                <tbody>
                    <tr>
                    {% for asset in recipe_assets['tomatoes'] %}
                        <td>
                            <a href="javascript:show_recipe('tomatoes','{{ loop.index0 }}','{{ asset[3] }}');"><h6>{{ asset[0]|safe }}</h6>
                                <img class="recipe-table-image" src="{{ asset[2] }}" alt="" />
                            </a>
                        </td>
                        {% if loop.index % 3 == 0 %}
                            </tr><tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- END class="tomatoes-accordion" -->

        <div class="fish-accordion">
            <h4 data-toggle="collapse" href="#fish" aria-expanded="false" class="collapsed" aria-controls="fish">
                <a>{% trans %}Fish{% endtrans %}</a>
            </h4>
        </div>
        <div id="fish" class="collapse" role="tabpanel" aria-labelledby="heading1" style="height: 0px;">
            <table>
                <tbody>
                    <tr>
                    {% for asset in recipe_assets['fish'] %}
                        <td>
                            <a href="javascript:show_recipe('fish','{{ loop.index0 }}','{{ asset[3] }}');"><h6>{{ asset[0]|safe }}</h6>
                                <img class="recipe-table-image" src="{{ asset[2] }}" alt="" />
                            </a>
                        </td>
                        {% if loop.index % 3 == 0 %}
                            </tr><tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- END class="fish-accordion" -->

        <div class="alternatives-accordion">
            <h4 data-toggle="collapse" href="#alternatives_to_processed_meats" aria-expanded="false" class="collapsed" aria-controls="alternatives_to_processed_meats"> 
                <a>{% trans %}Alternatives to Processed Meats{% endtrans %}</a>
            </h4>
        </div>
        <div id="alternatives_to_processed_meats" class="collapse" role="tabpanel" aria-labelledby="heading1" style="height: 0px;">
            <table>
                <tbody>
                    <tr>
                    {% for asset in recipe_assets['alternatives_to_processed_meats'] %}
                        <td>
                            <a href="javascript:show_recipe('alternatives_to_processed_meats','{{ loop.index0 }}','{{ asset[3] }}');"><h6>{{ asset[0]|safe }}</h6>
                                <img class="recipe-table-image" src="{{ asset[2] }}" alt="" />
                            </a>
                        </td>
                        {% if loop.index % 3 == 0 %}
                            </tr><tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- END class="alternatives-accordion" -->
    </div><!-- END id="Recipe-Accordions"> -->
</main>
{% endblock %}
{% block modal %}
    {{super()}}
    <!-- Modal -->
    <div class="ED__modal modal fade" id="recipe-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="loader">{{_("Loading...")}}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
