{% trans %}<button type="button" class="btn btn-secondary-top" data-dismiss="modal" title="close"><span>X</span></button>{% endtrans %}
{{ asset|safe }}
<div class="modal-nav">
    {% if prev_heading != '' %}
    <span class="left-button">
       <a href="javascript:show_recipe('{{ prev_heading }}','{{ prev_item_index }}','{{ prev_asset_recipe_type }}');"><span class="figure">&larr;&nbsp;</span><span>{{ prev_asset_title|safe }}</span></a>
    </span>
    {% endif %}
    {% if next_heading != '' %}
    <span class="right-button">
        <a href="javascript:show_recipe('{{ next_heading }}','{{ next_item_index }}','{{ next_asset_recipe_type }}');"><span>{{ next_asset_title|safe }}</span><span class="figure">&nbsp;&rarr;</span></a>
    </span>
    {% endif %}
</div>
<div class="modal-footer">
    {% trans %}<button type="button" class="btn btn-secondary" data-dismiss="modal"><b>close</b><span>X</span></button>{% endtrans %}
</div>
