.nav-import {
	width: 100%;
	background-color: #fff;
	border-bottom: 2px solid #8D8D8D;
}
.main-nav {
	padding: 5px 15px;
}
.xs-nav {
	margin-bottom: 5px;
}
.xs-nav .navbar-brand {
	padding: 4px;
}
.xs-nav .navbar-brand img {
	height: 54px;
}
.portal-nav {
	height: 95px;
	width: 100%;
	background: #fff url("../img/banner_logos.png") no-repeat left top; 
	/*background-size: auto 95px;*/
	background-size: contain;
}
.banner-img {
	height: 95px;
}
.nav-logos a {
	margin-right: 1.25em;
}
.nav-links form {
	display: inline-block;
	padding: 0;
}
.nav-links .form-group {
	margin-left: 10px;
}
.nav-links .btn {
	margin: 0;
}
.nav-userinfo {
	margin-right: 10px;
}
.hide-initial, .form-group.hide-initial {
  display: none;
}

