{% extends 'flask_user/emails/eproms_base_message.html' %}

{% block message %}
{% trans %}<p>Your password has been changed.</p>{% endtrans %}
{% if user_manager.enable_forgot_password %}

	{% if user.organizations | length == 1 %}
		<p>{% trans forgot_password_url=url_for('user.forgot_password', _external=True), organization_name=user.organizations[0].name %}If you did not initiate this password change, <a href="{{ forgot_password_url }}">please click here to reset it</a>, or contact your representative at {{ organization_name }}.{% endtrans %}</p>
	{% else %}
		<p>{% trans forgot_password_url=url_for('user.forgot_password', _external=True) %}If you did not initiate this password change, <a href="{{ forgot_password_url }}">please click here to reset it</a>, or contact your representative at {{ app_name }}.{% endtrans %}</p>
	{% endif %}

{% else %}

	{% if user.organizations | length == 1 %}
		<p>{% trans organization_name=user.organizations[0].name %}If you did not initiate this password change, please contact your representative at {{ organization_name }}.{% endtrans %}</p>
	{% else %}
		<p>{% trans %}If you did not initiate this password change, please contact your representative at {{ app_name }}.{% endtrans %}</p>
	{% endif %}

{% endif %}
{% endblock %}
