# docker compose development overrides
# mount code checkout into container and use development server for auto-reloading
services:
  web:
    environment:
      FLASK_DEBUG: 1
      FLASK_APP: /mnt/code/manage.py
    command: sh -c '
     flask run
        --port $${PORT}
        --host 0.0.0.0
     '
    volumes:
      - source: ../
        target: /mnt/code
        type: bind

  celeryworker:
    environment:
      FLASK_DEBUG: 1
      FLASK_APP: /mnt/code/manage.py
    volumes:
      - source: ../
        target: /mnt/code
        type: bind

  celeryworkerslow:
    environment:
      FLASK_DEBUG: 1
      FLASK_APP: /mnt/code/manage.py
    volumes:
      - source: ../
        target: /mnt/code
        type: bind
