{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import back_btn %}

  {{ back_btn(PORTAL, _('Home')) }}

  <h3 class="tnth-headline">{{ _("About TrueNTH") }}</h3>

  <p>{{ about_tnth|safe }}</p>

  {% if config.metadata.version %}
  <br />
    {% if config.metadata.git_hash %}
    <div class="pull-right text-muted smaller-text">TrueNTH Version: <a target="_blank" href="https://github.com/uwcirg/true_nth_usa_portal/commit/{{ config.metadata.git_hash }}" >{{ config.metadata.version }}</a></div>
    {% else %}
    <div class="pull-right text-muted smaller-text">TrueNTH Version: {{ config.metadata.version }}</div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block document_ready %}

/*** Test of grabbing Liferay content - FIXME - CORS issues ***/
$(document).ready(function(){
  $.ajax ({
    type: "GET",
    // Returns HTML?
    url: 'https://stg-cms.us.truenth.org/widget/web/guest/home/-/56_INSTANCE_Qt5ELGG09KAi'
    // Returns XML?
    //url: 'https://stg-cms.us.truenth.org/c/journal/get_latest_article_content?groupId=20182&articleId=43478'
  }).done(function(data) {
    // Output what we retrieve to console for testing
    console.log(data);
  }).fail(function() {
    console.log("Problem retrieving data from server.");
  });
});

{% endblock %}

