{% extends "layout.html" %}
{% block main %}

<div class="reduce-font-sizes">

    <h3 class="tnth-headline">User Administration</h3>

    <p id="profileIntro">Select any user to view details or make changes.</p>

    <div class="admin-table table-responsive smaller-text">
        <div id="adminTableToolbar" class="admin-toolbar"><span id="tableCount"></span></div>
        <table id="adminTable"
               class="table table-striped table-hover table-condensed"
               data-toggle="table"
               data-sort-name="userid"
               data-sort-order="desc"
               data-search="true"
               data-pagination="true"
               data-page-size="50"
               data-page-list="[25,50,100,ALL]"
               data-toolbar="#adminTableToolbar"
               data-show-toggle="true"
               data-show-columns="true">
            <thead>
            <tr>
                <th data-field="userid" data-sortable="true" data-sorter="tnthTables.stripLinksSorter">ID</th>
                <th data-field="username" data-sortable="true" data-sorter="tnthTables.stripLinksSorter">Username</th>
                <th data-field="firstname" data-sortable="true">First Name</th>
                <th data-field="lastname" data-sortable="true">Last Name</th>
                <th data-field="email" data-sortable="true">Email</th>
                <th data-field="roles" data-sortable="true">Roles</th>
                <th class="text-center"><em>Delete</em> User</span></th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for user in users %}
            <tr id="data_row_{{user.id}}">
                <td><a href="{{ url_for('.profile', user_id=user.id) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name if user.first_name }}</td>
                <td>{{ user.last_name if user.last_name }}</td>
                <td>{{ user.email if user.email }}</td>
                <td>{{ user.rolelist }}</td>
                <td class="text-center">{% if not user.has_role("admin") and (not user.has_role("provider"))%}<button onclick="deleteUser(event, {{user.id}})" type="button" class="btn btn-default"><em>Delete</em></button>{% else %}-{% endif %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
{% block document_ready %}
$("#adminTable").bootstrapTable({
    formatShowingRows: function (pageFrom, pageTo, totalRows) {
        var rowInfo = "Showing "+pageFrom+" to "+pageTo+" of "+totalRows+" users";
        $("#tableCount").html(rowInfo);
        return rowInfo;
    }
});

/** Example of how we could have a select to limit to a particular role. Needs more work
because only looks at entire field
$("#adminTableToolbar").on("click",function(){
    $('#adminTable').bootstrapTable('filterBy', {roles: "patient"});
});
**/

function deleteUser(event, userId) {
    if (event) event.stopPropagation();
    if (userId) {
       var c = confirm("Are you sure you want to delete this user?");
       if (c) {
         $.ajax ({
              type: "GET",
              url: "/admin/" + userId + "/delete",
              contentType: 'application/json; charset=utf-8',
              dataType: 'json'
          }).done(function(data) {
                if (data["error"] === "") {
                    $("#data_row_" + userId).fadeOut();
                } else alert("System error: " + data["error"]);
          }).fail(function(xhr) {
                console.log("response Text: " + xhr.responseText);
                console.log("response status: " +  xhr.status);
          });
        };
    };
};
{% endblock %}
