{% extends "layout.html" %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <div class="well lead-well">
                    <h3>User Administration</h3>

                    <p id="profileIntro">Select any user to view details or make changes.</p>
                    {% for user in users %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-2">
                                    <a href="{{ url_for('.profile', user_id=user.id) }}">{{ user.username }}</a>
                                </div>
                                <div class="col-xs-2">
                                    <p id="name">({{ user.last_name if user.last_name }}, {{ user.first_name if user.first_name }})</p>
                                </div>
                                <div class="col-xs-3">
                                    <p id="email">&lt;{{ user.email if user.email }}&gt;</p>
                                </div>
                                <div class="col-xs-1"><b>Roles:</b></div>
                                <div class="col-xs-3">
                                    <p id="roles">{{ user.rolelist }} </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>        
    </div>
{% endblock %}
