{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import render_field %}

    <style>
        .label {color: #777; font-size: 0.9em; margin-left: -8px; position: relative; top:-3px;}
        .field {margin-top: 1.2em;}
        .hr {margin-top: -8px;}
        .title { color: #6b7571;}
        .error-message { margin-left: 0; display: none;}
    </style>
    <h4 class="tnth-headline">Identity Verification</h4>

    <hr/>

    <br/>

    <p class="profile-item-title">To ensure your personal details are not shared with others, please enter the following data for account confirmation.</p>

    <form  id="challengeForm" action="/challenge" method="post" class="form tnth-form to-validate">

         {{ form.hidden_tag() }}

         <input type="hidden" id="birthdate" name="birthdate" value="{{form.birthdate.data if form.birthdate.data}}" />

        <div id="identityVerificationContainer">
             <p class="title">Name</p>
             <hr class="hr"/>
            <div class="row">
                <div class="col-md-5 col-xs-10">
                    <div class="form-group float-input-label">
                        <input required="required" data-error="First name is required" class="form-control float-text" id="first_name" name="first_name" placeholder="First Name" value="{{form.first_name.data if form.first_name.data}}" type="text">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-10">
                    <div class="form-group float-input-label">
                        <input required="required" data-error="Last name is required" class="form-control float-text" id="last_name" name="last_name" placeholder="Last Name" value="{{form.last_name.data if form.last_name.data}}" type="text">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <br/>
            <p class="title">Birth Date</p>
            <hr class="hr"/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-xs-10">
                         <label class="label">Day</label>
                        <input class="form-control bd-element" id="date" name="birthdayDate"  placeholder="DD" patterntype="text" maxlength="2" data-birthday="true" required="" pattern="\d{2}">
                    </div>
                </div>
                <div class="row field">
                    <div class="col-md-5 col-xs-10">
                        <label class="label">Month</label>
                        <select class="form-control bd-element" name="birthdayMonth" id="month" data-birthday="true" required="">
                            <option value="">Month...</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                </div>
                <div class="row field">
                    <div class="col-md-5 col-xs-10">
                        <label class="label">Year</label>
                        <input class="form-control bd-element" id="year" name="birthdayYear" placeholder="YYYY" type="text" maxlength="4" data-birthday="true" required="" pattern="\d{4}">
                    </div>
                </div>
                <div class="row field">
                     <div class="col-md-5 col-xs-10">
                        <div class="help-block with-errors"></div>
                     </div>
                </div>
            </div>
            <hr/>
            <button type="submit" class="btn btn-tnth-primary">Confirm Identity</button>
            <br/><br/>
            <div class="error-message text-muted bg-danger" {%if errorMessage %} style="display:block"{% endif%}>{{errorMessage}}</div>
        </div>

    </form>

{% endblock %}

{% block document_ready %}
$(document).ready(function() {

    var fmBirthDate = "{{form.birthdate.data if form.birthdate.data}}";
    if (fmBirthDate) {
        var arrDate = String(fmBirthDate).split("-");
        $("#month").val(arrDate[0]);
        $("#date").val(arrDate[1]);
        $("#year").val(arrDate[2]);
    };

    $('#challengeForm').validator().on('submit', function (e) {
          if (!e.isDefaultPrevented()) {

                if ($("#year").val() != "" && $("#month").val() != "" && $("#date").val() != "") {
                    $("#birthdate").val($("#month").val() + "-" + $("#date").val() + "-" + $("#year").val());
                }

          };
    });


});
{% endblock %}
