{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, back_btn %}


    {{ back_btn('clients', _('Client Applications')) }}

    <h1 class="tnth-headline">TrueNTH OAuth 2.0 Credentials</h1>

    <p><strong>{{ _("App ID") }}:</strong><br />{{ client.client_id }}</p>

    <p><strong>{{ _("App Secret") }}:</strong><br />{{ client.client_secret }}</p>

    <p><strong>{{ _("Service Token") }}:</strong><br />
    {% if service_token %}
        {{ service_token.access_token }}
        (expires {{ service_token.expires.strftime('%b %d, %Y') }})
    {% else %}
        <span class="text-muted">{{ _("Not yet created") }}</span>
    {% endif %}
    </p>

    <form id="clientAppForm" action="/client/{{ client.client_id }}" method="post">
        {{ form.hidden_tag() }}

        {{ render_field(form.application_role, tabindex=5) }}

        {{ render_field(form.application_origins, tabindex=10,
        helpText="The Application URL may contain one or more origins separated by a single space. Required to include the origin of the client's OAuth authorization redirect_uri and CORS origin values for any in-browser API requests.") }}

        {{ render_field(form.callback_url, tabindex=20,
        helpText="Provide a Callback URL to receive POST requests for signifcant events, such as a user logout from sessions where a valid OAuth token for this application was obtained.  The POST will include a 'signed_request' in the same format as a Facebook signed_request, with at least <b>event</b> and <b>user_id</b> values defined." ) }}

        {% if form.intervention_or_default.name != 'default' %}
            <p>The following settings control intervention display parameters
            site wide (settings can be overridden per user via the
            interventions API)</p>

            {{ render_checkbox_field(
                    form.intervention_or_default.subscribed_to_user_doc_event,
                    tabindex=25, helpText="For users granted direct access to this intervention, send event on document upload") }}

            {{ render_field(form.intervention_or_default.card_html,
            tabindex=30, helpText="Text or HTML shown on the card for this
            intervention, other than the button / link settings that follow.") }}

            {{ render_field(form.intervention_or_default.link_label,
            tabindex=40, helpText="Label for the UI widget users click
            on to access this intervention.") }}

            {{ render_field(form.intervention_or_default.link_url,
            tabindex=50, helpText="Hyperlink back to the intervention, namely where specifically to point the user to.") }}

            {{ render_field(form.intervention_or_default.status_text,
            tabindex=60, helpText="Additional status text for user
            notification.") }}

            {{ render_checkbox_field(form.intervention_or_default.public_access,
            tabindex=70, helpText="Whether the card should be displayed to all users (checked), or only to those who have been granted access to the intervention via the interventions API (unchecked).") }}
        {% endif %}

        <br />

        <button type="submit" name="submit" class="btn btn-tnth-primary">{{ _("Update App Settings") }}</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button id="confirmDel" type="button" class="btn btn-default" data-placement="top" title="Delete This App">{{ _("Delete Application") }}</button> &nbsp;

        {# By design, only the application owner can create or update tokens #}
        {% if current_user.id == client.user_id %}
            <button type="submit" name="service_token" value="service_token"
              class="btn btn-default">
                {% if service_token %}
                    {{ _("Update Service Token") }}
                {% else %}
                    {{ _("Create Service Token") }}
                {% endif %}
            </button>
        {% endif %}

        {% if client.callback_url %}
            <button type="submit" name="generate_callback"
              value="generate_callback" class="btn btn-default">
                {{ _("Test Callback URL") }}
            </button>
        {% endif %}
    </form>

    {% macro render_field(field) %}
    <dt>{{ field.label }}
    <dd>{{ field(**kwargs)|safe }}
        {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </dd>
    {% endmacro %}

    <br /><br />
{% endblock %}



