{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import render_field, back_btn %}

    {{ back_btn('clients','Client Applications') }}

    <h3 class="tnth-headline">Obtain OAuth 2.0 Credentials from Central Services</h3><br />

    <p>To add an application to Central Services, one must first register the application origin or URL.  Multiple origins may be entered, separated by white space.</p>

    <form action="/client" method="post">
        {{ form.hidden_tag() }}

        {{ render_field(form.application_role, tabindex=5) }}

        {{ render_field(form.application_origins, tabindex=10) }}

        <button type="submit" class="btn btn-tnth-primary">Register App</button>
    </form>

{% endblock %}
