{% extends "layout.html" %}
{% block body %}
    <img src="{{ url_for('static', filename='img/TrueNthHoldBackground.jpg') }}" class="page-background hidden-xs" />

    <!-- topNav loads here -->
    <div id="mainNav">
    </div>
      

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="well lead-well">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h4>Central Services OAuth 2.0 Credentials </h4>
                            <ul>
                                <li style="margin-bottom: 0.25em; font-size: 15px">App ID {{ client.client_id }} </li> 
                                <li style="margin-bottom: 0.25em; font-size: 15px">App Secret {{ client.client_secret }} </li> 
                            </ul>
                            <form action="/client/{{ client.client_id }}" method="post">
                                <div class="form-group">
                                    <label for="redirect_url">Application URL</label>
                                    <input type="text" class="form-control" name="redirect_uri" id="redirect_url" size='200' value="{{ client._redirect_uris }}">
                                    <label for="callback_url">Callback URL</label>
                                    <input type="text" class="form-control" name="callback_url" id="callback_url" size='200' value="{{ client.callback_url }}">
                                </div>
                                <button type="submit" name="submit" class="btn btn-tnth-primary">Update App Settings</button>
                                <button type="submit" name="delete" value="delete" class="btn btn-tnth-primary">Delete Application</button>
                            </form>
                            <ul>
                                <li style="margin-bottom: 0.25em; font-size: 15px">The <b>Application URL</b> may contain one or more origins separated by a single space.  Required to include the origin of the client's OAuth authorization redirect_uri and CORS origin values for any in-browser API requests.</li> 
                                <li style="margin-bottom: 0.25em; font-size: 15px">Provide a <b>Callback URL</b> to receive POST requests for signifcant events, such as a user logout from sessions where a valid OAuth token for this application was obtained.  The POST will include a 'signed_request' in the same format as a Facebook signed_request, with at least <b>event</b> and <b>user_id</b> values defined</li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
PORTAL_NAV_PAGE = window.location.protocol+"//"+window.location.host+"/api/portal-wrapper-html";
PORTAL_HOSTNAME = new URL(PORTAL_NAV_PAGE).hostname;

console.log(PORTAL_NAV_PAGE);

$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});

</script>
{% endblock %}
