{% extends "layout.html" %}
{% block main %}



    <h1 class="tnth-headline">TrueNTH OAuth 2.0 Client Applications</h1>

    <div style="margin: 2em 1em 3em">
        <a class="btn-tnth-primary btn" href="{{ url_for('.client') }}">Create A New TrueNTH Client Application</a>
    </div>

    <h4>Your Current Applications</h4>
    {% if clients %}
    <ul>
        {% for client in clients %}
            <li>
                {% if client.intervention and
                      client.intervention.name != 'other' %}
                      <b>{{ client.intervention.description }}</b>
                {% endif %}

                <a href="{{ url_for('.client_edit', client_id=client.client_id) }}">App ID: {{ client.client_id }}<br />Site URL: {{ client._redirect_uris }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You have not created an client applications.</p>
    {% endif %}


{% endblock %}
