{% extends "layout.html" %}
{% from "flask_user/_macros.html" import render_field, render_submit_field, back_btn, footer %}
{% block main %}
{{ back_btn(PORTAL, _('Home')) }}

<h3 class="tnth-headline">{{ _("Contact TrueNTH") }}</h3>
<p>{{ _("You can use form below or write the TrueNTH team directly at") }} <a href="mailto:us.truenth.org+contact@gmail.com">us.truenth.org+contact@gmail.com</a>.</p>
<div class="row">
  <div class="col-md-7">

    <form id="profileForm" action="" method="post" class="tnth-form" data-toggle="validator" role="form">
      <div class="form-group">
        <label for="sendername">{{ _("Name") }}</label>
        <input type="text" class="form-control" name="sendername"
          id="sendername" data-error="{{ _('Please enter your name') }}"
          placeholder="{{ _('Your Name') }}" value="{{ sendername }}" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label for="email">{{ _("Email") }}</label>
        <input type="email" class="form-control" name="email"
          id="email" placeholder="{{ _('Your Email') }}" value="{{ email }}"
          data-error="{{ _('This is not a valid e-mail address, please double-check.') }}"
          required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label for="subject">{{ _("Subject") }}</label>
        <input type="text" class="form-control" name="subject" id="subject" placeholder="{{ _('What is this about?') }}">
      </div>
      <div class="form-group">
        <label for="body">{{ _("Text") }}</label>
        <textarea class="form-control" rows="5" name="body" id="body" data-error="{{ _('Please add a message for TrueNTH') }}" placeholder="{{ _('What is on your mind?') }}" required></textarea>
        <div class="help-block with-errors"></div>
      </div>
      {% if not user and config.RECAPTCHA_SITE_KEY and config.RECAPTCHA_SECRET_KEY %}
      <div class="field-group">
        {{ recaptcha }}
      </div>
      {% endif %}
      <div class="form-group">
        <button type="submit" class="btn btn-tnth-primary btn-lg">{{ _("Send") }}</button>
      </div>
    </form>

  </div>

</div>

<script>
  $(document).ready(function(){
    $('#profileForm').validator({
      disable: false
    })
  })
</script>
{% block footer %}
{{footer(user=user)}}
{% endblock %}
{% endblock %}
