{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import back_btn %}

<div id="loadingIndicator" class="loading-indicator">
    <i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
</div>

<h3 class="tnth-headline">
Acquire Core Data
</h3>

<form id="profileForm" class="form tnth-form" role="form" method="POST">

<div class="row" style="position: relative;">
    <div class="col-md-9">
        {% if 'ethnicity' in require %}
        <div class="form-group" id="userEthnicity">
            <label>Ethnicity <span class="text-muted smaller-text"></span></label>
            <div style="margin-top: -10px">

                <div class="radio">
                    <label>
                        <input type="radio" name="ethnicity" value="2135-2"> Hispanic or Latino
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="ethnicity" value="2186-5"> Not Hispanic or Latino
                    </label>
                </div>
            </div>
        </div>
        {% endif %}

        {% if 'race' in require %}
        <div class="form-group" id="userRace">
            <label>Race <span class="text-muted smaller-text"></span></label>
            <div style="margin-top: -10px">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="race" value="1002-5"> American Indian or Alaska Native
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="race" value="2028-9"> Asian
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="race" value="2054-5"> Black or African American
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="race" value="2076-8"> Native Hawaiian or Other Pacific Islander
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="race" value="2106-3"> White
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="race" value="2131-1"> Other
                    </label>
                </div>

            </div>
        </div>
        {% endif %}

        {% if 'procedure' in require %}
        <div class="form-group" id="userProcedure">
            <label>Procedures<span class="text-muted smaller-text"></span></label>
            <div style="margin-top: -10px">

                <div class="checkbox">
                    <label>
                        <input type="radio" name="procedure"
                        display="Active surveillance" value="424313000">
                        Active surveillance
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="radio" name="procedure"
                        display="Radical prostatectomy" value="26294005">
                        Radical prostatectomy
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="radio" name="procedure"
                        display="Brachytherapy" value="228748004">
                        Brachytherapy
                    </label>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<br />
<button id="updateData" type="submit" class="btn btn-lg btn-tnth-primary">Save</button> <span id="confirmMsg" class="text-muted tnth-hide smaller-text">&nbsp;&nbsp;<em>Saved</em></span>


</form>

{% endblock %}

{% block document_ready %}
$(document).ready(function(){

    {% if ('race' in require) or ('ethnicity' in require) %}
    tnthAjax.getDemo({{ user.id }});
    {% endif %}
    {% if 'procedure' in require %}
    tnthAjax.getProc({{ user.id }});
    {% endif %}

    // If there's any change to an input, assembleContent
    $("#profileForm").on("change", "input", function() {
        {% if ('race' in require) or ('ethnicity' in require) %}
        assembleContent.coreData({{ user.id }});
        {% endif %}
        {% if 'procedure' in require %}
        assembleContent.coreDataProc({{ user.id }});
        {% endif %}
    });

    // Save button, doesn't actually save
    $("#updateData").on("click", function(event){
        event.preventDefault();
        window.location.replace("{{ return_address }}");
    });

});

{% endblock %}
