{% extends "layout.html" %}
{% block body %}
    <img src="{{ url_for('static', filename='img/TrueNthHoldBackground.jpg') }}" class="page-background hidden-xs" />

    <!-- topNav loads here -->
    <div id="mainNav">
    </div>
      

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="well lead-well">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h4>Central Services OAuth 2.0 Credentials </h4>
                            <ul>
                                <li style="margin-bottom: 0.25em; font-size: 15px">Site URL {{ client._redirect_uris }} </li> 
                                <li style="margin-bottom: 0.25em; font-size: 15px">App ID {{ client.client_id }} </li> 
                                <li style="margin-bottom: 0.25em; font-size: 15px">App Secret {{ client.client_secret }} </li> 
                                <li style="margin-bottom: 0.25em; font-size: 15px">Callback URL {{ client.callback_url }} </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
PORTAL_NAV_PAGE = window.location.protocol+"//"+window.location.host+"/api/portal-wrapper-html";
PORTAL_HOSTNAME = new URL(PORTAL_NAV_PAGE).hostname;

console.log(PORTAL_NAV_PAGE);

$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});

</script>
{% endblock %}
