<table>
	<caption><b>{{ _("Overdue Patients") }} @ {{ site }}</b></caption>
    <thead>
	    <tr>
	        <th>{{ _("TrueNTH ID") }}</th>
	        <th>{{ _("Study ID") }}</th>
	        <th>{{ _("Visit Name") }}</th>
            <th>{{ _("Status") }}</th>
	        <th>{{ _("Completion Date") }}</th>
            <th>{{ _("Clinician") }}</th>
            <th>{{ _("Clinician Status") }}</th>
	        <th>{{ _("Clinician Survey Completion Date") }}</th>
	    </tr>
    </thead>
    <tbody>
	    {% for row in rows %}
	    <tr>
	    	{% for cell in row %}
	    	<td>{{ cell }}</td>
	    	{% endfor %}
	    </tr>
	    {% endfor %}
	</tbody>
</table>
