{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import back_btn %}

{% set loggedIn = false %}
{% if user.username %}
  {% set loggedIn = true %}
{% endif %}

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h4 class="tnth-headline profile-item-title">{{ _("Welcome to TrueNTH") }}</h4>
        <p><em>{{_("Explore How TrueNTH Works")}}</em></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

        <p>{{ _("A program aimed at improving the lives of men diagnosed and living with prostate cancer, and their partners, loved ones, and caregivers.") }}</p>
        <p>{{ _("Coming soon … discover tools designed to help those affected by prostate cancer.") }}</p>
      </div>
    <div>

   {% if not loggedIn %}
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="well well-lg" style="text-align: center;">
            <a class="btn-lg btn-tnth-primary" href="/user/register">{{ _("Register Now") }}</a>
            <span style="margin: 0 1em">{{ _("or") }}</span>
            <a class="btn-lg btn-tnth-primary" href="/user/sign-in">{{ _("Log In") }}</a>
          </div>
        </div>
      </div>
   {% endif %}

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <ul>
          <li>Explore values and preferences related to treatment decision making</li>
          <li>Track symptoms and learn what you can do to improve them</li>
          <li>Get advice on exercise, diet, sexual health, and wellbeing</li>
          <li>Connect with others and navigate the prostate cancer journey together</li>
        </ul>
      </div>
    </div>

    {{ back_btn(PORTAL,_('Home')) }}



<!--
    <p>A program aimed at improving the lives of men diagnosed and living with prostate cancer, and their partners, loved ones, and caregivers.</p>
    <p>Coming soon &hellip; discover tools designed to help those affected by prostate cancer.</p>

    <ul>
      <li>Explore values and preferences related to treatment decision making</li>
      <li>Track symptoms and learn what you can do to improve them</li>
      <li>Get advice on exercise, diet, sexual health, and wellbeing</li>
      <li>Connect with others and navigate the prostate cancer journey together</li>
    </ul>
-->

{% endblock %}
