<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>True NTH USA Portal Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topnav.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>

    <img src="{{ url_for('static', filename='img/TrueNthHoldBackground.jpg') }}" class="page-background hidden-xs" />
    <div id="mainNav" class="tnth-nav">
       <!-- Top Nav begins here --> 
       <!-- Main Nav for most screen sizes -->
        <div class="container hidden-xs tnth-nav-main">
            <div class="pull-left nav-logos">
                <a href="{{ config['PORTAL'] }}">
                    <img src="{{ url_for('static', filename='img/logo_truenth_alt.png') }}" />
                </a>
            </div>
            
            <div class="pull-right nav-links">
                <form class="navbar-form" role="search">
                    <div class="form-group">
                        <div class="hide-initial" id="search-box">
                            <input type="text" class="form-control" placeholder="Search TrueNTH">
                        </div>
                    </div>
                    <button type="submit" class="btn tnth-white show-search"><i class="fa fa-search fa-lg"></i></button>
                </form>
                <div class="btn-group nav-userinfo">
                    <button type="button" class="btn tnth-white dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-question fa-2x"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">About TrueNTH</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Responsive navbar for xs width -->
        <nav class="navbar navbar-static-top visible-xs tnth-nav-xs">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="tnth-white navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle menu</span>
                  <i class="fa fa-bars fa-lg"></i> &nbsp; Menu
                </button>
                <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo_truenth_alt.png') }}" /></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Help</a></li>
                </ul>
                <form class="navbar-form" role="search">
                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control" placeholder="Search TrueNTH">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
              </div>
            </div>
        </nav>

        <!-- Top Nav ends here -->
    </div>
      

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="well lead-well">
                    <p>TrueNTH is a revolutionary new program, funded by the Movember Foundation, that will sigificantly improve the physical and mental health of men diagnosed and living with prostate cancer.</p>

                    <p>TrueNTH helps men and their families get their lives back on track following diagnosis and treatment.</p>
                    <p>TrueNTH helps you feel knowledgeable and confident on your journey.</p>

                    <div class="row">
                        <div class="col-xs-5">
                            <h4>Sign in with:</h4>
                            <a href="login" class="btn btn-block btn-social btn-facebook">
                                <i class="fa fa-facebook"></i>
                                Facebook
                            </a><br />
                            <a class="btn btn-block btn-social btn-google" disabled>
                                <i class="fa fa-google"></i>
                                Google
                            </a><br />
                            <a class="btn btn-block btn-social btn-movember" disabled>
                                <img src="{{ url_for('static', filename='img/icon_movember.png') }}" />
                                Movember

                            </a><br />
                        </div>
                        <div class="col-sm-2 text-muted text-center hidden-xs">
                            <div style="margin-top: 4.5em; padding: 0.5em; background-color: #aaa; color: #fff; border-radius: 4px; display: inline-block">or</div>
                        </div>
                        <div class="col-xs-7 col-sm-5">
                            <h4>Sign in with TrueNTH:</h4>
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-tnth-primary">Sign In</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/topnav.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
