<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>True NTH USA Portal Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/topnav.css">
</head>
<body>

    <img src="img/TrueNthHoldBackground.jpg" class="page-background" />
    <div id="mainNav" class="nav-import">
        <div class="container">
            <!-- Top Nav begins here -->
            <div class="">
                <div class="pull-left nav-logos">
                    <a href="http://truenth-demo.cirg.washington.edu"><img src="img/logo_truenth.png" /></a>
                    <a href="http://us.movember.com"><img src="img/logo_movember.png" /></a>
                </div>
                
                <div class="pull-right nav-links">
                    <a href="#" class="btn btn-default">About</a>
                    <a href="#" class="btn btn-default">Help</a>
                    <form class="navbar-form" role="search">
                    <div class="form-group">
                        <div class="hide-initial" id="search-box">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default show-search"><i class="fa fa-search"></i></button>
                  </form>
                </div>
            </div>
            <!-- Top Nav ends here -->
        </div>
    </div>
      

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

                <div class="well lead-well">
                    <p>TrueNTH is a revolutionary new program, funded by the Movember Foundation, that will sigificantly improve the physical and mental health of men diagnosed and living with prostate cancer.</p>

                    <p>TrueNTH online give you the tools to feel knowledgeable and confident about managing your condition.</p>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="lead">Login to your account</p>
                            <div>
                                <a href="portal.html" class="btn btn-primary btn-tnth-primary"><i class="fa fa-facebook-official"></i>&nbsp; Sign In with Facebook</a>
                                <div style="margin: 1em 0 1em 2em">or</div>
                                <a href="portal.html" class="btn btn-primary btn-tnth-primary"><i class="fa fa-user"></i>&nbsp; Sign In with Movember</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <hr class="visible-xs" />
                            <p class="lead">Register for an account</p>
                            <div>
                                <div class="btn btn-default"><i class="fa fa-pencil"></i>&nbsp; Register Now</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

<script>
/*** Example of how an intervention would call the portal banner ***/

PORTAL_NAV_PAGE = "https://actiontracker-prod-www-1.cirg.washington.edu/mark47-portal/topnav.php";
PORTAL_HOSTNAME = new URL(PORTAL_NAV_PAGE).hostname;

// Return an XHR without XHR header so  it doesn't need to be explicitly allowed with CORS
function xhr_function(){
    // Get new xhr object using default factory
    var xhr = jQuery.ajaxSettings.xhr();
    // Copy the browser's native setRequestHeader method
    var setRequestHeader = xhr.setRequestHeader;
    // Replace with a wrapper
    xhr.setRequestHeader = function(name, value) {
        // Ignore the X-Requested-With header
        if (name == 'X-Requested-With') return;
        // Otherwise call the native setRequestHeader method
        // Note: setRequestHeader requires its 'this' to be the xhr object,
        // which is what 'this' is here when executed.
        setRequestHeader.call(this, name, value);
    }
    // pass it on to jQuery
    return xhr;
}

// AJAX callback
function embed_page(data){
    $("#mainNav")
        // Embed data returned by AJAX call into container element
        .html(data)
        // Todo: add "data-*" HTML attribute
}

$(document).ready(function() {

/*** Remove comment to fill nav with remote content
    var initial_xhr = $.ajax({
        url: PORTAL_NAV_PAGE,
        type:'GET',
        contentType:'text/plain',
        //dataFilter:data_filter,
        //xhr: xhr_function,
        crossDomain: true,
        //xhrFields: {withCredentials: true},
    }, 'html')
    .done(function(data) {
        embed_page(data);
    })
    .fail(function(jqXHR, textStatus, errorThrown) {
        alert("Error loading nav elements from " + PORTAL_HOSTNAME);
    })
    .always(function() {
        // alert( "complete" );
    });
***/    
});
</script>

</body>
</html>
