{% macro tou(terms) -%}
    <div id="topTerms">
        <h3 class="tnth-headline">Terms of Use</h3>
        <p>Thanks for signing up for TrueNTH. First, please review the terms of use to access the TrueNTH tools:</p>
        <div class="well" style="margin-left: 2em">
            <div id="termsText">
              {{ terms|safe if terms}}
            </div>
            <div id="termsExpand" class="tnth-hide">
              <a href=""><i class="fa fa-plus"></i> View TrueNTH Terms</a>
            </div>
            <div>
              <label id="agreeLabel" data-agree="false">
                <i class="fa fa-square-o fa-lg"></i> <span>Check here to agree to these terms</span>
              </label>
            </div>
        </div>
    </div>
  {%- endmacro %}

  {% macro nameGroup() -%}
    <div class="row" id="nameGroup">
        <div class="col-xs-6">
          <div class="form-group float-input-label">
            <input class="form-control float-text" id="firstname" name="firstname" placeholder="First Name" type="text" required="required" data-error="First name is required"  />
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group float-input-label">
            <input class="form-control float-text" id="lastname" name="lastname" placeholder="Last Name" type="text" required="required" data-error="Last name is required" />
            <div class="help-block with-errors"></div>
          </div>
        </div>
    </div>
    <script>$(function () { tnthAjax.getDemo($("#iq_userId").val());});</script>
  {%- endmacro %}

  {% macro rolesGroup() -%}
      <div class="form-group" id="rolesGroup">
          <div class="radio">
            <label>
              <input type="radio" name="user_type" value="patient"> I'm a man who is concerned about prostate cancer for myself
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="user_type" value="partner"> I'm a caregiver, spouse or partner who wants to learn more about prostate cancer
            </label>
          </div>
      </div>
      <script>$(function () { tnthAjax.getRoles($("#iq_userId").val());});</script>
  {%- endmacro %}

  {{tou()}}

  {% macro dobGroup() -%}
      <div class="tnth-hide" id="bdGroup">
          <hr />
          <p>When is your birthday?</p>
          <input type="hidden" name="birthDate" id="birthday" value="">
          <div class="form-group">
            <label>Birth Date</label>
            <div class="row">
              <div class="col-xs-4">
                <select class="form-control bd-element" name="birthdayMonth" id="month" data-birthday="true" required>
                  <option value="">Month...</option>
                  <option value="01">January</option>
                  <option value="02">February</option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
              <div class="col-xs-4">
                <input class="form-control bd-element" id="date" name="birthdayDate" placeholder="DD" type="text" maxlength="2" data-birthday="true" required />
              </div>
              <div class="col-xs-4">
                <input class="form-control bd-element" id="year" name="birthdayYear" placeholder="YYYY" type="text" maxlength="4" data-birthday="true" required />
              </div>
            </div>
            <span id="errorbirthday" class="help-block tnth-hide">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
  {%- endmacro %}
  {% macro patientQGroup() -%}
    <div class="tnth-hide" id="patientQ">
        <hr />
        <div id="patBiopsy" data-topic="biopsy" class="tnth-hide pat-q">
          <br />
          <p>Have you had a prostate cancer biopsy?</p>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="biopsy" value="true"> Yes
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="biopsy" value="false"> No
              </label>
            </div>
          </div>
        </div>

        <div id="patDiag" data-topic="pca_diag" class="tnth-hide pat-q">
          <br />
          <p>Have you been diagnosed with prostate cancer?</p>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="pca_diag" value="true"> Yes
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="pca_diag" value="false"> No
              </label>
            </div>
          </div>
        </div>

        <div id="patMeta" data-topic="pca_localized" class="tnth-hide pat-q">
          <br />
          <p>Is the prostate cancer only within the prostate?</p>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="pca_localized" value="true"> Yes
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="pca_localized" value="false"> No (the cancer is in other parts of my body, too)
              </label>
            </div>
          </div>
        </div>

        <div id="patTx" data-topic="tx" class="tnth-hide pat-q">
          <br />
          <p>Have you begun prostate cancer treatment?</p>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="tx" value="true"> Yes
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="tx" value="false"> No
              </label>
            </div>
          </div>
        </div>

      </div>
      <script>$(function () { tnthAjax.getClinical($("#iq_userId").val());});</script>
  {%- endmacro %}
  {% macro clinic() -%}
    <div id="clinics" class="tnth-hide">
      <hr />
      <h3 class="tnth-headline">Your Clinic</h3>

      <p>Where are you receiving your care?</p>

      <div class="form-group" id="userOrgs">
        <div style="margin-left: 10px">
          <div id="fillOrgs"></div>
          <div style="margin: 0.5em 0" class="checkbox"><label><input id="noOrgs" class="clinic" type="checkbox" name="organization" value="0">I'm not receiving care at any of the above clinics</label></div>
        </div>
      </div>
    </div>
    <script>$(function () { tnthAjax.getOrgs($("#iq_userId").val());});</script>
  {%- endmacro %}
