{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import back_btn %}

{% from "initial_queries_macros.html" import tou, nameGroup, rolesGroup, dobGroup, patientQGroup, clinic, consent %}
{% from "profile_macros.html" import profileOrgsSelector %}
<input type="hidden" id="iq_userId" value="{{user.id}}" />
<div id="progressWrapper"><ul id="progressbar" class="progressbar"></ul></div>
{{tou(terms, user)}}
<div id="aboutForm" class="tnth-hide">
  <form class="form tnth-form to-validate" id="queriesForm" action='initial-queries' method='POST'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% if user and user.email %}
      <input type="hidden" name="email" id="email" value="{{user.email}}" />
    {% endif %}
    <div id="demographicsContainer" class="iq-container" data-parent-section="true">
      <div class="content">
          <div class="heading"><h3 class="tnth-headline">{{ _("Tell us a little about yourself.") }}</h3></div>
          <div class="content-body">
              {{nameGroup()}}
              <br/><br/>
              {{dobGroup()}}
              <br/><br/>
              {{rolesGroup()}}
              <div class="get-demo-error error-message"></div>
              <div class="put-demo-error error-message"></div>
          </div>
      </div>
    </div>
    <div id="clinicalContainer" class="iq-container" data-parent-section="true">
      <div class="content">
        <div class="heading"><h3 class="tnth-headline">{{ _("Now it's time to build your prostate cancer profile.") }}</h3></div>
        <div class="content-body">
          <p class="subtitle">{{_("The questions we're asking will help us customize what you see and provide the best information to help you track and manage your prostate cancer journey.")}}</p>
          {{patientQGroup(user)}}
        </div>
      </div>
    </div>
    <div id="orgsContainer" class="iq-container" data-parent-section="true">
      <div class="content">
        <div class="heading"><h3 class="tnth-headline">{{ _("Your clinic of care.") }}</h3></div>
        <div class="content-body">
           {% if session.get('associate_clinic_id', '') or ('patient' in config.CONSENT_EDIT_PERMISSIBLE_ROLES) %}
                {{profileOrgsSelector(user, user, consent_agreements)}}
           {% else %}
                {{clinic(consent_agreements)}}
           {% endif %}
        </div>
      </div>
    </div>
    <div class="reg-buttons-msg-wrapper">
        <div class="reg-complete-container">
            <h4 class="profile-item-title"> {{ _("Thank you.") }}</h4>
            <p>{{ _("Click continue to start using TrueNTH") }}</p>
        </div>
        <div id="buttonsContainer" class="button-container">
          <div class="loading-message-indicator"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
          <button id="next" type="button" class="btn btn-lg btn-tnth-primary" disabled>{{_("Next")}}</button>
          <button id="updateProfile" type="submit" class="btn btn-lg btn-tnth-primary" disabled>{{ _("Continue to TrueNTH") }}</button>
        </div>
    </div>
  </form>
</div>
<div id="iqErrorMessage" class="default-error-message-container error-message text-danger"></div>
{% endblock %}
{% from "flask_user/_macros.html" import linksHTML, logo %}
{% block footer %}
<!-- custom footer -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div id="iqFooterWrapper" class="footerWrapper">
        <div id="homeFooter" class="container-fluid">
          <div class="row">
              <div class="col-xs-6 col-lg-8 footer-container">
                  <div class="copyright-container">{{linksHTML(user=user)}}</div>
              </div>
              <div class="col-xs-6 col-lg-4 footer-container logo-container">
                  <div class="pull-right">{{logo()}}</div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/initialQueries.js') }}"></script>
{% endblock %}
{% block document_ready %}
var CONSENT_WITH_TOP_LEVEL_ORG = {% if config.CONSENT_WITH_TOP_LEVEL_ORG %}true{%else%}false{%endif%};
var CONFIG_DEFAULT_CORE_DATA = {%if config.REQUIRED_CORE_DATA %}{{config.REQUIRED_CORE_DATA|safe}}{% else%}false{%endif%};
// Check if there's a session variable for associated clinic
var preselectClinic = "{{session.get('associate_clinic_id', '')}}";
var fc = new window.FieldsChecker("{{user.id}}",
                            {%-if user.has_role(ROLE.PATIENT) or user.has_role(ROLE.STAFF) or user.has_role(ROLE.STAFF_ADMIN)-%}true{%-else-%}false{%-endif-%}, CONFIG_DEFAULT_CORE_DATA,
                            null,
                            preselectClinic,
                            {i18next: i18next,
                             tnthAjax: tnthAjax,
                             orgTool: OT,
                             assembleContent: assembleContent,
                             tnthDates: tnthDates
                            });

$(document).ready(function(){
  /*
   * the flow here :
   * get still needed core data
   * populate all required fields
   * get incomplete fields thereafter
   * note: need to delay gathering incomplete fields to allow fields to be render
   */

  fc.init(function() {
      fc.startTime = new Date();
      DELAY_LOADING = true;
      fc.intervalId = setInterval(function() {
        fc.endTime = new Date();
        var elapsedTime = fc.endTime - fc.startTime;
        elapsedTime /= 1000;
        if (fc.sectionsLoaded() || elapsedTime >= 3) {
            setTimeout(function() {
              fc.initIncompleteFields();
              fc.onIncompleteFieldsDidInit();
            }, 300);
            fc.startTime = 0;
            fc.endTime = 0;
            clearInterval(fc.intervalId);
            DELAY_LOADING = false;
            showMain();
            hideLoader(true);
        };
      }, 10);
  });
});
{% endblock %}

