{% macro tou(terms) -%}
    <div id="topTerms" parent-section="true">
        <h4 class="tnth-headline">{{ _("Terms of Use") }}</h4>
        <hr/>
        <br/>
        <p>{{ _("Thanks for signing up for TrueNTH. First, please review the terms of use to access the TrueNTH tools") }}:</p>
        <div class="well">
            <div id="termsText">
              {{ terms['asset']|safe if terms}}
            </div>
            <meta id="termsURL"
                  data-url="{{ terms['agreement_url']|safe if terms}}"/>
            <div id="termsExpand" class="tnth-hide">
              <a href=""><i class="fa fa-plus"></i> {{ _("View TrueNTH Terms") }}</a>
            </div>
            <div>
              <label id="agreeLabel" data-agree="false">
                <i class="fa fa-square-o fa-lg"></i> <span>{{ _("Check here to agree to these terms") }}</span>
              </label>
            </div>
            <br/>
        </div>
    </div>
  {%- endmacro %}

  {% macro nameGroup() -%}
    <div class="row" id="nameGroup" parent-section="true">
        <div class="col-md-4 col-xs-6">
          <div class="form-group float-input-label">
            <input class="form-control float-text init-queries-field" id="firstname" name="firstname" placeholder="{{ _('First Name') }}" type="text" required="required" data-error="{{ _('First name is required') }}"  />
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="form-group float-input-label">
            <input class="form-control float-text init-queries-field" id="lastname" name="lastname" placeholder="{{ _('Last Name') }}" type="text" required="required" data-error="{{ _('Last name is required') }}" />
            <div class="help-block with-errors"></div>
          </div>
        </div>
    </div>
    <script>$(function () {
        tnthAjax.getName($("#iq_userId").val());
        ["firstname", "lastname"].forEach(function(field) {
            $("#" + field).on("blur", function() {
                assembleContent.demo($("#iq_userId").val());
            });
        });
      });</script>
  {%- endmacro %}

  {% macro rolesGroup() -%}
      <div class="form-group" id="rolesGroup" parent-section="true">
          <div class="radio">
            <label>
              <input type="radio" class="init-queries-field" name="user_type" id="role_patient" value="patient"> {{ _("I'm a man who is concerned about prostate cancer for myself") }}
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" class="init-queries-field" name="user_type" id="role_caregiver" value="partner"> {{ _("I'm a caregiver, spouse or partner who wants to learn more about prostate cancer") }}
            </label>
          </div>
      </div>
      <script>$(function () { tnthAjax.getRoles($("#iq_userId").val());});</script>
  {%- endmacro %}

  {{tou()}}

  {% macro dobGroup() -%}
      <div class="tnth-hide" id="bdGroup" parent-section="true">
          <hr />
          <p>{{ _("When is your birthday?") }}</p>
          <input type="hidden" name="birthDate" id="birthday" value="">
          <div class="form-group">
            <label>{{ _("Birth Date") }}</label>
            <div class="row">
              <div class="col-md-3 col-xs-4">
                <input class="form-control bd-element init-queries-field" id="date" name="birthdayDate" placeholder="DD" type="text" maxlength="2" pattern="\d[\d]?" data-error="The birth day field is required and must be valid format" required />
              </div>
              <div class="col-md-3 col-xs-4">
                <select type="select" class="form-control bd-element init-queries-field" name="birthdayMonth" id="month" data-error="-- A birth month must be selected" required>
                  <option value="">{{ _("Month") }}...</option>
                  <option value="01">{{ _("January") }}</option>
                  <option value="02">{{ _("February") }}</option>
                  <option value="03">{{ _("March") }}</option>
                  <option value="04">{{ _("April") }}</option>
                  <option value="05">{{ _("May") }}</option>
                  <option value="06">{{ _("June") }}</option>
                  <option value="07">{{ _("July") }}</option>
                  <option value="08">{{ _("August") }}</option>
                  <option value="09">{{ _("September") }}</option>
                  <option value="10">{{ _("October") }}</option>
                  <option value="11">{{ _("November") }}</option>
                  <option value="12">{{ _("December") }}</option>
                </select>
              </div>
              <div class="col-md-3 col-xs-4">
                <input class="form-control bd-element init-queries-field" id="year" name="birthdayYear" placeholder="YYYY" type="text" maxlength="4" pattern = "(19|20)\d{2}" data-error="The birth year is required and must be in valid format" required />
              </div>
            </div>
            <div class="help-block with-errors" style="margin-top: 1em; padding-left: 1em"></div>
            <span id="errorbirthday" class="help-block tnth-hide custom-error" style="margin-top: 1em; padding-left: 1em; color: #a94442"></span>
        </div>
      </div>
       <script>$(function () {
            tnthAjax.getDob($("#iq_userId").val());
          });</script>
  {%- endmacro %}
  {% macro patientQGroup(user) -%}
    <div id="patientQ" class="tnth-hide" parent-section="true">
        <hr />
        <div id="patBiopsy" data-topic="biopsy" class="thn-hide pat-q">
          <br />
          <p>{{ _("Have you had a prostate cancer biopsy?") }}</p>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" class="init-queries-field" name="biopsy" id="biopsy_yes" value="true"> {{ _("Yes") }}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" class="init-queries-field" name="biopsy" id="biopsy_no" value="false"> {{ _("No") }}
              </label>
            </div>
          </div>
        </div>

        <div id="patDiag" data-topic="pca_diag" class="tnth-hide pat-q">
          <br />
          <p>{{ _("Have you been diagnosed with prostate cancer?") }}</p>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" class="init-queries-field" name="pca_diag" id="pca_diag_yes" value="true"> {{ _("Yes") }}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" class="init-queries-field" name="pca_diag" id="pca_diag_no" value="false"> {{ _("No") }}
              </label>
            </div>
          </div>
        </div>

        <div id="patMeta" data-topic="pca_localized" class="tnth-hide pat-q">
          <br />
          <p>{{ _("Is the prostate cancer only within the prostate?") }}</p>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" class="init-queries-field" name="pca_localized" id="pca_localized_yes" value="true"> {{ _("Yes") }}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" class="init-queries-field" name="pca_localized" id="pca_localized_no" value="false"> {{ _("No (the cancer is in other parts of my body, too)") }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <script>$(function () { tnthAjax.getClinical($("#iq_userId").val());});</script>
  {%- endmacro %}
  {% macro clinic(consent_agreements) -%}
    <div id="clinics" class="tnth-hide" parent-section="true">
      <hr />
      <h3 class="tnth-headline">{{ _("Your Clinic") }}</h3>

      <p>{{ _("Where are you receiving your care?") }}</p>

      <div class="form-group" id="userOrgs">
        <div style="margin-left: 10px">
          <div id="fillOrgs"></div>
          <div style="margin: 0.5em 0" class="checkbox"><label><input id="noOrgs" class="clinic" type="checkbox" name="organization" value="0">{{ _("I'm not receiving care at any of the above clinics") }}</label></div>
        </div>
      </div>
      {{consent(consent_agreements)}}
    </div>
    <script>
    $(function () {
        //tnthAjax.getConsent($("#iq_userId").val(), true);
        tnthAjax.getOrgs($("#iq_userId").val(), false,true);
      });
    </script>

  {%- endmacro %}
  {% macro consent(consent_agreements) -%}
    {% if consent_agreements %}
        <div id="consentContainer" style="display:none">
          {% for org in consent_agreements %}
            <div id="{{org}}_consentItem" class="well consent">
              <input type="hidden" id="{{org}}_agreement_url" value="{{consent_agreements[org].agreement_url}}" />
              <input id="{{org}}_consent" class="consent-checkbox" type="checkbox" /><label id="{{org}}_consent_label" labelfor="#{{org}}_consent"><!--text for sharing data--></label><br/><a href="javascript:void()" style="" data-toggle="modal" data-target="#{{org}}_consentModal"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;view agreement</a>
              <div class="modal fade" id="{{org}}_consentModal" tabindex="-1" role="dialog" aria-labelledby="{{org}}_consentModalLabel">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">{{ _("Sharing Your Data") }}</h4>
                        </div>
                        <div class="modal-body">
                          <br/>
                           {{consent_agreements[org].asset|safe}}
                          <br/>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
          {% endfor %}
        </div>
      {% endif %}
  {%- endmacro %}


