{% extends "layout.html" %}
{% block main %}
<style>
    #tnthNavWrapper {
        display: none;
    }
    #mainDiv {
        background: none;
    }
</style>

<div id="fullSizeBox" class="box-min-400">
    <img src="{{ url_for('static', filename='img/bg_canoe.jpg') }}" class="img-responsive hidden-xs" />

    <div id="fullSizeContainer">

        <div class="text-center"><a href="/"><img id="fullSizeLogo" src="{{ url_for('static', filename='img/logo_wordmark.png') }}" alt="TrueNTH" /></a></div>

        <div id="wellContainer">

            <div class="tnth-splash">
                <div id="wellContent">
                 <div id="sysMaintenanceContainer" class="alert alert-warning" role="alert" style="font-size:0.75em; width:500px; max-width:100%; margin: 0 auto; padding:10px"><em><b>Please Note</b></em>: The system will be down for maintenance this Wednesday, 12/07/2016, between 10 a.m. to 2 p.m.</div>
                    <div class="headline">Tools for navigating the prostate cancer journey</div>
                    <a href="/user/register" class="btn feature-btn feature-btn-primary">Register</a>
                </div>
                <div class="tnth-splash-bottom">
                    <a href="/user/sign-in" class="tnth-splash-bottom-link">Login</a><span class="tnth-splash-bottom-link separator"></span><a href="/explore" class="tnth-splash-bottom-link">Explore</a>
                </div>

            </div>

        </div>


    </div>

</div>

{% endblock %}

