{% extends "layout.html" %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <div class="well lead-well">
  <h3>
  Welcome to the Landing Page.
  </h3>
  <a href='/user/sign-in'>Log In or Create an Account</a> or:

  <h4> Where am I, what is this about? </h4>
  <ul>
      <li>The TrueNTH initiative</li>
      <li>The TrueNTH website</li> 
      <li>What can I do?</li>
          learn about support and guidance for men with prostate cancer and
          those who care about them.  You can:
          <ul>
              <li><a href='/user/sign-in'>register now</a>, or later in this session, to save your information for a future visit</li>
              <li><a href='/home'>use this site anonymously</a> <a href='/terms-of-use'>(anonymous terms of use, privacy policy)</a></li>
              <li><a href='/home'>tell us about yourself so we guide you to the right place during this session</a></li>
          </ul>
  </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
