<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>True NTH USA Portal Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portal.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/validator.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <!-- topNav loads here -->
    <div id="mainNav">
    </div>
    <div id="mainDiv">
    {# One-time system messages called Flash messages #}
    {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category=='error' %}
                        {% set category='danger' %}
                    {% endif %}
                    <div class="alert alert-{{category}}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    {% endblock %}

    {% if request.path=="/" %} <div class="container-fluid">
    {% else %} <div class="portal-container"><div class="container">
    {% endif %}
    <div class="row">
        <div class="col-xs-12">
            {% block main %}
            {% endblock %}
        </div>
    </div>

    {% if request.path=="/" %} </div>
    {% else %} </div></div>
    {% endif %}

    {% from "flask_user/_macros.html" import footer %}
    {{ footer() }}

    </div> <!-- <div id="main-div"> -->
<script>
PORTAL_NAV_PAGE = window.location.protocol+"//"+window.location.host+"/api/portal-wrapper-html/";
PORTAL_HOSTNAME = new URL(PORTAL_NAV_PAGE).hostname;

{% block document_ready %}
$(document).ready(function(){

    $('[data-toggle="popover"]').popover();

    equalHeightBoxes("lead-well");
    $(window).resize(function() {
        // Fire resize if browser window size changes. Delay by 200ms to avoid
        // too many firings as user drags browser window
        clearTimeout(this.id);
        this.id = setTimeout(equalHeightBoxes("lead-well"), 200);
    });
});
{% endblock %}
</script>
</body>
</html>
