{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import back_btn %}
{% from "flask_user/profile_macros.html" import profile, profileSaveBtn %}

{{ back_btn('patients','Patients List') }}

<div id="loadingIndicator" class="loading-indicator">
    <i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
</div>


<div class="reduce-font-sizes">

    <h3 class="tnth-headline">
        Patient #{{ patient.id}} - {{ patient.username }}
    </h3>

    <form id="profileForm" class="form tnth-form to-validate" role="form">

        <div class="row" style="position: relative;">
            <div class="col-md-9">
                {{profile(patient, current_user)}}
                {{profileSaveBtn()}}
            </div>

            <!--
            <div class="col-md-4 pos-bottom-md">
            <div id="patientQuestions">
                <div class="form-group">
                    <label>Have you had a prostate cancer biopsy?</label>
                    <div>
                        <label class="radio-inline">
                            <input class="history-q" type="radio" name="biopsy" value="true" />
                            Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="biopsy" value="false" />
                            No
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Have you been diagnosed with prostate cancer?</label>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="pca_diag" value="true" />
                            Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="pca_diag" value="false" />
                            No
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Have you begun prostate cancer treatment?</label>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="tx" value="true" />
                            Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tx" value="false" />
                            No
                        </label>
                    </div>
                </div>
            </div>
            <div class="visible-lg"><br /></div>
            </div>
            -->
        </div>




    </form>
    <br />
    {{ back_btn('patients','Patients List') }}

</div>


{% endblock %}

{% block document_ready %}

var patientId = {{ patient.id }};
$(document).ready(function(){
    
    //this is done in macro now
    //tnthAjax.getOrgs(patientId);

    // Fill in 3 birthday fields based on existing value - requires date format YYYY-MM-DD
    //var currentBd = $("#birthday").val();
    //if (currentBd) {
    //    var bdArray = currentBd.split("-");
    //    $("#year").val(bdArray[0]);
    //    $("#month").val(bdArray[1]);
    //    $("#date").val(bdArray[2]);
    //}

    // When there's a change, check validation and if good, assembleContent
    $('#profileForm').on('validated.bs.validator', function(e) {
        var validator = $(this).data('bs.validator');
        if (!validator.hasErrors()) {
            assembleContent.demo({{ patient.id }},true);
            $("#errorMsg").hide()
        } else {
            $("#errorMsg").fadeIn("slow")
        }
    });

    // Submit the form here
    $("#updateProfile").on("click", function(event){
        event.preventDefault()
        assembleContent.demo({{ patient.id }},true);
        $("#confirmMsg").fadeIn();
    });

});

/** Remove patientQuestion functionality for now
var getQs = [ "biopsy", "pca_diag", "tx"];
$.each(getQs, function(i,val){
    $.ajax ({
        type: "GET",
        url: '/api/patient/{{ patient.id }}/clinical/'+val
    }).done(function(data) {
        var $radios = $('input:radio[name='+val+']');
        if($radios.is(':checked') === false) {
            $radios.filter('[value='+data.value+']').prop('checked', true);
        }
    }).fail(function() {
        console.log("Problem retrieving data from server.")
    });
});

$("#patientQuestions input").on("change", function(){
    var toCall = $(this).attr("name");
    var theVal = $(this).val();
    $.ajax ({
        type: "POST",
        url: '/api/patient/{{ patient.id }}/clinical/'+toCall,
        contentType: "application/json; charset=utf-8",
        dataType: 'json',
        data: JSON.stringify({value: theVal})
    }).done(function() {
        // Allow user to save with button, even though these answers have already been submitted
        $('#updateProfile').removeClass("disabled")
    }).fail(function() {
        alert("There was a problem saving your answers. Please try again.");
    });
});
**/

/** Get and Put roles **/
tnthAjax.getRoles({{ patient.id }}, true);
$("#rolesGroup input:checkbox").on("click",function(){

    var roles = $("#rolesGroup input:checkbox:checked").map(function(){
        return { name: $(this).val() };
    }).get();
    var toSend = {"roles": roles}
    tnthAjax.putRoles({{patient.id}},toSend);

});

{% endblock %}
