{% extends "layout.html" %}
{% block main %}
<div id="patientList" class="reduce-font-sizes">

<h4 class="tnth-headline">Patient List</h4>
<br/>
<div><a  href="{{ url_for('patients.profile_create') }}"><button class="create-user-link btn btn-lg btn-tnth-primary">Create a patient record</button></a> or select a patient below to view or update details.</div>

<hr/>

{% if patients_by_org|length > 1 %}
<div class="small orgLinks">
    <p>Skip to:</p>
    <ul>
        {% set orgCountLink = 1 %}
        {% for id, name in org_list | dictsort %}
        <li><a href="#location{{orgCountLink}}">{{ name }}</a></li>
        {% set orgCountLink = orgCountLink + 1 %}
        {% endfor %}
    </ul>
</div>
{% endif %}


<hr />

{% set orgCount = 1 %}
{% for org in patients_by_org.keys() %}
<div class="admin-table table-responsive smaller-text">
    <h4 id="location{{orgCount}}">{{ org }} Patients</h4>

{% if config.PROVIDER_BULK_DATA_ACCESS %}

    <a href="javascript:void(0)" id="patientDataDownload{{ orgCount }}" class="btn btn-tnth-primary" data-toggle="modal" data-target="#dataDownloadModal">Download patient list for this clinic</a>        
    <a href="javascript:void(0)" id="patientAssessmentDownload{{ orgCount }}" class="btn btn-tnth-primary" data-toggle="modal" data-target="#dataDownloadModal">Download patient assessment data for this clinic</a>        

{% endif %}

    <div id="adminTableToolbar{{ orgCount }}" class="admin-toolbar"><span id="tableCount{{orgCount}}"></span></div>
    <table id="adminTable{{orgCount}}"
           data-table-id="{{orgCount}}"
           class="tnth-admin-table"
           data-classes="table table-hover table-condensed table-striped table-responsive"
           data-toggle="table"
           data-sort-name="userid"
           data-sort-order="desc"
           data-search="true"
           data-pagination="true"
           data-page-size="50"
           data-page-list="[25,50,100,ALL]"
           data-toolbar="#adminTableToolbar{{orgCount}}"
           data-show-toggle="true"
           data-show-columns="true">
        <thead>
            <tr>
                <th data-field="userid" data-sortable="true" data-sorter="tnthTables.stripLinksSorter">ID</th>
                <th data-field="username" data-sortable="true">Username</th>
                <th data-field="firstname" data-sortable="true">First Name</th>
                <th data-field="lastname" data-sortable="true">Last Name</th>
                <th data-field="email" data-sortable="true">Email</th>
                <th data-field="provider_html" data-sortable="true">Reports</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for user in patients_by_org[org] %}
            <tr>
                <td><a href="{{ url_for('patients.patient_profile', patient_id=user.id) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name if user.first_name }}</td>
                <td>{{ user.last_name if user.last_name }}</td>
                <td>{{ user.email if user.email }}</td>
                <td class="rowlink-skip">{{ user.provider_html() | safe }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if orgCount < patients_by_org.keys()|length %}
<hr />
{% endif %}
{% set orgCount = orgCount + 1 %}
{% endfor %}

</div>
        <div class="modal fade" id="dataDownloadModal" tabindex="-1" role="dialog" aria-labelledby="patientDataDownloadModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Bulk data download not yet implemented</h4>
              </div>
              <div class="modal-body" style="font-size:0.8em">
                <br/>
                <p class="text-left">Bulk data download not yet implemented</p>
                <br/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:0.7em">Close</button>
              </div>
            </div>
          </div>
        </div>


{% endblock %}
{% block document_ready %}

$(".tnth-admin-table").bootstrapTable({
    formatShowingRows: function (pageFrom, pageTo, totalRows) {
        var thisId = $(this).attr("tableId");
        var rowInfo = "Showing "+pageFrom+" to "+pageTo+" of "+totalRows+" users";
        $("#tableCount"+thisId).html(rowInfo);
        return rowInfo;
    }
});
{% endblock %}

