{% extends "layout.html" %}
{%- from "flask_user/_macros.html" import back_btn, footer -%}
{% block main %}
{%- from "profile/profile_macros.html" import profileName, profileBirthDate, profilePhone, profileAltPhone, profileStudyID, profileSiteID, profileSaveBtn, profileConsentDate, profileProcedures, profileSaveBtn -%}
{%- from "initial_queries_macros.html" import consent_fields -%}
<br/>
<form id="createProfileForm" data-account="patient" class="form tnth-form to-validate" data-toggle="validator">
    <input type="hidden" id="current_user_email" value="{{user.email}}" />
    <input type="hidden" id="currentStaffUserId" value="{{user.id}}" />
    <div class="row">
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-push-2 col-md-9 col-xs-12">
                    <h4 class="tnth-headline left-indent-top">{{ _("New Patient") }}</h4>
                    <hr/>
                    <br/>
                    <div class="profile-item-container create-account-container">
                    <div class="row">
                        <div class="col-md-11 col-xs-12">
                            {{profileName(False)}}
                            <br/>
                            {{profileBirthDate(False)}}
                        </div>
                    </div>
                    <div class="form-group float-input-label profile-section" id="emailGroup">
                        <label for="email">{{ _("Email Address") }}</label>
                        <input type="text" class="form-control" id="email" name="email" autocomplete="off" placeholder="{{ _('Email Address') }}" value="" data-customemail="true" required />
                        <div id="noEmailContainer">
                            <input type="checkbox" id="noEmail" aria-label="{{_('No email')}}" class="text-muted">&nbsp;&nbsp;<span class="text-muted">{{_("User does not have email address")}}</span>
                        </div>
                        <div class="help-block with-errors" id="erroremail"></div>
                    </div>
                    {{profilePhone(False)}}
                    {{profileAltPhone(False)}}
                    {{profileStudyID(False)}}
                    {{profileSiteID(False)}}
                    {{profileConsentDate()}}
                    {{profileProcedures(False, user)}}
                    <div class="divider"></div>
                    <div class="form-group profile-section" id="userOrgs">
                        <label>{{ _("Clinics") }}</label>
                        <div id="fillOrgs"></div>
                        <div class="help-block with-errors get-orgs-error error-message"></div>
                    </div>
                    <br/>
                    <br/>
                    <div class="save-button-container">
                        {{profileSaveBtn()}}
                    </div>
            </div>
            <br/>
            <div class="back-button-container">
                {{ back_btn('patients','patients list')}}
            </div>
            </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="stock_consent_url" value="{{ url_for('portal.stock_consent', org_name='placeholder', _external=True)}}" />
    <input type="text" id="error_response_text" value="" class="tnth-hide" />
    {%- if consent_agreements -%}<div id="_consentContainer">{{consent_fields(consent_agreements)}}</div>
    {%- endif -%}
</form>
<a id="redirectLink" href="" name="redirectLink" class="tnth-hide">&nbsp;</a>
{% endblock %}
{% block footer %}
{{footer(user=user)}}
{% endblock %}
{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/procedures.js') }}" async></script>
<script src="{{ url_for('static', filename='js/accountCreation.js') }}"></script>
{% endblock %}
{% block document_ready %}
var leafOrgs = {% if leaf_organizations %} {{leaf_organizations | safe}} {% else %} false {% endif %};
var aco = new AccountCreationObj(
[{'name': '{{ROLE.PATIENT}}'}, {'name': '{{ROLE.WRITE_ONLY}}'}],
{'i18next': i18next,
'tnthAjax': tnthAjax,
'SYSTEM_IDENTIFIER_ENUM': SYSTEM_IDENTIFIER_ENUM,
'OrgTool': OT,
'leafOrgs': leafOrgs
});
var profileObj = new Profile("", $("#currentStaffUserId").val());
profileObj.initSection("demo");
$(function() {
    /*** need to run this instead of the one function from main.js because we don't want to pre-check any org here ***/
    aco.getOrgs(aco.populatePatientOrgs);
});
{% endblock %}
