<link rel="stylesheet" href="{{PORTAL}}{{ url_for('static', filename='css/topnav.css') }}">
<script src="{{PORTAL}}{{ url_for('static', filename='js/tnth.js') }}"></script>
{% if config.PIWIK_SITEID %}
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", {{ config.PIWIK_DOMAINS|safe }}]);

    {% if user %}
    _paq.push(["setUserId", "{{ user.id }}"]);
    {% endif %}

    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//piwik.cirg.washington.edu/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', {{ config.PIWIK_SITEID }}]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//piwik.cirg.washington.edu/piwik.php?idsite={{ config.PIWIK_SITEID }}" style="border:0;" alt="" /></p></noscript>
{% endif %}
<div id="tnthNavWrapper">

    <div id="tnthNavMain">
        <div id="tnthNavMainContainer">
            <div id="tnthLogo">
                <a href="{{PORTAL}}"><img src="{{PORTAL}}{{ url_for('static', filename='img/logo_wordmark_topnav2.png') }}" /></a>
            </div>
            <div id="tnthTopLinks">
                <div class="tnth-btn-group">
                    {% if username %}
                    <button id="tnthUserBtn" type="button" class="tnth-nav-btn tnth-white tnth-dropdown-toggle" data-toggle="dropdown">
                        Welcome{% if username != "Anonymous" %}, {{ username }}{% endif %}
                        <img src="{{movember_profile}}" width="50" height="50" />
                    </button>
                    <ul class="tnth-dropdown-menu" role="menu">
                        <li><a href="{{PORTAL}}">TrueNTH Home</a></li>
                        <li><a href="{{PORTAL}}/profile">My TrueNTH Profile</a></li>
                        <li><a href="{{PORTAL}}/about">About TrueNTH</a></li>
                        {% if user and user.has_roles('application_developer') %}
                        <li><a href="{{PORTAL}}/clients">Client Applications</a></li>
                        {% endif %}
                        {% if user and user.has_roles('admin') %}
                        <li><a href="{{PORTAL}}/admin">User Administration</a></li>
                        {% endif %}
                        <li><a href="{{PORTAL}}/logout">Log Out of TrueNTH</a></li>
                    </ul>
                    {% elif login_url %}
                    <button type="button" class="tnth-nav-btn tnth-white tnth-dropdown-toggle" data-toggle="dropdown">
                        Welcome
                    </button>
                    <ul class="tnth-dropdown-menu" role="menu">
                        <li><a href="{{ login_url }}">Log In to TrueNTH</a></li>
                    </ul>
                    {% endif %}
                </div>
                <!--
                <a class="tnth-white tnth-nav-btn" href="{{PORTAL}}" title="Return to TrueNTH Home">
                    <div id="tnthHomeBtn"></div>
                </a>
                -->
            </div>
        </div>

    </div>

    <div id="tnthNavXs">
        <div class="tnth-container-fluid">
            <div class="tnth-navbar-header">
                <div class="tnth-white tnth-navbar-toggle tnth-nav-btn {% if not username %}tnth-navbar-no-profile{% endif %}">
                    MENU <img src="{{movember_profile}}" width="45" height="45" />
                </div>
                <a id="tnthLogoXs" href="{{PORTAL}}" title="Return to TrueNTH home"><img src="{{PORTAL}}{{url_for('static',filename='img/logo_wordmark_topnav.png')}}" /></a>
            </div>
            <div id="tnthNavbarXs">
                <ul class="tnth-navbar-xs">
                    <li><a href="{{PORTAL}}">TrueNTH Home</a></li>
                    {% if username %}
                    <li><a href="{{PORTAL}}/profile">My TrueNTH Profile</a></li>
                    {% endif %}
                    <li><a href="{{PORTAL}}/about">About TrueNTH</a></li>
                    {% if user and user.has_roles('application_developer') %}
                    <li><a href="{{PORTAL}}/clients">Client Applications</a></li>
                    {% endif %}
                    {% if user and user.has_roles('admin') %}
                    <li><a href="{{PORTAL}}/admin">User Administration</a></li>
                    {% endif %}
                    {% if username %}
                    <li><a href="{{PORTAL}}/logout">Log Out of TrueNTH</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

</div>
