<div class="container hidden-xs main-nav">
    <div class="pull-left nav-logos">
        <!-- Probably need to use absolute links for images -->
        <a href="{{PORTAL}}"><img src="{{PORTAL}}{{logo_truenth}}" /></a>
        <a href="http://us.movember.com"><img src="{{PORTAL}}{{logo_movember}}" /></a>
    </div>

    <div class="pull-right nav-links">
        <a href="" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back to TrueNTH Home</a>
        {% if username %}
        <div class="btn-group nav-userinfo">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Welcome, {{ username }} <span class="fa fa-caret-down"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{PORTAL}}/profile">My Profile</a></li>
            <li><a href="{{PORTAL}}/logout">Log Out</a></li>
          </ul>
        </div>
        {% endif %}
        <a href="#" class="btn btn-default">About</a>
        <a href="#" class="btn btn-default">Help</a>
        <div class="pull-right text" style="margin-top: 1em">
            <em>You are currently using <span id="intName"></span></em> &nbsp;
            <a href="{{PORTAL}}" class="btn btn-sm btn-default"><i class="fa fa-chevron-left"></i> Back to TrueNTH Home</a>
        </div>
        <!-- Removing search for now
        <form class="navbar-form" role="search">
            <div class="form-group">
                <div class="hide-initial" id="search-box">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>
            <button type="submit" class="btn btn-default show-search"><i class="fa fa-search"></i></button>
        </form>
        -->
    </div>
</div>
<!-- Responsive navbar for xs width -->
<nav class="navbar navbar-static-top visible-xs xs-nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle menu</span>
          <i class="fa fa-bars fa-lg"></i> &nbsp; Menu
        </button>
        <a class="navbar-brand" href="#"><img src="{{PORTAL}}{{logo_truenth}}" /></a>
        <a class="navbar-brand logo-movember" href="#"><img src="{{PORTAL}}{{logo_movember}}" /></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
            {% if username %}
            <li><a href="#">My Profile</a></li>
            {% endif %}
            <li><a href="#">About</a></li>
            <li><a href="#">Help</a></li>
            {% if username %}
            <li><a href="{{PORTAL}}/logout">Log Out</a></li>
            {% endif %}
        </ul>
        <form class="navbar-form" role="search">
            <div class="form-group">
                <div>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
      </div>
    </div>
</nav>
