{% extends "layout.html" %}
{% block main %}

<div class="portal-item">
    <h2 class="tnth-subhead">Explore TrueNTH</h2>
    <p>Discover online tools to guide you through the cancer journey.</p>
    <a class="btn-lg btn-tnth-primary" href="{{PORTAL}}/explore">Learn More</a>
</div>


{# TODO: iterate over all interventions instead of the below #}

{% set intervention = interventions.sexual_recovery %}
{% if intervention.user_has_access(user) %}
<div class="portal-item">
    <h2 class="tnth-subhead">Sexual Recovery</h2>
    <p>Learn strategies for developing a new normal in your sex life after treatment for prostate cancer.</p>
    <a class="btn-lg btn-tnth-primary" href="{{ intervention.card_url }}">{{ intervention.get_card_html(user) }}</a>
</div>
{% endif %}

{% set intervention = interventions.care_plan %}
{% if intervention.user_has_access(user) %}
<div class="portal-item">
    <h2 class="tnth-subhead">Care Plan</h2>
    <p>Organization and support for the many details of life as a prostate cancer survivor</p>
    <a class="btn-lg btn-tnth-primary" href="{{ intervention.card_url }}">{{ intervention.get_card_html(user) }}</a>
</div>
{% endif %}

{% set intervention = interventions.decision_support_p3p %}
{% if intervention.user_has_access(user) %}
<div class="portal-item">
    <h2 class="tnth-subhead">Decision Support tool</h2>
    <p>Explore your values, your preferences, and the current medical knowledge to help you discuss your treatment options with your doctors.</p>
    <!--
    Temporarily hide the get_card text -- considering handling it separate from the button
    <p class="intervention-text">{{ intervention.get_card_html(user) }}</p>
    -->
    <a class="btn-lg btn-tnth-primary" href="{{ intervention.card_url }}">Go to Decision Support</a>

</div>
{% endif %}

{% set intervention = interventions.self_management %}
{% if intervention.user_has_access(user) %}
<div class="portal-item">
    <h2 class="tnth-subhead">Symptom Tracker tool</h2>
    <p>Learn about symptoms that are common in men with prostate cancer, and about ways to manage and improve these symptoms.</p>
    <!--
    Temporarily hide the get_card text -- considering handling it separate from the button
    {{ intervention.get_card_html(user) }}
    -->
    <a class="btn-lg btn-tnth-primary" href="{{ intervention.card_url }}">Go to Symptom Tracker</a>
</div>
{% endif %}

<div class="img-with-text flush-with-footer full-width">
    <img src="{{ url_for('static', filename='img/band_man1.jpg') }}" class="img-responsive" />
    <!--
    <div class="text-on-img text-bot">
        <h2 class="tnth-subhead">LOREM IPSUM</h2>
        <p>"Lorem ipsum dolor sit met, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
    </div>
    -->
</div>

{% endblock %}
