{%- extends "layout.html" -%}
{%- from "flask_user/_macros.html" import linksHTML, logo -%}
{%- block main -%}
<form id="profileForm" class="form tnth-form to-validate" data-toggle="validator">
  <input type="hidden" id="profileUserId" value="{{user.id if user}}" />
  <input type="hidden" id="profileCurrentUserId" value="{{current_user.id if current_user}}" />
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <br/>
      <div class="right-panel">
        <div class="flex">
          <div id="profileHeader" class="profile-header">
            <h4 class="tnth-headline">
              {% block profile_title %}
              {{_("TrueNTH Profile")}}
              {% endblock %}
            </h4>
          </div>
        </div>
        {% block profile_content %}
        {% endblock %}
        <br/><br/>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block footer %}<div class="footer-wrapper right-panel"><div class="flex footer-container"><div class="copyright-container">{%-if providerPerspective== 'true' -%}{{linksHTML(user=current_user)}}{%-else-%}{{linksHTML(user=user)}}{%-endif-%}</div><div class="logo-container">{{logo(True)}}</div></div></div>{% endblock %}
{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/procedures.js') }}" async></script>
{% endblock %}
{% block document_ready %}
  $("#mainDiv").addClass("profile");
  var profileObj = new Profile();
  {% if user and user.has_role(ROLE.PATIENT) %}var patientId = {{user.id}};{% endif %}
  $(document).ready(function(){
    profileObj.initSection("birthday");
    profileObj.initSection("locale");
    profileObj.initSection("email");
    profileObj.initSection("phone");
    profileObj.initSection("altphone");
    profileObj.initSection("resetpassword");
    profileObj.initSection("timezone");
    profileObj.initSection("deceased");
    {% if user and user.has_role(ROLE.PATIENT) -%}
      profileObj.initSection("patientreport");
      profileObj.initSection("assessmentlist");
    {%- endif %}
    {% if (user and current_user) and (current_user.has_role(ROLE.ADMIN) or current_user.has_role(ROLE.STAFF) or current_user.has_role(ROLE.INTERVENTION_STAFF)) -%}
      profileObj.initSection("auditlog");
    {%- endif %}
    {% if user %}
      profileObj.onSectionsDidLoad();
      tnthAjax.getDemo({{user.id}});
    {% endif %}
  });
{% endblock %}
