{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import back_btn %}
{% from "profile_macros.html" import profile, profileSaveBtn, profileImage %}

<!-- <div id="loadingIndicator" class="loading-indicator">
    <i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
</div> -->
<br/>
{% if providerPerspective == 'true' %}
{{ back_btn('patients','Patients List') }}
{% elif current_user.has_role('admin') and request.environ.HTTP_REFERER and request.environ.HTTP_REFERER.endswith("admin") %}
{{ back_btn('admin','User List') }}
{% else %}
{{ back_btn(PORTAL,'Home') }}
{% endif %}
<hr>
<div class="profile-header">
   
    {% if providerPerspective == 'true' %}
        <h4 class="tnth-headline">Patient Profile</h4><h4 class="profile-item-title">#{{ user.id}} - {{ user.username }}</h4>
    {% elif current_user.has_role('admin') %}
        <h4 class="tnth-headline">Profile for {{ user.username }}</h4>
    {% else %}
         <h4 class="tnth-headline">My TrueNTH Profile</h4>
    {% endif %}
   
    {{profileImage(user)}}
</div>
<hr/>

<form id="profileForm" class="form tnth-form to-validate" role="form">

<div class="row" style="position: relative;">
    <div class="col-md-12">
        {{profile(user, current_user)}}
        <br/>
        {{profileSaveBtn()}}
        {% if providerPerspective == 'true' %}
           <br/><br/> {{ back_btn('patients','Patients List') }}
        {% else %}
            <br/><br/><a href="{{PORTAL}}/home" class="btn btn-xs btn-tnth-back"><small><b>&lt;</b> Back to Home</small></a>
        {% endif %}
    </div>
</div>


</form>

{% endblock %}

{% block document_ready %}

$(document).ready(function(){

    // When there's a change, check validation and if good, assembleContent
    $('#profileForm').on('validated.bs.validator', function(e) {
        var validator = $(this).data('bs.validator');
        if (!validator.hasErrors()) {
            assembleContent.demo({{ user.id }},true);
            $("#errorMsg").hide()
        } else {
            $("#errorMsg").fadeIn("slow")
        }
    });

    // Submit the form here
    $("#updateProfile").on("click", function(event){
        event.preventDefault()
        assembleContent.demo({{ user.id }},true);
        $("#confirmMsg").fadeIn();
    });

});

/** Remove patientQuestion functionality for now
var getQs = [ "biopsy", "pca_diag", "tx"];
$.each(getQs, function(i,val){
    $.ajax ({
        type: "GET",
        url: '/api/patient/{{ user.id }}/clinical/'+val
    }).done(function(data) {
        var $radios = $('input:radio[name='+val+']');
        if($radios.is(':checked') === false) {
            $radios.filter('[value='+data.value+']').prop('checked', true);
        }
    }).fail(function() {
        console.log("Problem retrieving data from server.")
    });
});

$("#patientQuestions input").on("change", function(){
    var toCall = $(this).attr("name");
    var theVal = $(this).val();
    $.ajax ({
        type: "POST",
        url: '/api/patient/{{ user.id }}/clinical/'+toCall,
        contentType: "application/json; charset=utf-8",
        dataType: 'json',
        data: JSON.stringify({value: theVal})
    }).done(function() {
        // Allow user to save with button, even though these answers have already been submitted
        $('#updateProfile').removeClass("disabled")
    }).fail(function() {
        alert("There was a problem saving your answers. Please try again.");
    });
});
**/

/** Get and Put roles **/
function setRoles() {
    tnthAjax.getRoles({{ user.id }}, true);
    $("#rolesGroup input:checkbox").on("click",function(){

        var roles = $("#rolesGroup input:checkbox:checked").map(function(){
            return { name: $(this).val() };
        }).get();
        var toSend = {"roles": roles};
        tnthAjax.putRoles({{user.id}},toSend);

    });
};

setRoles();

{% endblock %}
