{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import back_btn %}
{% from "profile_macros.html" import profileName, profileBirthDate, profileEmail, profilePhone, profileOrg, profileSaveBtn %}
<br/>
<form id="createProfileForm" class="form tnth-form to-validate" role="form">
    <input type="hidden" id="current_user_email" value="{{user.email}}" />
    <div class="row" style="position: relative;">
        <div class="col-md-12">
            <hr>
            <h4 class="tnth-headline left-indent-top">New User</h4>
            <hr/>
            <br/>
            <div class="profile-item-container create-account-container">

                    {{profileName(False)}}
                    {{profileBirthDate(False)}}
                    <br/>
                    {{profileEmail(False)}}
                    {{profilePhone(False)}}
                    <br/>
                    {{profileOrg(user, 'true')}}
                    {{profileSaveBtn()}}
            </div>
            <br/>
            <div class="left-indent-bottom">
                {{ back_btn('patients','Patients List')}}
                <a href="javascript:void()" style="visibility:hidden" id="profileBackLink"></a>
            </div>
        </div>
    </div>

    {% if consent_agreements %}
        <div id="_consentContainer">
          {% for org in consent_agreements %}
            <input type="hidden" id="{{org}}_consentItem" value="{{consent_agreements[org].agreement_url}}" />
          {% endfor %}
        </div>
    {% endif %}

</form>
<a id="redirectLink" href="">&nbsp;</a>

{% endblock %}

{% block document_ready %}

function _redirect(userId) {
    if (userId) {
        $("#redirectLink").attr('href', '/patients/patient_profile/' + userId);
        $("#redirectLink")[0].click();
    };
};

$(document).ready(function(){

    var _userId = '', _demoArray = {}, _orgArray = {};
    var hasError = false;
    var errorMessage = '';

    $("#userOrgs input[name='organization']").each(function() {
        $(this).on("click", function() {
            $("#userOrgs").find(".help-block").text("");
        });
    });

    //for each org send off ajax to set consent
    function setConsents(userId) {
        var orgs = {};
        $("#createProfileForm input[name='organization']").each(function() {
            if ($(this).prop("checked")) {
                var parentOrg = $(this).attr("data-parent-id");
                if (!orgs[parentOrg]) {
                    orgs[parentOrg] = true;
                    console.log("parent Org: " + parentOrg + " agreement: " + $("#" + parentOrg + "_consentItem").val());
                    //send off ajax for this
                     _get('/api/user/' + userId + '/consent', 'POST', JSON.stringify({"organization_id": parentOrg, "agreement_url": $("#" + parentOrg + "_consentItem").val()}));
                };
            };
        });
    };


    function getOrgs(type) {
        var orgArray = {};
        switch(type) {
            case 'account':
            	//console.log('checked: ' + $('#userOrgs input:checkbox:checked').val())
            	//var orgId = $('#userOrgs input:checkbox:checked').val();
                //orgArray['organization_id'] = (orgId == '' ? '0': orgId);
                var orgIDs = $('#userOrgs input:checkbox:checked').map(function(){
                    return { organization_id: $(this).val() };
                }).get();
                orgArray['organizations'] = orgIDs;
                break;

        };
        return orgArray;
    };

    $('#createProfileForm').validator().on('submit', function (e) {
          if (e.isDefaultPrevented()) {
            // handle the invalid form...
            $("#errorMsg").fadeIn("slow");
            return false;
          } else {

                hasError = false;

                if ($("#current_user_email").val() === $("#email").val()) {
                    $("#emailGroup .help-block").text("Email is already in use.").css("color", "#a94442");
                } else {
                    $("#emailGroup .help-block").text("").css("color", "#777");
                };


                if ($("#userOrgs input:checkbox:checked").length == 0) {
                    $("#userOrgs .help-block").text("You must select an organization").css("color", "#a94442");
                } else $("#userOrgs .help-block").text("").css("color", "#777");


                $("#createProfileForm .help-block.with-errors").each(function() {
                    if (!hasError) { if ($(this).text() != "") hasError = true };
                });

                if (hasError) {
                    $("#errorMsg").fadeIn("slow");
                    return false;
                } else {
                    $("#errorMsg").hide();
                    hasError = false;
                };

                // everything looks good!
                e.preventDefault();
                $('#errorMsg').hide();
                $('#serviceErrorMsg').html('').hide();


                //sent in something like this for orgs
                //{ 'organization_id': 9999 }

                _get('/api/account', 'POST', JSON.stringify(getOrgs('account')))

                .then(function(responseData) {

                    _userId = responseData['user_id'];
                    console.log('user: ' + _userId);

                    _demoArray['resourceType'] = 'Patient';
                    _demoArray['name'] = {
                        'given': $('input[name=firstname]').val(),
                        'family': $('input[name=lastname]').val()
                    };
                    _demoArray['birthDate'] = $('input[name=birthDate]').val();
                    _demoArray['telecom'] = [
                        { 'system': 'email', 'value': $('input[name=email]').val() },
                        { 'system': 'phone', 'value': $('input[name=phone]').val() }
                    ];

                    var orgIDs = $('#userOrgs input:checkbox:checked').map(function(){
                        return { reference: 'api/organization/'+$(this).val() };
                    }).get();
                    if (typeof orgIDs === 'undefined'){
                        orgIDs = [0]  // special value for `none of the above`
                    }


                    _demoArray['careProvider'] = orgIDs;


                    console.log(_demoArray);


                    //Adding demographic information
                    //Adding roles of patient and write_only for user
                    Promise.all([
                        _get('/api/demographics/'+_userId, 'PUT', JSON.stringify(_demoArray)),
                        _get('/api/user/'+_userId+'/roles', 'PUT', JSON.stringify({'roles': [{'name': 'patient'}]}))])
                    .then(function(results) {
                        // Both promises resolved
                        //console.log('promises resolved');
                        setConsents(_userId);
                        $('#confirmMsg').fadeIn();
                        setTimeout("$('#confirmMsg').fadeOut();", 800);
                        setTimeout("_redirect(" + _userId + ");", 1000);
                        //$('#createProfileForm')[0].reset();
                        clear();
                    })
                    .catch(function(error) {
                        // One or more promises was rejected
                        console.log('error: ' + error);
                        errorMessage += (errorMessage != '' ? '<br/>' : '') + error;
                        if (errorMessage != '') $('#serviceErrorMsg').html('<small>' + errorMessage + '</small>').fadeIn();

                    });
                }).catch(function(error) {
                    //Display Error Here
                    console.log('error: ' + error);
                    errorMessage += (errorMessage != '' ? '<br/>' : '') + error;
                    if (errorMessage != '') $('#serviceErrorMsg').html('<small>' + errorMessage + '</small>').fadeIn();
                });



          };
    });

    function _get(apiUrl, requestType, requestData) {
        var errorMessage = '';
        console.log('apiUrl: ' + apiUrl)
        return new Promise (function(resolve, reject) {
            $.ajax ({
                type: (requestType ? requestType : 'GET'),
                url: String(apiUrl).replace('//', '/'),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: requestData
            }).done(function(data) {
                resolve(data);
            }).fail(function(xhr) {
                errorMessage = 'Error processing request: ' + apiUrl;
                console.log(requestData);
                console.log(errorMessage);
                console.log("response Text: " + xhr.responseText);
                console.log("response status: " +  xhr.status);
                reject(Error(errorMessage));
            });

        });

    };


    function clear() {
        ['firstname', 'lastname', 'birthday', 'birthdayDay', 'birthdayMonth', 'birthdayYear', 'date', 'year', 'email', 'phone'].forEach(function(fieldName) {
            var currentElement = $('#' + fieldName);
            var _tagName = currentElement.get(0) ? currentElement.get(0).tagName : '';
            switch(_tagName.toLowerCase()) {
                case 'input':
                    currentElement.val('');
                    break;
                case 'select':
                    currentElement.find('option').prop('selected', false);
                    break;
                default:
                    currentElement.val('');
            };

            $('#month').find('option').prop('selected', false);

        });

    };

    clear();

});


{% endblock %}