{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import back_btn, back_link %}
{% from "profile_macros.html" import profile, profileSaveBtn, profileImage %}

<!-- <div id="loadingIndicator" class="loading-indicator">
    <i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
</div> -->

<br/>
<div class="flex">
<div class="profile-header">
    {% if user and user.username %}
      {% if providerPerspective == 'true' %}
          <h4 class="tnth-headline">{{ _("Patient Profile") }} <span class="profile-item-title">&nbsp;#{{ user.id}} - {{ user.username }}</span></h4>
      {% elif current_user.has_role('admin') %}
          <h4 class="tnth-headline">{{ _("Profile for") }} {{ user.username }}</h4>
      {% else %}
           <h4 class="tnth-headline">{{ _("My TrueNTH Profile") }}</h4>
      {% endif %}
    {% else %}
       <h4 class="tnth-headline">{{ _("TrueNTH Profile") }}</h4>
    {% endif %}
</div>
{{profileImage(user)}}
</div>
<nav id="indexNavBar">
{% if providerPerspective == 'true' %}
{{ back_link('patients', _('Patients List')) }}
{% elif current_user.has_role('admin') and request.environ.HTTP_REFERER and request.environ.HTTP_REFERER.endswith("admin") %}
{{ back_link('admin', _('User List')) }}
{% else %}
{{ back_link(PORTAL, _('Home')) }}
{% endif %}
<span class="glyphicon index-list glyphicon-list" data-toggle="tooltip" data-placement="top" title="{{ _('index list') }}"></span>
{% if current_user.has_role('provider') and user.has_role('patient') %}
&nbsp;&nbsp;<span id="loginAsPatient" data-toggle="modal" data-target="#loginAsModal" class="link"><a data-toggle="tooltip" data-placement="top" title="For 'kiosk' style administration of an assessment">{{ _("Login as this Patient") }}</a></span>
<!-- shown only in reduced browser size-->
<div id="navMenuXs" class="btn-group link-xs">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ _("Select") }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="javascript:$('#loginAsModal').modal('show')" id="loginAsPatient" data-toggle="modal" data-target="#loginAsModal">{{ _("Login as this Patient") }}</a></li>
  </ul>
</div>

<div class="modal fade" id="loginAsModal" tabindex="-1" role="dialog" aria-labelledby="loginAsModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="loginAsModalLabel">{{ _("Login as this Patient") }}</h4>
          </div>
          <div class="modal-body" style="font-size:0.9em">
            <br/>
            <p class="text-left">{{ _('This is intended for "kiosk" style administration of an assessment, wherein the staff person "logs in as the patient", which logs the staff person out of their session, and automatically logs in this patient without their needing to enter login credentials. Proceed?') }}</p>
            <br/>
          </div>
          <div class="modal-footer">
            <a href="#" onclick="handleLoginAs();" class="btn btn-default" style="font-size:0.8em">{{ _("OK") }}</a>
            <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:0.8em">{{ _("Cancel") }}</button>
          </div>
        </div>
      </div>
</div>
{% endif %}
</nav>
<div id="indexContainer">{{ _("Index List") }}</div>
<br/>
<form id="profileForm" class="form tnth-form to-validate" role="form" data-toggle="validator">
  <div class="row" style="position: relative;">
      <div class="col-md-12">
          {{profile(user, current_user, consent_agreements)}}
          <br/>
          {% if providerPerspective == 'true' %}
             <br/><br/> {{ back_btn('patients','Patients List') }}
          {% else %}
              <br/><br/><a href="{{PORTAL}}/home" class="btn btn-xs btn-tnth-back"><small><b>&lt;</b> {{ _("Back to Home") }}</small></a>
          {% endif %}
      </div>
  </div>
</form>
{% endblock %}

{% block document_ready %}


function goTo(event, id) {
    event.stopPropagation();
    window.location = "#" + id;
    $("#indexContainer").removeClass("open");
};

{% if user.has_role('patient')  and (user.id != current_user.id) %}

  var patientId = {{user.id}};

{% endif %}

var pcaLocalizedStatus;

{% if pca_localized_status is not none %}

pcaLocalizedStatus = {% if pca_localized_status %}true{%else%}false{%endif%};

{% endif %}


function handleLoginAs() {
    //sessionStorage does not work allow addition of item in private mode
    try {
      sessionStorage.setItem("loginAsPatient", "true");
    } catch(e) {

    }
    location.replace('/login-as/{{user.id}}');
};

$(document).ready(function(){
    $('#loginAsPatient a').tooltip();

    [{
        attachID: "month",
        targetField: $("#month"),
        customErrorField: $("#errorbirthday")
      },
     {
        attachID: "date",
        targetField: $("#date"),
        customErrorField: $("#errorbirthday")
     },
     {
        attachID: "year",
        targetField: $("#year"),
        customErrorField: $("#errorbirthday")
     },
     {
        attachID: "firstname",
        targetField: $("#firstname")
     },
     {
        attachID: "lastname",
        targetField: $("#lastname")
     },
     {
        attachID: "email"
     },
     {
        attachID: "phone",
        targetField: $("#phone")
     },
     {
        attachID: "locale",
        targetField: $("#locale")
     },
     {
        attachID: "profile-gender-list",
        targetField: $("input[name='sex']")
     },
     {
        attachID: "userRace",
        targetField: $("input[name='race']")
     },
     {
        attachID: "userEthnicity",
        targetField: $("input[name='ethnicity']")
     },
     {
        attachID: "profileStudyIDContainer",
        targetField: $("#profileStudyId")
     },
     {
        attachID: "rolesGroup",
        targetField: $("input[name='user_type']")
     }].forEach(function(o) {
        /** see main.js **/
        if (o.attachID) getSaveLoaderDiv("profileForm", o.attachID);
        if (o.targetField) {
          o.targetField.each(function() {
              $(this).attr("save-container-id", o.attachID);
              var triggerEvent = $(this).attr("type") == "text" ? "blur" : "change";
              $(this).on(triggerEvent, function() {
                if (this.validity.valid) {
                  var hasError = false;
                  if ($(this).attr("error-field")) {
                    var customErrorField = $("#" + $(this).attr("error-field"));
                    if (customErrorField.length > 0) {
                      if (customErrorField.text() != "") hasError = true;
                      else hasError = false;
                    } else hasError = false;
                  };

                  //console.log("hasError: " + hasError + " customText: " + customErrorField.text())
                  if (!hasError) assembleContent.demo({{ user.id }},true, $(this));
                };
              });
          });
        };
    });


    if (!(_isTouchDevice())) $('#indexNavBar span[data-toggle="tooltip"]').tooltip();

    $("html").click(function(event){
        $("#indexContainer").removeClass('open');
    });

    $("#indexNavBar span.index-list").click(function(event) {
        event.stopPropagation();
        $('#indexContainer').toggleClass('open');
    });


    var t = $("#profileForm").find("h4.profile-item-title");
    var indexContent = "<ul style='padding:0; margin:0; list-style-type:square'>";
        t.each(function() {
        indexContent += "<li style='margin-bottom:4px; cursor:pointer' onclick=' goTo(event, \"" + $(this).attr("id") + "\")'>" + $(this).text() + "</li>";
    });
    indexContent += "</ul>";
    $("#indexContainer").html(indexContent);

    //in profile email is validated and updated after ajax call to check unique email
    $("#email").attr("update-on-validated", "true").attr("user-id", '{{user.id}}');

});

/** Remove patientQuestion functionality for now
var getQs = [ "biopsy", "pca_diag"];
$.each(getQs, function(i,val){
    $.ajax ({
        type: "GET",
        url: '/api/patient/{{ user.id }}/clinical/'+val
    }).done(function(data) {
        var $radios = $('input:radio[name='+val+']');
        if($radios.is(':checked') === false) {
            $radios.filter('[value='+data.value+']').prop('checked', true);
        }
    }).fail(function() {
        console.log("Problem retrieving data from server.")
    });
});

$("#patientQuestions input").on("change", function(){
    var toCall = $(this).attr("name");
    var theVal = $(this).val();
    $.ajax ({
        type: "POST",
        url: '/api/patient/{{ user.id }}/clinical/'+toCall,
        contentType: "application/json; charset=utf-8",
        dataType: 'json',
        data: JSON.stringify({value: theVal})
    }).done(function() {
        // Allow user to save with button, even though these answers have already been submitted
        $('#updateProfile').removeClass("disabled")
    }).fail(function() {
        alert("There was a problem saving your answers. Please try again.");
    });
});
**/

/** Get and Put roles **/
function setRoles() {
    tnthAjax.getRoles({{ user.id }}, true);
    $("#rolesGroup input:checkbox").on("click",function(){

        var roles = $("#rolesGroup input:checkbox:checked").map(function(){
            return { name: $(this).val() };
        }).get();
        var toSend = {"roles": roles};
        tnthAjax.putRoles({{user.id}},toSend);

    });
};
/* done in on change event for role now*/
//setRoles();

{% endblock %}
