{% extends "layout.html" %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="well lead-well">

                <h3>TrueNTH</h3>

                <hr />
                <h4>Tell Us About Yourself</h4>
                <p>Tell us a bit about your experience with prostate cancer so we can personalize your experience.</p>
                <br />

                <div id="patientQuestions">

                    <h4>Have you had a prostate cancer biopsy?</h4>

                    <div data-topic="biopsy">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default btn-lg">
                                <input type="radio" name="biopsy" data-value="true" autocomplete="off"> Yes
                            </label>
                            <label class="btn btn-default btn-lg">
                                <input type="radio" name="biopsy" data-value="false" autocomplete="off"> No
                            </label>
                        </div>
                        <div style="display: none">

                        </div>
                    </div>

                    <div data-topic="pca_diag" style="display: none">
                        <br /><br />
                        <h4>Have you been diagnosed with prostate cancer?</h4>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default btn-lg">
                                <input type="radio" name="pca_diag" data-value="true" autocomplete="off"> Yes
                            </label>
                            <label class="btn btn-default btn-lg">
                                <input type="radio" name="pca_diag" data-value="false" autocomplete="off"> No
                            </label>
                        </div>
                    </div>

                    <div data-topic="tx" style="display: none;">
                        <br /><br />
                        <h4>Have you begun prostate cancer treatment?</h4>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default btn-lg">
                                <input type="radio" name="tx" data-value="true" autocomplete="off"> Yes
                            </label>
                            <label class="btn btn-default btn-lg">
                                <input type="radio" name="tx" data-value="false" autocomplete="off"> No
                            </label>
                        </div>
                    </div>

                </div>

                <br /><br /><br />
                <div style="display: none;">
                    <a class="btn btn-tnth-primary" href="/home">Continue <i class="fa fa-chevron-right"></i></a>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){

    var getQs = [ "biopsy", "pca_diag", "tx"];
    $.each(getQs, function(i,val){
        $.ajax ({
            type: "GET",
            url: '/api/clinical/'+val+'/{{ user.id }}'
        }).done(function(data) {
            // Mark existing answers
            $("div[data-topic='"+val+"']").find("[data-value='"+data.value+"']").attr("checked", true).parent().addClass("active");
            // Show in UI if already have an answer
            if (data.value != "unknown") {
                $("div[data-topic='"+val+"']").show();
            }
        }).fail(function() {
            console.log("Problem retrieving data from server.")
        });
    });



    $("#patientQuestions input").on("change", function(){
        var toCall = $(this).attr("name");
        // Get value from div - either true or false
        var theVal = $(this).attr("data-value");
        $.ajax ({
            type: "POST",
            url: '/api/clinical/'+toCall+'/{{ user.id }}',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({value: theVal})
        }).done(function() {
            // If true, then display next question
            if (theVal == "true") {
                $("div[data-topic='"+toCall+"']").next().fadeIn("slow");
            } else {
                $("div[data-topic='"+toCall+"']").next().hide();
                // TODO - clear any saved value here?
            }
        }).fail(function() {
            alert("There was a problem saving your answers. Please try again.");
        });
    });
    /** Send the AJAX **/

});
</script>
{% endblock %}
