{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import render_field %}
    <h3 class="tnth-headline">{{ _("Reporting Dashboard") }}</h3>
    <br/>
    <ul class="nav nav-tabs rd-nav">
        <li role="presentation" class="active">
            <a href="#" data-id="usageStatistics">{{_("Usage Statistics")}}</a>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{_("User Statistics")}}&nbsp;&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li role="presentation">
                    <a href="#" data-id="userRoleStatistics">{{_("User Statistics By Role")}}</a>
                </li>
                <li role="presentation">
                    <a href="#" data-id="userInterventionStatistics">{{_("User Statistics By Intervention")}}</a>
                </li>
                <li role="presentation">
                    <a href="#" data-id="userPatientReportStatistics">{{_("User Statistics By Patient Report")}}</a>
                </li>
                <li role="presentation">
                    <a href="#" data-id="userInterventionAcessStatistics">{{_("User Statistics By Intervention Access")}}</a>
                </li>
            </ul>
        </li>
        <li role="presentation">
            <a href="#" data-id="institutionStatistics">{{_("Institution Statistics")}}</a>
        </li>
    </ul>
    <div class="rd-content-container">
        <div id="usageStatistics_container" class="stats-container active">
            <h4 class="text-muted">{{ _("Usage Statistics") }}</h4>
            <div class="stats-info">
                <p>{{ _("Registrations are collected from the User.registration timestamps of all Users without the Test Role") }}</p>
                <p>{{ _("Logins are collected from the start_time timestamps of Encounters whose auth_method='password_authenticated'") }}</p>
                <p>{{ _("Intervention Logins are filtered based on the login Encounter's User's User.interventions, and represent the number of users associated with that intervention who have logged in within the given timeframe (whether or not they accessed the intervention during that login session") }}</p>
            </div>
            <table id="usageStatsTable"
                   class="stats-table table table-striped table-hover table-condensed"
                   data-table-id="usageStatsTable"
                   data-toolbar="#usageStatsTableToolbar"
                   data-filter-control="true"
                   data-smart-display="true"
                   data-show-export="true"
                   data-export-data-type="all"
                   data-show-columns="true">
                <thead>
                <tr>
                    <th data-field="usage_type" data-sortable="true" data-filter-control="select">{{_("Source")}}</th>
                    <th data-field="today" data-sortable="true">{{ _("Today") }}</th>
                    <th data-field="current_month" data-sortable="true">{{ _("This Month") }}</th>
                    <th data-field="current_year" data-sortable="true">{{ _("This Year") }}</th>
                    <th data-field="all" data-sortable="true">{{ _("All Time") }}</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ _("Registrations") }}</td>
                        <td>{{ counts['registrations'] | selectattr("day", "equalto", now.day) | selectattr("month", "equalto", now.month) | selectattr("year", "equalto", now.year) | list | length }}</td>
                        <td>{{ counts['registrations'] | selectattr("month", "equalto", now.month) | selectattr("year", "equalto", now.year) | list | length }}</td>
                        <td>{{ counts['registrations'] | selectattr("year", "equalto", now.year) | list | length }}</td>
                        <td>{{ counts['registrations'] | length }}</td>
                    </tr>
                    <tr>
                        <td>{{ _("Logins") }}</td>
                        <td>{{ counts['encounters']['all'] | selectattr("day", "equalto", now.day) | selectattr("month", "equalto", now.month) | selectattr("year", "equalto", now.year) | list | length }}</td>
                        <td>{{ counts['encounters']['all'] | selectattr("month", "equalto", now.month) | selectattr("year", "equalto", now.year) | list | length }}</td>
                        <td>{{ counts['encounters']['all'] | selectattr("year", "equalto", now.year) | list | length }}</td>
                        <td>{{ counts['encounters']['all'] | length }}</td>
                    </tr>
                    {% for k,v in counts['encounters'].items() %}
                        {% if k and k != 'all' %}
                        <tr>
                            <td>{{ k }}</td>
                            <td>{{ v | selectattr("day", "equalto", now.day) | selectattr("month", "equalto", now.month) | selectattr("year", "equalto", now.year) | list | length }}</td>
                            <td>{{ v | selectattr("month", "equalto", now.month) | selectattr("year", "equalto", now.year) | list | length }}</td>
                            <td>{{ v | selectattr("year", "equalto", now.year) | list | length }}</td>
                            <td>{{ v | length }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="userRoleStatistics_container" class="stats-container">
            <h4 class="text-muted">{{ _("User Statistics By Role") }}</h4>
            <div class="stats-info">
                <p>{{ _("User stats are collected from all Users without the Test Role") }}</p>
                <p>{{ _("Role counts are tallied from User.roles (e.g. a User with both the Patient and Staff Roles, would add 1 to both Roles' counts)") }}</p>
                <p><i>{{ _("No Diagnosis") }}</i>: {{ _("Users whose User.observations does not contain any Observations where the Observation.codeable_concept=CC.BIOPSY and the Observation.value_quantity.value=True") }}</p>
                <p><i>{{ _("Diagnosis, No Treatment") }}</i>: {{ _("Users where known_treatment_not_started(User)=True") }}</p>
                <p><i>{{ _("Diagnosis and Treatment") }}</i>: {{ _("Users where known_treatment_started(User)=True") }}</p>
                <p><i>{{ _("Metastasis") }}</i>: {{ _("Users whose User.observations contains any Observations where the Observation.codeable_concept=CC.PCaLocalized and the Observation.value_quantity.value!=True") }}</p>
            </div>
            <table id="userRoleStatsTable"
                   class="stats-table table table-striped table-hover table-condensed"
                   data-table-id="userRoleStatsTable"
                   data-toolbar="#userRoleStatsTableToolbar"
                   data-smart-display="true"
                   data-filter-control="true"
                   data-show-export="true"
                   data-export-data-type="all"
                   data-show-columns="true">
                <thead>
                    <tr>
                        <th data-field="user_role" data-sortable="true" data-filter-control="select" data-width="40%">{{ _("Role") }}</th>
                        <th data-field="user_count" data-sortable="true">{{ _("User Count") }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ _("Patients - All") }}</td>
                        <td>{{ counts['roles']['patient'] }}</td>
                    </tr>
                    <tr>
                        <td>{{ _("Patients - No Diagnosis") }}</td>
                        <td>{{ counts['patients']['pre-dx'] }}</td>
                    </tr>
                    <tr>
                        <td>{{ _("Patients - Diagnosis, No Treatment") }}</td>
                        <td>{{ counts['patients']['dx-nt'] }}</td>
                    </tr>
                    <tr>
                        <td>{{ _("Patients - Diagnosis and Treatment") }}</td>
                        <td>{{ counts['patients']['dx-t'] }}</td>
                    </tr>
                    <tr>
                        <td>{{ _("Patients - Metastasis") }}</td>
                        <td>{{ counts['patients']['meta'] }}</td>
                    </tr>
                    <tr>
                        <td>{{ _("Partners") }}</td>
                        <td>{{ counts['roles']['partner'] }}</td>
                    </tr>
                    <tr>
                        <td>{{ _("Clinicians") }}</td>
                        <td>{{ counts['roles']['staff'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="userInterventionStatistics_container" class="stats-container">
            <h4 class="text-muted">{{_("User Statistics By Intervention")}}</h4>
            <div class="stats-info">
                <p>{{ _("User stats are collected from all Users without the Test Role") }}</p>
                <p>{{ _("Intervention counts only apply to those interventions that control their subject list manually (eg Sexual Recovery, Care Plan, Community of Wellness). They are tallied from User.interventions (e.g. a User with both the 'Care Plan' and 'Community of Wellness' interventions, would add 1 to both Interventions' counts)") }}</p>
            </div>
            <table id="userIntervStatsTable"
                   class="stats-table table table-striped table-hover table-condensed"
                   data-table-id="userIntervStatsTable"
                   data-toolbar="#userIntervStatsTableToolbar"
                   data-smart-display="true"
                   data-filter-control="true"
                   data-show-export="true"
                   data-export-data-type="all"
                   data-show-columns="true">
                <thead>
                <tr>
                    <th data-field="intervention_name" data-sortable="true" data-filter-control="select" data-width="40%">{{ _("Intervention") }}</th>
                    <th data-field="user_count" data-sortable="true">{{ _("User Count") }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for k,v in counts['interventions'].items() %}
                        {% if k %}
                        <tr>
                            <td>{{ k }}</td>
                            <td>{{ v }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="userPatientReportStatistics_container" class="stats-container">
            <h4 class="text-muted">{{_("User Statistics By Patient Reports")}}</h4>
            <div class="stats-info">
                <p>{{ _("User stats are collected from all Users without the Test Role") }}</p>
                <p>{{ _("Completed Reports are tallied for each User that has <i>any number</i> of PatientReports for that Intervention (e.g. whether a User has 1 or 100 PatientReports for 'Symptom Tracker', that User only adds 1 to that Intervention's Completed Reports tally)") }}</p>
                <p>{{ _("Completed Reports are only shown for an Intervention if the report count is above 0") }}</p>
            </div>
            <table id="userPatientReportStatsTable"
                   class="stats-table table table-striped table-hover table-condensed"
                   data-table-id="userPatientReportStatsTable"
                   data-toolbar="#userPatientReportStatsTableToolbar"
                   data-smart-display="true"
                   data-filter-control="true"
                   data-show-export="true"
                   data-export-data-type="all"
                   data-show-columns="true">
                <thead>
                <tr>
                    <th data-field="intervention_report" data-sortable="true" data-width="40%" data-filter-control="select">{{ _("Intervention (Reports)") }}</th>
                    <th data-field="user_count" data-sortable="true">{{ _("User Count") }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for k,v in counts['intervention_reports'].items() %}
                        {% if k %}
                        <tr>
                            <td>{{ k }}</td>
                            <td>{{ v }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="userInterventionAcessStatistics_container" class="stats-container">
            <h4 class="text-muted">{{_("User Statistics By Intervention Access")}}</h4>
            <div class="stats-info">
                <p>{{ _("User stats are collected from all Users without the Test Role") }}</p>
                <p>{{ _("Intervention Access counts reflect the number of users who <i>could</i> access said intervention, regardless of whether or not they've actually accessed it.") }}</p>
            </div>
            <table id="userIntervAccessStatsTable"
                   class="stats-table table table-striped table-hover table-condensed"
                   data-table-id="userIntervAccessStatsTable"
                   data-toolbar="#userIntervAccessStatsTableToolbar"
                   data-smart-display="true"
                   data-filter-control="true"
                   data-show-export="true"
                   data-export-data-type="all"
                   data-show-columns="true"
                   >
                <thead>
                <tr>
                    <th data-field="intervention_access" data-sortable="true" data-filter-control="select" data-width="40%">{{ _("Intervention (Access)") }}</th>
                    <th data-field="user_count" data-sortable="true">{{ _("User Count") }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for k,v in counts['intervention_access'].items() %}
                        {% if k %}
                        <tr>
                            <td>{{ k }}</td>
                            <td>{{ v }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="institutionStatistics_container" class="stats-container">
            <h4 class="text-muted">{{ _("Institution Statistics") }}</h4>
            <div class="stats-info">
                <p>{{ _("Organization counts are collected from the User.organizations of all Users without the Test Role") }}</p>
                <p>{{ _("'None of the above' refers to Users who specifically selected the 'None of the above' organization option") }}</p>
                <p>{{ _("'Unspecified' refers to Users who have not yet been assigned to <i>any</i> Organization option (including 'None of the above')") }}</p>
            </div>
            <table id="orgStatsTable"
                     class="stats-table table table-striped table-hover table-condensed"
                     data-table-id="orgStatsTable"
                     data-toolbar="#orgsTableToolbar"
                     data-smart-display="true"
                     data-filter-control="true"
                     data-show-export="true"
                     data-export-data-type="all"
                     data-show-columns="true">
                <thead>
                <tr>
                    <th data-field="org" data-sortable="true" data-filter-control="select" data-width="40%">{{ _("Organization Name") }}</th>
                    <th data-field="user_count" data-sortable="true">{{ _("User Count") }}</th>
                </tr>
                </thead>
                <tbody data-link="row" class="rowlink">
                    {% for k,v in counts['organizations'].items() %}
                        {% if k %}
                            <tr>
                                <td>{{ k }}</td>
                                <td>{{ v }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block table_export_filter_script %}
{{super()}}
{% endblock %}
{% block document_ready %} //TODO move this to a separate JS
    /*
     * initiate bootstrapTable for all stats table
     */
    $("#orgStatsTable").bootstrapTable({
      exportOptions: {
          fileName: Utility.getExportFileName("OrganizationList_")
      }
    });
    $("#usageStatsTable").bootstrapTable({
      exportOptions: {
          fileName: Utility.getExportFileName("UsageStatsList_")
      }
    });
    $("#userRoleStatsTable").bootstrapTable({
      exportOptions: {
          fileName: Utility.getExportFileName("UserByRoleStatsList_")
      }
    });
    $("#userIntervStatsTable").bootstrapTable({
      exportOptions: {
          fileName: Utility.getExportFileName("UserByInterventionStatsList_")
      }
    });
    $("#userPatientReportStatsTable").bootstrapTable({
      exportOptions: {
          fileName: Utility.getExportFileName("UserByPatientReportStatsList_")
      }
    });
    $("#userIntervAccessStatsTable").bootstrapTable({
      exportOptions: {
          fileName: Utility.getExportFileName("UserByInterventionAccessStatsList_")
      }
    });

    $("document").ready(function() {
        /*
         * the class active will allow content related to the selected tab/item to show
         * the related item is found based on the data-id attributed attached to each anchor element
         */
        $("ul.nav li").each(function() {
            $(this).on("click",function() {
                $("ul.nav li").removeClass("active");
                $(this).addClass("active");
                var containerID = $(this).find("a").attr("data-id");
                if (containerID) {
                    $(".stats-container").removeClass("active");
                    $("#"+containerID+"_container").addClass("active");
                };
            });
        });
        /*
         * add placeholder text for select filter control
         */
        (function() {
             function addFilterPlaceHolders() {
               $(".stats-table .filterControl select option[value='']").text("Select");
             }
             $(".stats-table").on("reset-view.bs.table", function() {
                addFilterPlaceHolders();
             });
             addFilterPlaceHolders();
        })();
    })

{% endblock %}
