{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import render_field %}

    <h3 class="tnth-headline">{{ _("Reporting Dashboard") }}</h3>

    <h2 class="tnth-headline">{{ _("Usage Statistics") }}</h2>
    <div>
        <table id="usageStatsTable"
               class="table table-striped table-hover table-condensed"
               data-show-columns="true">
            <thead>
            <tr>
                <th/>
                <th>{{ _("Today") }}</th>
                <th>{{ _("This Month") }}</th>
                <th>{{ _("This Year") }}</th>
                <th>{{ _("All Time") }}</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            <tr>
                <td>{{ _("Registrations") }}</td>
                <td>{{ counts['registrations'] | selectattr("day", "equalto", now.day) | list | length }}</td>
                <td>{{ counts['registrations'] | selectattr("month", "equalto", now.month) | list | length }}</td>
                <td>{{ counts['registrations'] | selectattr("year", "equalto", now.year) | list | length }}</td>
                <td>{{ counts['registrations'] | length }}</td>
            </tr>
            <tr>
                <td>{{ _("Logins") }}</td>
                <td>{{ counts['encounters']['all'] | selectattr("day", "equalto", now.day) | list | length }}</td>
                <td>{{ counts['encounters']['all'] | selectattr("month", "equalto", now.month) | list | length }}</td>
                <td>{{ counts['encounters']['all'] | selectattr("year", "equalto", now.year) | list | length }}</td>
                <td>{{ counts['encounters']['all'] | length }}</td>
            </tr>
            {% for k,v in counts['encounters']['interventions'].items() %}
                <td><div class="indent">{{ k }}</div></td>
                <td>{{ v | selectattr("day", "equalto", now.day) | list | length }}</td>
                <td>{{ v | selectattr("month", "equalto", now.month) | list | length }}</td>
                <td>{{ v | selectattr("year", "equalto", now.year) | list | length }}</td>
                <td>{{ v | length }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
    <h2 class="tnth-headline">{{ _("User Statistics") }}</h2>
    <div id="userStatsContainer">
        <table id="userRoleStatsTable"
               class="table table-striped table-hover table-condensed"
               data-show-columns="true">
            <thead>
            <tr>
                <th>{{ _("Role") }}</th>
                <th>{{ _("User Count") }}</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            <tr>
                <td>{{ _("Patients") }}</td>
                <td>{{ counts['roles']['patient'] }}</td>
            </tr>
            <tr>
                <td><div class="indent">{{ _("No Diagnosis") }}</div></td>
                <td>{{ counts['patients']['pre-dx'] }}</td>
            </tr>
            <tr>
                <td><div class="indent">{{ _("Diagnosis, No Treatment") }}</div></td>
                <td>{{ counts['patients']['dx-nt'] }}</td>
            </tr>
            <tr>
                <td><div class="indent">{{ _("Diagnosis and Treatment") }}</div></td>
                <td>{{ counts['patients']['dx-t'] }}</td>
            </tr>
            <tr>
                <td><div class="indent">{{ _("Metastasis") }}</div></td>
                <td>{{ counts['patients']['meta'] }}</td>
            </tr>
            <tr>
                <td>{{ _("Partners") }}</td>
                <td>{{ counts['roles']['partner'] }}</td>
            </tr>
            <tr>
                <td>{{ _("Clinicians") }}</td>
                <td>{{ counts['roles']['staff'] }}</td>
            </tr>
        </table>
        <table id="userIntervStatsTable"
               class="table table-striped table-hover table-condensed"
               data-show-columns="true">
            <thead>
            <tr>
                <th>{{ _("Intervention") }}</th>
                <th>{{ _("User Count") }}</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for k,v in counts['interventions'].items() %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
            {% if k in counts['intervention_reports'] %}
            <tr>
                <td><div class="indent">{{ _("Completed Reports") }}</div></td>
                <td>{{ counts['intervention_reports'][k] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <br/>
    <h2 class="tnth-headline">{{ _("Institution Statistics") }}</h2>
    <div>
        <table id="orgStatsTable"
               class="table table-striped table-hover table-condensed"
               data-show-columns="true">
            <thead>
            <tr>
                <th>{{ _("Organization Name") }}</th>
                <th>{{ _("User Count") }}</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for k,v in counts['organizations'].items() %}
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
