{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import render_field %}

    <h3 class="tnth-headline">{{ _("Reporting Dashboard") }}</h3>

    <h2 class="tnth-headline">{{ _("Usage Statistics") }}</h2>
    <div>
        <p>{{ _("Registrations are collected from the User.registration timestamps of all Users without the Test Role") }}</p>
        <p>{{ _("Logins are collected from the start_time timestamps of Encounters whose auth_method='password_authenticated'") }}</p>
        <p>{{ _("Intervention Logins are filtered based on the login Encounter's User's User.interventions, and represent the number of users associated with that intervention who have logged in within the given timeframe (whether or not they accessed the intervention during that login session") }}</p>
        <table id="usageStatsTable"
               class="table table-striped table-hover table-condensed"
               data-show-columns="true">
            <thead>
            <tr>
                <th/>
                <th>{{ _("Today") }}</th>
                <th>{{ _("This Month") }}</th>
                <th>{{ _("This Year") }}</th>
                <th>{{ _("All Time") }}</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            <tr>
                <td>Date</td>
                <td>{{ now.day }}</td>
                <td>{{ now.month }}</td>
                <td>{{ now.year }}</td>
            <tr>
                <td>{{ _("Registrations") }}</td>
                <td>{{ counts['registrations'] | selectattr("day", "equalto", now.day) | selectattr("month", "equalto", now.month) | selectattr("year", "equalto", now.year) | list | length }}</td>
                <td>{{ counts['registrations'] | selectattr("month", "equalto", now.month) | selectattr("year", "equalto", now.year) | list | length }}</td>
                <td>{{ counts['registrations'] | selectattr("year", "equalto", now.year) | list | length }}</td>
                <td>{{ counts['registrations'] | length }}</td>
            </tr>
            <tr>
                <td>{{ _("Logins") }}</td>
                <td>{{ counts['encounters']['all'] | selectattr("day", "equalto", now.day) | selectattr("month", "equalto", now.month) | selectattr("year", "equalto", now.year) | list | length }}</td>
                <td>{{ counts['encounters']['all'] | selectattr("month", "equalto", now.month) | selectattr("year", "equalto", now.year) | list | length }}</td>
                <td>{{ counts['encounters']['all'] | selectattr("year", "equalto", now.year) | list | length }}</td>
                <td>{{ counts['encounters']['all'] | length }}</td>
            </tr>
            {% for k,v in counts['encounters'].items() %}
            {% if k and k != 'all' %}
                <td><div class="indent">{{ k }}</div></td>
                <td>{{ v | selectattr("day", "equalto", now.day) | selectattr("month", "equalto", now.month) | selectattr("year", "equalto", now.year) | list | length }}</td>
                <td>{{ v | selectattr("month", "equalto", now.month) | selectattr("year", "equalto", now.year) | list | length }}</td>
                <td>{{ v | selectattr("year", "equalto", now.year) | list | length }}</td>
                <td>{{ v | length }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
    <h2 class="tnth-headline">{{ _("User Statistics") }}</h2>
    <div id="userStatsContainer">
        <p>{{ _("User stats are collected from all Users without the Test Role") }}</p>
        <p>{{ _("Role counts are tallied from User.roles (e.g. a User with both the Patient and Staff Roles, would add 1 to both Roles' counts)") }}</p>
        <p><i>{{ _("No Diagnosis") }}</i>: {{ _("Users whose User.observations does not contain any Observations where the Observation.codeable_concept=CC.BIOPSY and the Observation.value_quantity.value=True") }}</p>
        <p><i>{{ _("Diagnosis, No Treatment") }}</i>: {{ _("Users where known_treatment_not_started(User)=True") }}</p>
        <p><i>{{ _("Diagnosis and Treatment") }}</i>: {{ _("Users where known_treatment_started(User)=True") }}</p>
        <p><i>{{ _("Metastasis") }}</i>: {{ _("Users whose User.observations contains any Observations where the Observation.codeable_concept=CC.PCaLocalized and the Observation.value_quantity.value!=True") }}</p>
        <table id="userRoleStatsTable"
               class="table table-striped table-hover table-condensed"
               data-show-columns="true">
            <thead>
            <tr>
                <th>{{ _("Role") }}</th>
                <th>{{ _("User Count") }}</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            <tr>
                <td>{{ _("Patients") }}</td>
                <td>{{ counts['roles']['patient'] }}</td>
            </tr>
            <tr>
                <td><div class="indent">{{ _("No Diagnosis") }}</div></td>
                <td>{{ counts['patients']['pre-dx'] }}</td>
            </tr>
            <tr>
                <td><div class="indent">{{ _("Diagnosis, No Treatment") }}</div></td>
                <td>{{ counts['patients']['dx-nt'] }}</td>
            </tr>
            <tr>
                <td><div class="indent">{{ _("Diagnosis and Treatment") }}</div></td>
                <td>{{ counts['patients']['dx-t'] }}</td>
            </tr>
            <tr>
                <td><div class="indent">{{ _("Metastasis") }}</div></td>
                <td>{{ counts['patients']['meta'] }}</td>
            </tr>
            <tr>
                <td>{{ _("Partners") }}</td>
                <td>{{ counts['roles']['partner'] }}</td>
            </tr>
            <tr>
                <td>{{ _("Clinicians") }}</td>
                <td>{{ counts['roles']['staff'] }}</td>
            </tr>
        </table>
        <p>{{ _("Intervention counts only apply to those interventions that control their subject list manually (eg Sexual Recovery, Care Plan, Community of Wellness). They are tallied from User.interventions (e.g. a User with both the 'Care Plan' and 'Community of Wellness' interventions, would add 1 to both Interventions' counts)") }}</p>
        <table id="userIntervStatsTable"
               class="table table-striped table-hover table-condensed"
               data-show-columns="true">
            <thead>
            <tr>
                <th>{{ _("Intervention") }}</th>
                <th>{{ _("User Count") }}</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for k,v in counts['interventions'].items() %}
            {% if k %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <p>{{ _("Completed Reports are tallied for each User that has <i>any number</i> of PatientReports for that Intervention (e.g. whether a User has 1 or 100 PatientReports for 'Symptom Tracker', that User only adds 1 to that Intervention's Completed Reports tally)") }}</p>
        <p>{{ _("Completed Reports are only shown for an Intervention if the report count is above 0") }}</p>
        <table id="userIntervStatsTable"
               class="table table-striped table-hover table-condensed"
               data-show-columns="true">
            <thead>
            <tr>
                <th>{{ _("Intervention (Reports)") }}</th>
                <th>{{ _("User Count") }}</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for k,v in counts['intervention_reports'].items() %}
            {% if k %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <p>{{ _("Intervention Access counts reflect the number of users who <i>could</i> access said intervention, regardless of whether or not they've actually accessed it.") }}</p>
        <table id="userIntervStatsTable"
               class="table table-striped table-hover table-condensed"
               data-show-columns="true">
            <thead>
            <tr>
                <th>{{ _("Intervention (Access)") }}</th>
                <th>{{ _("User Count") }}</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for k,v in counts['intervention_access'].items() %}
            {% if k %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <br/>
    <h2 class="tnth-headline">{{ _("Institution Statistics") }}</h2>
    <div>
        <p>{{ _("Organization counts are collected from the User.organizations of all Users without the Test Role") }}</p>
        <p>{{ _("'None of the above' refers to Users who specifically selected the 'None of the above' organization option") }}</p>
        <p>{{ _("'Unspecified' refers to Users who have not yet been assigned to <i>any</i> Organization option (including 'None of the above')") }}</p>
        <table id="orgStatsTable"
               class="table table-striped table-hover table-condensed"
               data-show-columns="true">
            <thead>
            <tr>
                <th>{{ _("Organization Name") }}</th>
                <th>{{ _("User Count") }}</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for k,v in counts['organizations'].items() %}
            {% if k %}
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
