<!DOCTYPE html>
<html>
    <head>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <title>{{ app_text('layout title') }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{config.PORTAL_STYLESHEET}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <noscript><meta http-equiv="refresh" content="0; url={{url_for('portal.no_script')}}" /></noscript>
    </head>
    <body>
        <!-- standalone page for display cookie disabled message via redirect-->
        <div class="loading-indicator-placeholder"></div>
        {%- from "flask_user/_macros.html" import checkCookieMonster -%}
        <div id="requiredCookieContainer" class="standalone">
            {{checkCookieMonster(target=target)}}
        </div>
        <div class="default-content tnth-hide">
            <div>{{_("Browser cookie setting check complete")}}</div>
            <div><a href="/">Home</a></div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/utility.js') }}"></script>
</html>

