{% extends "layout.html" %}
{% block main %}
  <h4 class="tnth-headline">{{_("Research Data")}}</h4>
  <hr/>
  {% if config.STAFF_BULK_DATA_ACCESS %}
    <div id="researchContentContainer"></div>
  {% else %}
    <span class="muted">Content to be determined</span>
  {% endif %}
{% endblock %}
{%- block additional_scripts %}<script src="{{ url_for('static', filename='js/dist/research.bundle.js') }}"></script>{% endblock -%}
{%- from "flask_user/_macros.html" import footer -%}
{%- block footer %}{{footer(user=user)}}{% endblock -%}


