{% extends "layout.html" %}
{% block main %}
<h4 class="tnth-headline">Research Dashboard</h4>
<br/>
<hr/>
<div class="modal fade" id="dataDownloadModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ _("Export questionnaire data") }}
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label class="text-muted">{{ _("Instrument(s) to export data from:")}}</label>
              <div id="patientsInstrumentListWrapper">
                <div id="patientsInstrumentList" class="profile-radio-list">
                  {% for instrument_code in config["INSTRUMENTS"] | sort() %}
                  <div class="checkbox instrument-container" id="{{instrument_code}}_container"><label><input type="checkbox" name="instrument" value="{{ instrument_code }}">{{ instrument_code | replace("_", " ") | upper }}</label>
                  </div>
                  {% endfor %}
                </div>
                <div id="instrumentListLoad"><i class="fa fa-spinner fa-spin fa-2x loading-message"></i></div>
              </div>
              </div>
            <div class="form-group">
              <label class="text-muted">{{ _("Data type:")}}</label>
              <div id="patientsDownloadTypeList" class="profile-radio-list">
                <label class="radio-inline">
                    <input type="radio" name="downloadType" id="csv" value="csv" checked/>
                    {{ _("CSV") }}
                </label>
                <label class="radio-inline">
                    <input type="radio" name="downloadType" id="_json" value="json"/>
                    {{ _("JSON") }}
                </label>
              </div>
            </div>
            <div id="_downloadMessage"></div>
            <br/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="patientsDownloadButton">{{ _("Export") }}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
        </div>
      </div>
    </div>
</div>
<div id="patientListExportDataContainer" class="btn btn-lg"><a href="#" id="patientAssessmentDownload"  data-toggle="modal" data-target="#dataDownloadModal">{{ _("Export questionnaire data") }} &nbsp;<span class="glyphicon glyphicon-save"></span></a></div>
{% endblock %}
{%- from "flask_user/_macros.html" import footer -%}
{% block footer %}
{{footer(user=user)}}
{% endblock %}
{% block document_ready %}

$(document).ready(function() {

  /*
   * attach on click even to submit button in the download modal
   */
  $(document).delegate("#patientsDownloadButton", "click", function(event){
    var instruments = "", dataType = "";
    $("input[name='instrument'").each(function() {
        if ($(this).is(":checked")) {
          instruments += (instruments != "" ? "&": "") + "instrument_id="+$(this).val();
        };
    });
    $("input[name='downloadType']").each(function() {
        if ($(this).is(":checked")) dataType = $(this).val();
    });
    if (instruments != "" && dataType != "") {
        //alert(instruments)
        $("#_downloadMessage").text("");
        $("#_downloadLink").attr("href", "/api/patient/assessment?" + instruments + "&format=" + dataType);
        $("#_downloadLink")[0].click();
    } else {
        message = (instruments == "" ? "{{_('Please choose at least one instrument.')}}": "");
        if (dataType == "") message += (message != "" ? "<br/>": "") + "{{_('Please choose one download type.')}}";
        $("#_downloadMessage").html(message);
    };
  });

  /*
   * attach event to each checkbox in the download instruments modal
   */
  $("input[name='instrument'], input[name='downloadType']").on("click", function() {
      if ($(this).is(":checked")) $("#_downloadMessage").text("");
  });
});

{% endblock %}

