{% extends "layout.html" %}
{% block main %}



    <h1 class="tnth-headline">{{ _("Scheduled Jobs") }}</h1>

    <h4>{{ _("Current Jobs") }}</h4>
    {% if jobs %}
    <ul>
        {% for job in jobs %}
            <li>
                <button title="Run Job" onclick="triggerJob(event, {{ job.id }})"><i class="fa fa-play"></i></button>
                <b>{{ job.name }}</b>
                <br />{{ _("Task") }}: {{ job.task }}
                {% if job.args %}
                <br />{{ _("Args") }}: {{ job.args }}
                {% endif %}
                {% if job.kwargs %}
                <br />{{ _("Kwargs") }}: {{ job.kwargs }}
                {% endif %}
                <br />{{ _("Schedule") }}: {{ job.schedule }}
                <br />{{ _("Active") }}: {{ job.active }}
                <br />{{ _("Last Runtime") }}: {{ job.last_runtime }}
                <br />{{ _("Last Status") }}: {{ job.last_status }}
                <div id="triggerMessage_{{job.id}}" class="text-info"></div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>{{ _("No jobs found.") }}</p>
    {% endif %}

    <h4>{{ _("Available Tasks") }}</h4>
    {% if tasks %}
    <ul>
        {% for task in tasks %}
            <li>{{ task }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>{{ _("No tasks found.") }}</p>
    {% endif %}


{% endblock %}
{% block document_ready %}

function triggerJob(event, jobId) {
    if (event) event.stopPropagation();
    if (jobId) {
         $.ajax ({
              type: "POST",
              url: "/api/scheduled_job/" + jobId + "/trigger",
              contentType: 'application/json; charset=utf-8',
              dataType: 'json'
          }).done(function(data) {
                if (data) {
                    $("#triggerMessage_" + jobId).text(data["message"]);
                }
          }).fail(function(xhr) {
                console.log("response Text: " + xhr.responseText);
                console.log("response status: " +  xhr.status);
                $("#triggerMessage_" + jobId).text(xhr.status + ": " + xhr.responseText);
          });
    };
};

{% endblock %}
