{% extends "layout.html" %}
{% from "flask_user/_macros.html" import back_btn, footer %}
{% block main %}
<br/>
<div id="userSessionReportMainContainer">
	<div id="userSessionReportDetailHeader" class="report-custom-header gradient">
		<span class="left">
		<h4>{{ _("Assessment Report Detail") }}</h4>
		<h4 class="text-muted">{{ _("Patient") }} #{{user.id}} - {{user.first_name}}  {{user.last_name}}</h4>
		</span>
		<span class="right">
			{% if current_user.id == user.id %}
			<a href="{{url_for('portal.profile')}}" data-toggle="tooltip" data-placement="top" title="{{ _('Back to Profile') }}" class="btn"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
			{% else %}
				{% if current_user.has_role(ROLE.PATIENT.value) %}
					<a href="{{url_for('portal.profile', user_id=user.id)}}" data-toggle="tooltip" data-placement="top" title="{{ _('Back to User Profile') }}" class="btn"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
				{% else %}
					<a href="{{url_for('patients.patient_profile', patient_id=user.id) }}" data-toggle="tooltip" data-placement="top" title="{{ _('Back to Patient Profile') }}" class="btn"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
				{% endif %}
			{% endif %}
			&nbsp;&nbsp;<a href="/" data-toggle="tooltip" data-placement="top" title="{{ _('Back to Truenth Home') }}" class="btn"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
		</span>
	</div>
	<input type="hidden" id="_report_user_id" value="{{user.id if user}}" />
	<input type="hidden" id="_report_authored_date" value="{{authored_date}}" />
	<input type="hidden" id="_report_instrument_id" value="{{instrument_id}}" />
	<div id="assessmentReportContentContainer"></div>
</div>
{% endblock %}
{% block footer %}
{{footer(user=current_user)}}
{% endblock %}
{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/dist/assessmentReport.bundle.js') }}"></script>
{% endblock %}


