{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import back_btn %}
{% from "profile_macros.html" import profileAssessment %}

<br/>

<div  class="tnth-headline custom-header gradient">
	<h4>Assessment Report Detail</h4>
	<h4 class="text-muted">Patient #{{user.id}} - {{user.first_name}}  {{user.last_name}}</h4>
	
</div>
<div class="report-error-message">Unable to load report</div>
<div class="container">
	<div class="row" style="position: relative;">
	    <div class="col-md-12">
	    	
	       	{{profileAssessment(user, instrument_id)}}
	 
	        <br />

	        <a href="{{ url_for('patients.patient_profile', patient_id=user.id) }}" class="btn btn-xs btn-tnth-back"><small><i class="fa fa-chevron-left"></i> Back to Profile</small></a>
	        <br/>
	        <!--
	        <a href="{{PORTAL}}/home" class="btn btn-xs btn-tnth-back"><small><i class="fa fa-chevron-left"></i> Back to Home</small></a>
	        -->
	    </div>
	</div>
</div>


{% endblock %}

{% block document_ready %}

$(document).ready(function(){

});


{% endblock %}
