{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import render_field %}
    
    <style>
     #accessCodeWrapper {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
     }
    .access-button {
        opacity: 1; 
        box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px; 
        border-color: rgb(221, 221, 221); 
        background-color: rgb(52, 152, 219); 
        background-image: none; 
        color: rgb(255, 255, 255); 
        font-weight: normal; 
        padding: 6px 10px; 
        border-width: 0px; 
        border-radius: 3px; 
        border-style: solid; 
        background-size: auto; 
        background-repeat: repeat; 
        background-position: center center; 
        font-size: 14px; 
        font-style: normal; 
        font-family: Arial; 
        text-align: center; 
        width: 120px; 
        height: 30px; 
        /*transform: rotate(0deg) translate(87px, 302px) rotate(0deg);*/
    }

    #accessCodeWrapper .main {
        margin: 5% auto 1% auto;
        padding: 2em;
    }
    #shortcut_alias {
        width: 40%;
    }

    #accessCodeWrapper .disabled {
        background-color: #999;
        opacity: 0.65;
    }
    #registerLink {
        padding:6.5px 24px;
    }

    </style>
    <article id="accessCodeWrapper">
        <form  action="/go" method="post">
            <section class="main">
                <div>
                    <h4 class="tnth-headline">Do you have an access code?</h4>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                    {{ render_field(form.shortcut_alias, label="Enter Access Code", tabindex=10) }}
                    <br/>
                     <button type="submit" class="access-button disabled" disabled id="nextLink">Next</button>
                      <a href="/user/register" role="button" class="access-button" id="registerLink">Register</a>
                    </div>
                </div>
            </section>
          {{ form.csrf_token }}
        </form>
    </article>
{% endblock %}
{% block document_ready %}
    $("document").ready(function() {
        $("#shortcut_alias").on("keyup", function() {
            if ($(this).val() == "") {
                $("#nextLink").addClass("disabled").attr("disabled", true);
                $("#registerLink").removeClass("disabled").attr("disabled", false);
            } else {
                $("#registerLink").addClass("disabled").attr("disabled", true);
                $("#nextLink").removeClass("disabled").attr("disabled", false);
            };
        });
    });

{% endblock %}
