{% extends "layout.html" %}
{% block main %}
{% from "flask_user/_macros.html" import render_field %}

    <style>
     #accessCodeWrapper {
        height: 100%;
        width: 100%;
        min-height: 400px;
        overflow: hidden;
        margin: auto;
     }
    .access-button {
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
        border-color: rgb(221, 221, 221);
        background-color: rgb(52, 152, 219);
        background-image: none;
        color: rgb(255, 255, 255);
        font-weight: normal;
        padding: 6px 10px;
        border-width: 0px;
        border-radius: 3px;
        border-style: solid;
        background-size: auto;
        background-repeat: repeat;
        background-position: center center;
        font-size: 14px;
        font-style: normal;
        font-family: Arial;
        text-align: center;
        width: 140px;
        height: 32px;
        /*transform: rotate(0deg) translate(87px, 302px) rotate(0deg);*/
    }

    #accessCodeWrapper {
        margin: 0 auto;
        width: 600px;
        max-width: 100%;
        min-height: 500px;
    }

    #accessCodeWrapper .main {
        padding: 4em;
    }
    #shortcut_alias {
        width: 140px;
        max-width: 100%;
        height: 34px;
    }

    #accessCodeWrapper .disabled {
        background-color: #999;
        opacity: 0.65;
    }
    #registerLink {
        position: relative;
        top: -1.1px;
        width: 140px;
        display: inline-block;
    }
    </style>
    <article id="accessCodeWrapper">
        <form  action="/go" method="post">
            <section class="main">
                <div>
                    <h4>Do you have an access code?</h4>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                    {{ render_field(form.shortcut_alias, label="Enter Access Code", tabindex=10) }}
                     <button type="submit" class="access-button disabled" disabled id="nextLink">Next</button>
                    </div>
                </div>
                <br/><br/>
                <div>
                    <h4>I do not have an access code</h4>
                    <p>Continue registration without an access code</p>
                    <a href="/user/register" role="button" class="access-button" id="registerLink">Register</a>
                </div>
            </section>
          {{ form.csrf_token }}
        </form>
    </article>
{% endblock %}
{% block document_ready %}
    $("document").ready(function() {
        $("#shortcut_alias").on("keyup", function() {
            if ($(this).val() == "") {
                $("#nextLink").addClass("disabled").attr("disabled", true);
            } else {
                $("#nextLink").removeClass("disabled").attr("disabled", false);
            };
        });

        $("#shortcut_alias").attr("placeholder", "").focus();
        if ($("#shortcut_alias").val() !== "")  $("#nextLink").removeClass("disabled").attr("disabled", false);
    });

{% endblock %}
