<table>
	<caption><b>{{ _("Overdue Patients") }}</b></caption>
    <thead>
	    <tr>
            <th>{{ _("Site") }}</th>
	        <th>{{ _("TrueNTH ID") }}</th>
	        <th>{{ _("Site Code") }}</th>
	        <th>{{ _("Study ID") }}</th>
	        <th>{{ _("Visit Name") }}</th>
	        <th>{{ _("Available From") }}</th>
	        <th>{{ _("Expired Date") }}</th>
	    </tr>
    </thead>
    <tbody>
	    {% for row in rows %}
	    <tr>
	    	{% for cell in row %}
	    	<td>{{ cell }}</td>
	    	{% endfor %}
	    </tr>
	    {% endfor %}
	</tbody>
</table>
