Source: portal
Section: python
Priority: extra
Maintainer: CIRG, University of Washington <truenth-dev@uw.edu>
# docs suggest building psycopg2 from source every time for prod
# http://initd.org/psycopg/docs/install.html#binary-install-from-pypi
# Todo: investigate using binary in python-psycopg2 debian package
# Todo: remove all python2 dependencies when dh-virtualenv is python3 by default
Build-Depends: debhelper (>= 9), python3, dh-virtualenv, libpq-dev, python3-dev, python3-pip, python3-setuptools, python3-venv, python3-wheel
Standards-Version: 3.9.5

Package: portal
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3-minimal | python3, ${misc:Pre-Depends}
Depends: ${misc:Depends}, libpq5, ca-certificates
Recommends: wait-for-it
Description: TrueNTH Shared Services
 TrueNTH Shared Services
