Source: portal
Section: python
Priority: extra
Maintainer: CIRG, University of Washington <truenth-dev@uw.edu>
Build-Depends: debhelper (>= 9), python3, dh-virtualenv, libc6-i386, fakeroot
Standards-Version: 3.9.5

Package: portal
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3 (>= 3.5), ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: TrueNTH Shared Services
 TrueNTH Shared Services
