#!/usr/bin/make -f
# Makefile used by dpkg-buildpackage

# dh-virtualenv options
# https://dh-virtualenv.readthedocs.io/en/1.1/usage.html
DH_VIRTUALENV_ARGS = \
	--requirements='requirements.prod.txt' \
	--python='/usr/bin/python3' \
	--builtin-venv \
	--preinstall=wheel \
	--extra-pip-arg='--progress-bar=off' \
	--extra-pip-arg='--quiet'

# Directory where venvs for dh-virtualenv packages are built
VENV_BUILD_DIR = '$(PWD)/debian/portal/opt/venvs'


override_dh_virtualenv:
	# lines preceding `dh_virtualenv` occur before venv creation and pip install

	# Build front-end files
	bin/build-frontend-files.sh

	# Build front-end translations (JSON) from gettext files (PO)
	bin/build-frontend-translations.sh

	dh_virtualenv $(DH_VIRTUALENV_ARGS)

override_dh_builddeb:
	# lines preceding `dh_builddeb` occur after venv creation && `pip install`
	# but before debian package creation


	# change directory to something other than the original checkout
	# `flask` commands will ignore given entrypoint (FLASK_APP) otherwise
	# Todo: figure out underlying cause

	# compile all back-end PO files to MO files
	# run flask from new virtual environment
	# avoid calling `flask` script directly
	# import paths are relative to venv *after* .deb installation
	cd / && \
	LANG=C.UTF-8 \
	FLASK_APP='$(VENV_BUILD_DIR)/portal/bin/manage.py' \
	SECRET_KEY='' \
	PATH='$(VENV_BUILD_DIR)/portal/bin' \
		python -m flask compile-po-files


	dh_builddeb

%:
	dh $@ --with python-virtualenv
