#!/usr/bin/make -f
# Makefile used by dpkg-buildpackage

# dh-virtualenv options
# https://dh-virtualenv.readthedocs.io/en/1.0/usage.html
DH_VIRTUALENV_ARGS = --python='/usr/bin/python3.5' --preinstall='pip>=8' --preinstall='setuptools>=12'

distclean:
	rm -Rf build debian/portal/ env

override_dh_virtualenv:
	# Remove self-referential requirement
	# Otherwise a .egg-link file is created instead of actually installing portal module in site-packages/
	sed -i '/-e ./d' requirements.txt

	dh_virtualenv $(DH_VIRTUALENV_ARGS)

override_dh_builddeb:
    # Todo: move to more appropriate step
    # Manually fix paths erroneously pointing to build environment
	find \
		debian/portal/opt/venvs/portal/lib/ \
		-name easy-install.pth \
		-exec \
			sed \
				--in-place \
				--expression 's|$(PWD)/debian/portal/opt/venvs/|/opt/venvs/|g' \
				{} \; \
		-print

	dh_builddeb

%:
	dh $@ --with python-virtualenv
