{% macro render_field(field, label=None, label_visible=true, right_url=None, right_label=None, helpText=false, infoText="") -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if field.type != 'HiddenField' and label_visible %}
            {% if not label %}{% set label=field.label.text %}{% endif %}
            <label for="{{ field.id }}" class="control-label">{{ label|safe }}</label>
        {% endif %}
        {{ field(class='form-control', placeholder=label, **kwargs) }}
        <div class="help-block with-errors" id="error{{ field.id }}">
            {% if field.errors %}
                {% for e in field.errors %}
                    <span>{{ e }}</span>
                {% endfor %}
            {% else %}
                {% if helpText %}
                    <div class="text-muted" style="margin-left: 8px;font-size:0.9em">{{ helpText|safe }}</div>
                {% endif %}
            {% endif %}
        </div>
        <div id="{{field.id}}InfoText" class="text-muted" style="font-size:0.9em">{{infoText|safe}}</div>
    </div>
{%- endmacro %}

{% macro render_checkbox_field(field, label=None, helpText=false) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ label }}
        </label>
        {% if helpText %}
            <span class="help-block">{{ helpText|safe }}</span>
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_radio_field(field) -%}
    {% for value, label, checked in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}"{% if checked %} checked{% endif %}>
                {{ label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}

{% macro render_submit_field(field, label=None, tabindex=None, btnSize=false) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    {#<button type="submit" class="form-control btn btn-tnth-primary">{{label}}</button>#}
    <input type="submit" class="btn btn-tnth-primary {{ btnSize }}" value="{{label}}"
           {% if tabindex %}tabindex="{{ tabindex }}"{% endif %}
           >
{%- endmacro %}

{% macro back_btn(url,text) -%}
<a href="{{PORTAL}}/{{url}}" class="btn btn-xs btn-tnth-back required-link"><small><i class="fa fa-chevron-left"></i> {{ _("Back to") }} {{text}}</small></a><br/>
{%- endmacro %}

{% macro back_link(url,text) -%}
<a class="back" href="{{PORTAL}}/{{url}}">
<span class="glyphicon glyphicon-home" data-toggle="tooltip" data-placement="top" title="back to home"></span></a>
{%- endmacro %}

{% macro footer(splash_style=false, white_theme=False, user=None) -%}
<div id="homeFooter" {% if splash_style %}class="container-fluid"{% else %}class="container footer-separate"{% endif %}>
    <div class="row">
        <div class="col-xs-6 col-lg-8 footer-container">
            <div class="copyright-container">
                {{linksHTML(user)}}
            </div>
        </div>
        <div class="col-xs-6 col-lg-4 footer-container logo-container">
            <div class="pull-right">
                {{logo(white_theme)}}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}
{% macro linksHTML(user)-%}
    <p><small class="links"><a href="{{PORTAL}}/about">{{_("About")}}</a> | <a href="{{PORTAL}}/contact">{{_("Contact")}}</a>{%- if user -%}&nbsp;| <a href="{{PORTAL}}/privacy">{{_("Privacy")}}</a>{%- endif -%}{% if user or config.SHOW_PUBLIC_TERMS %}&nbsp;| <a href="{{PORTAL}}/terms">{{_("Terms")}}</a></small></p>{%- endif -%}
    <p><small class="copyright text-muted">{{copyrightText()}}</small></p>
{%- endmacro %}
{% macro logo(white_theme=False) -%}
    <a href="{%-if config.TRUENTH_LINK_URL-%}{{config.TRUENTH_LINK_URL}}{%-endif-%}" title="{{ _('Movember') }}" class="logo-link" target="_blank">
        <figure id="footerLogo" {%-if white_theme -%}class="white-theme"{%-endif%} alt="{{_('Movember Logo')}}"></figure>
    </a>
    &nbsp;
    <a href="{%-if config.MOVEMER_LINK_URL-%}{{config.MOVEMER_LINK_URL}}{%-endif-%}" class="logo-link" title="{{ _('Movember') }}" target="_blank">
    <figure id="footerMovember" {%-if white_theme -%}class="white-theme"{%-endif-%}></figure>
    </a>
{%- endmacro %}
{% macro copyrightText() -%}
<span>&copy;{{_("%(year)d Movember Foundation. All rights reserved. A registered 501(c)3 non-profit organization.", year=config.COPYRIGHT_YEAR)}}</span>
{%- endmacro %}
{% macro passwordPopover() -%}
    <div id="passwordPopover">
        <div class="password-popover popover" role="tooltip">
            <div class="arrow"></div>
            <h3 class="popover-title"></h3>
            <div class="popover-content">
                <b>{{_("Password must have at least:")}}</b>
                <ul id='pwdHintList'>
                    <li class='text-info eight-characters'>{{_("Eight characters")}}</li>
                    <li class='text-info lowercase-letter'>{{_("One lowercase letter")}}</li>
                    <li class='text-info uppercase-letter'>{{_("One uppercase letter")}}</li>
                    <li class='text-info one-number'>{{_("One number")}}</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/flask_user/PasswordPopover.js') }}"></script>
{%- endmacro %}
{% macro urlAuthenticatedLoginModal(PORTAL_BASE_URL="") -%}
    <!-- reusable login modal component that prompts user to login when accessing protected link-->
    <div class="modal fade" tabindex="-1" role="dialog" id="urlAuthenticatedModal" data-ref-url="{{PORTAL_BASE_URL}}">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">{{ _("Limited Access") }}</h2>
            </div>
            <div class="modal-body">
                <p>{{_("To access this information, you will need to log in with your username and password.")}}</p>
                <br/>
                <div class="buttons-container text-center">
                    <a type="button" class="btn btn-default btn-tnth-primary btn-lg" data-dismiss="modal">{{ _("Continue with limited access") }}</a>
                    <a id="btnUrlAuthenticatedContinue" type="button" class="btn btn-default btn-tnth-primary btn-lg" >{{ _("Log in to see more") }}</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
            </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function() {
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("body")[0];
            g.type="text/javascript"; g.src='{{PORTAL_BASE_URL}}{{url_for("static", filename="js/flask_user/urlAuthenticatedModal.js")}}';
            //inserting script in BODY element, NOTE, this will prevent browser from removing SCRIPT tag that references a static file
            s.appendChild(g);
            function initURLAuthenticatedModal() {
                setTimeout(function() {
                    (new URLAuthenticatedModalObj()).init();
                }, 150);
            }
            g.onreadystatechange= function () { //IE
                if (this.readyState === "complete") {
                    initURLAuthenticatedModal();
                }
            }
            g.onload = initURLAuthenticatedModal; //other browsers
        })();
    </script>
{%- endmacro %}
