{% macro render_field(field, label=None, label_visible=true, right_url=None, right_label=None, helpText=false) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if field.type != 'HiddenField' and label_visible %}
            {% if not label %}{% set label=field.label.text %}{% endif %}
            <label for="{{ field.id }}" class="control-label">{{ label|safe }}</label>
        {% endif %}
        {{ field(class_='form-control', placeholder=label, **kwargs) }}
        <div class="help-block with-errors" id="error{{ field.id }}">
            {% if field.errors %}
                {% for e in field.errors %}
                    <span>{{ e }}</span>
                {% endfor %}
            {% else %}
                {% if helpText %}
                    <span>{{ helpText|safe }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
{%- endmacro %}
 
{% macro render_checkbox_field(field, label=None, helpText=false) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ label }}
        </label>
        {% if helpText %}
            <span class="help-block">{{ helpText|safe }}</span>
        {% endif %}
    </div>
{%- endmacro %}
 
{% macro render_radio_field(field) -%}
    {% for value, label, checked in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}"{% if checked %} checked{% endif %}>
                {{ label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}

{% macro render_submit_field(field, label=None, tabindex=None, btnSize=false) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    {#<button type="submit" class="form-control btn btn-tnth-primary">{{label}}</button>#}
    <input type="submit" class="btn btn-tnth-primary {{ btnSize }}" value="{{label}}"
           {% if tabindex %}tabindex="{{ tabindex }}"{% endif %}
           >
{%- endmacro %}

{% macro back_btn(url,text) -%}
<a href="{{PORTAL}}/{{url}}" class="btn btn-xs btn-tnth-back"><small><i class="fa fa-chevron-left"></i> Back to {{text}}</small></a><br/>
{%- endmacro %}

{% macro left_nav(current_user) -%}
<div class="col-sm-3 hidden-xs">

    <div class="list-group tnth-nav-list">
        <a class="list-group-item" href="{{PORTAL}}/">Home</a>
        {% if current_user.roles %}
        <a class="list-group-item" href="{{PORTAL}}/profile">My TrueNTH Profile</a>
        <a class="list-group-item" href="{{PORTAL}}/invite">Send an Invite</a>
        {% endif %}
        <a class="list-group-item" href="#">TrueBLOG</a>
        <a class="list-group-item" href="http://www.movember.com">Movember.com</a>
    </div>
    {% if current_user.roles %}
    <br />

    {% if current_user.has_roles('admin') or current_user.has_roles('application_developer') %}
    <div class="list-group tnth-nav-list">
        {% if current_user.has_roles('admin') %}
        <a class="list-group-item" href="{{PORTAL}}/admin">User Administration</a>
        {% endif %}
        {% if current_user.has_roles('application_developer') %}
        <a class="list-group-item" href="{{PORTAL}}/clients">Client Applications</a>
        {% endif %}
    </div>
    {% endif %}
    {% endif %}

</div>
{%- endmacro %}

{% macro footer(splash_style=false) -%}
<div id="homeFooter" {% if splash_style %}class="container-fluid"{% else %}class="container footer-separate"{% endif %}>
    <div class="row">
        <div class="col-xs-6 col-lg-6 footer-container">
            <p><small><a href="{{PORTAL}}/about">About</a> | <a href="{{PORTAL}}/contact">Contact</a> | <a href="{{PORTAL}}/legal">Legal</a></small></p>
        </div>
        <div class="col-xs-6 col-lg-6 footer-container">
            <div class="pull-right">
                <a href="http://us.movember.com" title="Movember"><img id="footerLockup" src="{{PORTAL}}{{url_for('static',filename='img/logo_movember_lockup.png')}}" /></a>
            </div>
        </div>
    </div>

</div>
{%- endmacro %}