{% macro render_field(field, label=None, label_visible=true, right_url=None, right_label=None, helpText=false, infoText="") -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if field.type != 'HiddenField' and label_visible %}
            {% if not label %}{% set label=field.label.text %}{% endif %}
            <label for="{{ field.id }}" class="control-label">{{ label|safe }}</label>
        {% endif %}
        {{ field(class='form-control', placeholder=label, **kwargs) }}
        <div class="help-block with-errors" id="error{{ field.id }}">
            {% if field.errors %}
                {% for e in field.errors %}
                    <span>{{ e }}</span>
                {% endfor %}
            {% else %}
                {% if helpText %}
                    <div class="text-muted" style="margin-left: 8px;font-size:0.87em">{{ helpText|safe }}</div>
                {% endif %}
            {% endif %}
        </div>
        <div id="{{field.id}}InfoText" class="text-muted" style="font-size:0.87em">{{infoText|safe}}</div>
    </div>
{%- endmacro %}

{% macro render_checkbox_field(field, label=None, helpText=false) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ label }}
        </label>
        {% if helpText %}
            <span class="help-block">{{ helpText|safe }}</span>
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_radio_field(field) -%}
    {% for value, label, checked in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}"{% if checked %} checked{% endif %}>
                {{ label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}

{% macro render_submit_field(field, label=None, tabindex=None, btnSize=false) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    {#<button type="submit" class="form-control btn btn-tnth-primary">{{label}}</button>#}
    <input type="submit" class="btn btn-tnth-primary {{ btnSize }}" value="{{label}}"
           {% if tabindex %}tabindex="{{ tabindex }}"{% endif %}
           >
{%- endmacro %}

{% macro back_btn(url,text) -%}
<a href="{{PORTAL}}/{{url}}" class="btn btn-xs btn-tnth-back required-link"><small><i class="fa fa-chevron-left"></i> {{ _("Back to") }} {{text}}</small></a><br/>
{%- endmacro %}

{% macro back_link(url,text) -%}
<a class="back" href="{{PORTAL}}/{{url}}">
<span class="glyphicon glyphicon-home" data-toggle="tooltip" data-placement="top" title="back to home"></span></a>
{%- endmacro %}


{% macro left_nav(current_user) -%}
<div class="col-sm-3 hidden-xs">

    <div class="list-group tnth-nav-list">
        <a class="list-group-item" href="{{PORTAL}}/">{{ _("Home") }}</a>
        {% if current_user.roles %}
        <a class="list-group-item" href="{{PORTAL}}/profile">{{ _("My TrueNTH Profile") }}</a>
        <a class="list-group-item" href="{{PORTAL}}/invite">{{ _("Send an Invite") }}</a>
        {% endif %}
        <a class="list-group-item" href="#">{{ _("TrueBLOG") }}</a>
        <a class="list-group-item" href="http://www.movember.com">{{ _("Movember.com") }}</a>
    </div>
    {% if current_user.roles %}
    <br />
    {% if current_user.has_roles('admin') or current_user.has_roles('application_developer') %}
    <div class="list-group tnth-nav-list">
        {% if current_user.has_roles('admin') %}
        <a class="list-group-item" href="{{PORTAL}}/admin">{{ _("User Administration") }}</a>
        {% endif %}
        {% if current_user.has_roles('application_developer') %}
        <a class="list-group-item" href="{{PORTAL}}/clients">{{ _("Client Applications") }}</a>
        {% endif %}
    </div>
    {% endif %}
    {% endif %}

</div>
{%- endmacro %}
{% macro footer(splash_style=false, white_theme=False, user=None) -%}
<div id="homeFooter" {% if splash_style %}class="container-fluid"{% else %}class="container footer-separate"{% endif %}>
    <div class="row">
        <div class="col-xs-6 col-lg-8 footer-container">
            <div class="copyright-container">
                {{linksHTML(user)}}
            </div>
        </div>
        <div class="col-xs-6 col-lg-4 footer-container logo-container">
            <div class="pull-right">
                {{logo(white_theme)}}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}
{% macro linksHTML(user)-%}
    <p><small class="links"><a href="{{PORTAL}}/about">{{_("About")}}</a> | <a href="{{PORTAL}}/contact">{{_("Contact")}}</a>{%- if user -%}&nbsp;| <a href="{{PORTAL}}/privacy">{{_("Privacy")}}</a>{%- endif -%}{% if user or config.SHOW_PUBLIC_TERMS %}&nbsp;| <a href="{{PORTAL}}/terms">{{_("Terms")}}</a></small></p>{%- endif -%}
    <p><small class="copyright text-muted">&copy;{{_("%(year)d Movember Foundation. All rights reserved. A registered 501(c)3 non-profit organization.", year=config.COPYRIGHT_YEAR)}}</small></p>
{%- endmacro %}
{% macro logo(white_theme=False) -%}
    <a href="{%-if config.TRUENTH_LINK_URL-%}{{config.TRUENTH_LINK_URL}}{%-endif-%}" title="{{ _('Movember') }}" class="logo-link" target="_blank">{%-if white_theme -%}<img id="footerLogo" src="{{PORTAL}}{{url_for('static',filename='img/logo_white.png')}}" alt="{{_('Movember Logo')}}" />{%-else-%}<img id="footerLockup" src="{{PORTAL}}{{url_for('static',filename='img/truenth_logo.jpg')}}" alt="{{_('Movember logo')}}" />{%-endif-%}
    </a>
    &nbsp;
    <a href="{%-if config.MOVEMER_LINK_URL-%}{{config.MOVEMER_LINK_URL}}{%-endif-%}" class="logo-link" title="{{ _('Movember') }}" target="_blank">
    {%-if white_theme -%}<img id="footerLockup" src="{{PORTAL}}{{url_for('static',filename='img/Movember-Footer-Logo.png')}}" alt="{{_('Movember Logo')}}" />{%-else-%}<img src="{{PORTAL}}{{url_for('static',filename='img/movember_logo.jpg')}}" alt="Movember Logo"/>{%-endif-%}</a>
{%- endmacro %}
{% macro checkCookieMonster(target="") -%}
    <input type="hidden" id="cookieCheckTargetUrl" value="{{target}}" />
    <div class="modal fade" tabindex="-1" role="dialog" id="modalCookieEnableWarning">
        <div class="modal-dialog">
            <div class="modal-content box-modal">
                <div class="modal-header"><h2 class="modal-title box-modal__title">{{_("Browser Cookies Disabled")}}</h2></div>
                <div class="modal-body box-modal__copy">
                    <p class="modal-body__copy text-left">
                        {% trans %}
                        Our website needs to use cookies to bring you the best, personalized, browsing experience. Your web browser is currently <b>not</b> allowing cookies. Help us fix this.
                        {% endtrans %}
                    </p>
                    <p class="modal-body__copy text-left">{{_("Please enable cookies within your browser settings to continue. To learn how to allow cookies, check online for your web browser’s specific instructions.")}}</p>
                    <p class="modal-body__copy text-left">
                        {% trans privacy_url="/privacy?redirect=true" -%}
                        For more information on how we use cookies, see our <u><a href="{{privacy_url}}">Privacy Policy</a></u>.
                        {%- endtrans %}
                    </p>
                </div>
                <div class="modal-footer"><button id="btnCookieTryAgain" type="button" class="btn btn-default btn-tnth-primary button button--teal">{{ _("Try Again") }}</button></div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/CookieMonster.js')}}"></script>
{%- endmacro %}
