{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field, back_btn %}

<div class="portal-well well">

    {{ back_btn('user/sign-in','Sign In') }}

    <h2>{%trans%}Forgot Password{%endtrans%}</h2>
    <br />

    <form action="" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}
        {{ render_field(form.email, tabindex=10) }}
        {{ render_submit_field(form.submit, tabindex=90) }}
    </form>

</div>

{% endblock %}