{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field, back_btn %}


{{ back_btn('user/sign-in','Log In') }}

<h1 class="tnth-headline">{%trans%}Forgot Your Password?{%endtrans%}</h1>

<p>Enter your e-mail address and we'll send an e-mail with a link to reset your password.</p>
<br />
<form id="forgetPasswordForm" action="" method="POST" class="form tnth-form to-validate" role="form" data-toggle="validator">
    {{ form.hidden_tag() }}
    {{ render_field(form.email, tabindex=10, label="Your e-mail address", label_visible=false, required=true) }}
    {{ render_submit_field(form.submit, tabindex=90) }}
</form>
{% endblock %}
