{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}

<div class="well portal-well">

    <h3 class="tnth-headline">Log In to TrueNTH</h3>

    <div class="row">

        <div class="col-md-5">

            <p>Welcome back to TrueNTH.</p>

            <p>Are you new to TrueNTH?
                <a href="/user/register">
                    Create a new account...</a></p>


        </div>
        <div class="col-md-7">

            <p>Log in with:</p>

            <div style="margin: 1em 0 1em 1em">
                <a href="{{ url_for('auth.login', provider_name='facebook') }}"
                   class="btn btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Facebook
                </a><br /><br />
                <a href="{{ url_for('auth.login', provider_name='google') }}"
                   class="btn btn-social btn-google">
                    <i class="fa fa-google"></i> Google
                </a><br />
            </div>

            <p>Or a TrueNTH account:</p>

            <form action="" method="POST" class="form" role="form" style="margin-left: 1em">
                {{ form.hidden_tag() }}

                {# Username or Email field #}
                {% set field = form.username if user_manager.enable_username else form.email %}
                {{ render_field(form.username, label="Username or email address", label_visible=false, tabindex=10) }}

                {# Password field #}
                {% set field = form.password %}
                {{ render_field(form.password, label="Password", label_visible=false, tabindex=20) }}

                <div class="row">
                    <div class="col-xs-6">
                        {# Remember me #}
                        {% if user_manager.enable_remember_me %}
                        {{ render_checkbox_field(login_form.remember_me, tabindex=130) }}
                        {% endif %}
                    </div>
                    {% if user_manager.enable_forgot_password %}
                    <div class="col-xs-6">
                        <a href="{{ url_for('user.forgot_password') }}" style="margin-top: 10px" class="pull-right">
                            {%trans%}Forgot your Password?{%endtrans%}</a>
                    </div>
                    {% endif %}
                </div>

                {# Submit button #}
                {{ render_submit_field(form.submit, tabindex=180) }}
            </form>

        </div>

    </div>

</div>

{% endblock %}
