{% extends 'flask_user/public_base.html' %}
{% block mainclass %}class="login-form"{% endblock %}
{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<br/><br/><div class="divider"></div>
<div id="loginForm" class="row">
    <div class="col-md-push-2 col-md-8 col-xs-12">
        <div class="btn-social-container">
            <form action="" method="POST" class="form" role="form">
                {{ form.hidden_tag() }}
                {# Username or Email field #}
                {% set field = form.username if user_manager.enable_username else form.email %}
                {{ render_field(field, label="Email address", label_visible=false, tabindex=10, infoText="Note: If you had a username before, please use your email address now. Your password remains unchanged.") }}
                {# Password field #}
                {% set field = form.password %}
                {{ render_field(form.password, label="Password", label_visible=false, tabindex=20) }}
                {# Submit button #}
                {{ render_submit_field(form.submit, tabindex=180, label="LOG IN", btnSize="btn-lg") }}
            </form>
            {% if user_manager.enable_forgot_password %}
                <div class="divider">
                    <span class="text-muted"><a href="{{ url_for('user.forgot_password') }}" class="text-muted">{%trans%}Having trouble logging in?{%endtrans%}</a></span>
                </div>
            {% endif %}
            <div class="social-divider-container">
                <br/>
                <div class="divider"></div>
                <div class="or">{{_("or")}}</div>
                <div class="or-divider"></div>
                <br/>
            </div>
        </div>
        <div id="socialMediaLoginContainer">
            <div class="btn-social-container">
                <div>
                    <a href="{{ url_for('facebook.login', provider_name='facebook') }}"
                       class="btn btn-social btn-facebook">
                        <i class="fa fa-facebook"></i>
                       {{_("Login With Facebook")}}
                    </a>
                </div>
                <div class="divider"></div>
                <div>
                    <a href="{{ url_for('google.login', provider_name='google') }}"
                       class="btn btn-social btn-google">
                        <i class="fa fa-google"></i>
                        {{_("Login With Google")}}
                    </a>
                </div>
            </div>
            <div class="divider"></div>
            <br/><br/>
        </div>
    </div>
</div>
{% endblock %}
{% block additional_scripts -%}
{{super()}}
<script src="{{ url_for('static', filename='js/flask_user/utility.js') }}"></script>
<script src="{{ url_for('static', filename='js/flask_user/login.js') }}"></script>
{%- endblock %}
