{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field, back_btn %}
<form id="regForm" action="" method="POST" novalidate formnovalidate class="form to-validate" role="form" style="margin-left: 1em">

    <div class="row">
        <div class="col-md-push-3 col-md-5 col-xs-11">
             <div class="btn-social-container">
                <h4 class="tnth-headline reg-title">{{ app_text('registration title') }}</h4>
                <p id="createAcctTxt" class="profile-item-title">{{ app_text('registration prompt') }}</p>
                {{ form.hidden_tag() }}
                {# Username or Email #}
                {% set field = form.username if user_manager.enable_username else form.email %}
                {{ render_field(field, label="Email address", label_visible=false, tabindex=220, required="required", data_error="Email address is required." ) }}

                {% if user_manager.enable_email and user_manager.enable_username %}
                {{ render_field(form.email, label="Email", label_visible=false, tabindex=230, data_customemail="true" ) }}
                {% endif %}

                {{ render_field(form.password, label="Password", label_visible=false, data_error="Oops, the password does not meet the minimum requirements.", pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$",
      infoText="Password must have at least 8 characters with one lowercase letter, one uppercase letter and one number", tabindex=230) }}

                {% if user_manager.enable_retype_password %}
                {{ render_field(form.retype_password, label="Retype Password", label_visible=false, data_match="#password", data_match_error="Oops, the two password fields do not match.", tabindex=240) }}
                {% endif %}
                <br/>

                {{ render_submit_field(form.submit, "Register", tabindex=280) }}

                <br/><br/><br/>
                <div class="divider"></div>
                <div class="or">or</div>
                <div class="or-divider"></div>
                <br/>
            </div>
            <div id="socialMediaRegistrationContainer">
                <div class="btn-social-container">
                     <p class="profile-item-title">Register using:</p>
                    <div>
                        <a href="{{ url_for('auth.login', provider_name='facebook', next=request.args.get('next')) }}"
                           class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>
                           Log In With Facebook
                        </a>
                    </div>
                    <div class="divider"></div>
                    <div>
                        <a href="{{ url_for('auth.login', provider_name='google', next=request.args.get('next')) }}"
                           class="btn btn-social btn-google">
                            <i class="fa fa-google"></i>
                            Log In With Google
                        </a>
                    </div>
                    <div class="divider"></div>
                    <div>
                        <a class="smaller-text text-muted" href="#" data-toggle="modal" data-target="#accountModal">Learn more about using Facebook or Google to sign up for TrueNTH.</a>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <br/><br/>
        </div>
    </div>
</form>
<br/>
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">About Using Google or Facebook for TrueNTH</h3>
            </div>
            <div class="modal-body">

                {# TODO - move to CMS. example - fb_google_info|safe #}

                <p>We offer users the ability to create a unique account for TrueNTH or the option to use their Facebook or Google logins. Choosing to use Google of Facebook provide a few additional benefits to you:</p>
                <ul>
                    <li>A single login - you don't need to remember multiple user names or passwords. Assuming you have an active login with Facebook or Google, logging into TrueNTH is as simple as clicking a single button.</li>
                    <li>TrueNTH can automatically import basic profile information from those services, simplifying the amount of information you need to enter. This includes name, email address, birthdate and profile image.</li>
                    <li>Information is a one-way street - TrueNTH can pull basic profile information from Facebook and Google, but never share anything with them. And we NEVER post or share anything to your accounts.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-tnth-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block document_ready %}

$(document).ready(function(){
    // Need to properly form attribute name
    $("[data-match_error]").each(function(){
        var theMsg = $(this).attr("data-match_error");
        $(this).attr("data-match-error", theMsg);
    });

    var qs = (function(a) {
    if (a == "") return {};
    var b = {};
    for (var i = 0; i < a.length; ++i)
    {
        var p=a[i].split('=', 2);
        if (p.length == 1)
            b[p[0]] = "";
        else
            b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
    }
    return b;
    })(window.location.search.substr(1).split('&'));

    if (qs["email"]) $("#email").val(qs["email"]);

});

{% endblock %}

