{% extends 'flask_user/public_base.html' %}
{% block mainclass %}class="register-form"{% endblock %}
{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field, back_btn %}
<form id="regForm" action="" method="POST" novalidate class="form to-validate">
    <div class="row">
        <div class="col-md-push-3 col-md-6 col-xs-12">
             <div class="btn-social-container">
                <h4 class="tnth-headline reg-title">{{ app_text('registration title') }}</h4>
                <p id="createAcctTxt" class="profile-item-title">{{ app_text('registration prompt') }}:</p>
                {{ form.hidden_tag() }}
                {# Username or Email #}
                {% set field = form.username if user_manager.enable_username else form.email %}
                {% set email_label = gettext('Email address') %}
                {% set email_data_error = gettext('Email address is required.') %}
                {{ render_field(field, label=email_label, label_visible=false, tabindex=220, required="required", data_error=email_data_error, class="input-field" ) }}
                {% if user_manager.enable_email and user_manager.enable_username %}
                {% set email_field_name = gettext('Email') %}
                {{ render_field(form.email, label=email_field_name, label_visible=false, tabindex=230, data_customemail="true", class="input-field") }}
                {% endif %}
                <div class="password-wrapper">
                {% set password_label = gettext('Password') %}
                {% set password_data_error = gettext('Oops, the password does not meet the minimum requirements.') %}
                {{ render_field(form.password, label=password_label, label_visible=false, data_error=password_data_error, pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$", autocomplete="new-password", tabindex=230, required="required", class="input-field") }}
                </div>

                {% if user_manager.enable_retype_password %}
                {% set retype_password_label = gettext('Retype Password') %}
                {% set retype_data_match_error = gettext('Oops, the two password fields do not match.') %}
                {% set retype_data_error = gettext('Please re-type your password.') %}
                {{ render_field(form.retype_password, label=retype_password_label, label_visible=false, data_match="#password", data_match_error=retype_data_match_error, tabindex=240, required="required", data_error=retype_data_error, class="input-field") }}
                {% endif %}

                <div class="form___submit_container">
                    {{ render_submit_field(form.submit, _("Register"), tabindex=280) }}
                </div>
                <br/>
                <div class="divider"></div>
                <div class="or">{{_('or')}}</div>
                <div class="or-divider"></div>
                <br/>
            </div>
            <div id="socialMediaRegistrationContainer">
                <div class="btn-social-container">
                    <p class="profile-item-title">{{ _("Register using:")}}</p>
                    <div>
                        <a href="{{ url_for('facebook.login', provider_name='facebook', next=request.args.get('next')) }}"
                           class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>{{_("Log In With Facebook")}}
                        </a>
                    </div>
                    <div class="divider"></div>
                    <div>
                        <a href="{{ url_for('google.login', provider_name='google', next=request.args.get('next')) }}"
                           class="btn btn-social btn-google">
                            <i class="fa fa-google"></i>{{_("Log In With Google")}}
                        </a>
                    </div>
                    <div class="divider"></div>
                    <div>
                        <a class="smaller-text text-muted" href="#" data-toggle="modal" data-target="#accountModal">{{ _("Learn more about using Facebook or Google to sign up for TrueNTH.")}}</a>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <br/><br/>
        </div>
    </div>
</form>
<br/>
<div id="passwordPopover">
    <div class="password-popover popover" role="tooltip">
        <div class="arrow"></div>
        <h3 class="popover-title"></h3>
        <div class="popover-content">
            <b>{{_("Password must have at least:")}}</b>
            <ul id='pwdHintList'>
                <li class='text-info eight-characters'>{{_("Eight characters")}}</li>
                <li class='text-info lowercase-letter'>{{_("One lowercase letter")}}</li>
                <li class='text-info uppercase-letter'>{{_("One uppercase letter")}}</li>
                <li class='text-info one-number'>{{_("One number")}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">{{ _("About Using Google or Facebook for TrueNTH")}}</h3>
            </div>
            <div class="modal-body">

                {# TODO - move to CMS. example - fb_google_info|safe #}

                <p>{{_("We offer users the ability to create a unique account for TrueNTH or the option to use their Facebook or Google logins. Choosing to use Facebook or Google provides a few additional benefits to you:")}}</p>
                <ul>
                    <li>{{_("A single login - you don't need to remember multiple user names or passwords. Assuming you have an active login with Facebook or Google, logging into TrueNTH is as simple as clicking a single button.")}}</li>
                    <li>{{_("TrueNTH can automatically import basic profile information from those services, simplifying the amount of information you need to enter. This includes name, email address, birthdate and profile image.")}}</li>
                    <li>{{_("Information is a one-way street - TrueNTH can pull basic profile information from Facebook and Google, but never share anything with them. And we NEVER post or share anything to your accounts.")}}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-tnth-primary" data-dismiss="modal">{{_("Close")}}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block additional_scripts -%}
{{super()}}
<script src="{{ url_for('static', filename='js/flask_user/register.js') }}"></script>
{%- endblock %}


