{% extends 'flask_user/public_base.html' %}
{% from "flask_user/_macros.html" import render_field, render_submit_field, passwordPopover %}
{% block content %}
<br/>
<h1>{%trans%}Reset Password{%endtrans%}</h1>
<br/>
<div class="row">
    <div class="col-xs-8 col-sm-4 col-md-4">
        <form id="resetPasswordForm" action="" method="POST" novalidate class="form" role="form">
            {{ form.hidden_tag() }}
            {% set password_requirement_text = gettext('Password must have at least eight characters with one lowercase letter, one uppercase letter and one number') %}
            {% set password_data_error = gettext('Oops, the password does not meet the minimum requirements.') %}
            {% set password_match_error = gettext('Oops, the two password fields do not match.') %}
            <div class="item">
                {{ render_field(form.new_password, data_error=password_data_error, data_lpignore="true",
                infoText=password_requirement_text, tabindex=1, class='form-control password-popover-field', placeholder="") }}
            </div>
            {% if user_manager.enable_retype_password %}
                <div class="item">
                    {{ render_field(form.retype_password, data_match="#new_password", data_error=password_match_error, tabindex=2, data_lpignore="true", placeholder="") }}
                </div>
            {% endif %}
            <br/>
            {{ render_submit_field(form.submit, tabindex=3) }}
        </form>
    </div>
</div>
{% endblock %}
{% block additional_scripts -%}
    {{super()}}
    {{passwordPopover()}}
{%- endblock %}
