{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "entry",
            "corejs": 3,
            "targets": {
                "browsers": ["> 0.5%", "last 2 versions", "ie >= 10", "edge >= 12", "firefox >= 50", "chrome >= 50"]
            } 
        }]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime",
            {
                "regenerator": true,
                "corejs": 3
            }
        ]
    ],
     "env": {
        "test": {
          "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]],
          "plugins": ["istanbul"]
        }
    }
}

