{% extends "gil/base.html" %}
{% block title %}{{_("Truenth Exercise and Diet")}}{% endblock %}
{% block head %}{{super()}}{% endblock %}
{% block main %}
    <main class="main">
      {{super()}}
      <div class="page-intro page-intro--dark page-intro--contact" style="background-image: url({{url_for('static', filename='img/Contact-Background.jpg') }})">
        <div class="page-intro__content">
          <h1 class="page-intro__main">{{_("Exercise and Diet")}}</h1>
          <p class="page-intro__sub">{{_("Coming in 2017.")}}</p>
        </div>
      </div>
    </main>
{% endblock %}
{% block document_ready %}
  <script>
      $(document).ready(function(){
        setSelectedNavItem($(".side-nav-items__item--exercisediet"));
      });
  </script>
{% endblock %}
