{% extends "gil/lived_experience_base.html" %}
{% block main %}
    <main class="main main--story">
      {{super()}}
      <div class="page-intro module-wrap module-wrap--story">
        <div class="module">
          <div class="accent-heading">
            Objective N<em>o</em>1: LIVED EXPERIENCE
          </div>
          <div class="module__body">
            <p class="story-title">THE HIRSCH BROTHERS</p>
            <div class="sprout-video-container">
               <div class="button--video__overlay"></div>
               <button class="button--teal button--video">WATCH THE FILM</button>
               <iframe class='embed-video' src='//videos.sproutvideo.com/embed/e89bd1bd181ae4cf60/1e7fa0493e528f7c' width='630' height='354' frameborder='0' allowfullscreen></iframe>
            </div>
            <p class="story-text story-text--left">Family history plays a role in many cancer diagnoses. Twin brothers Mark and Jon Hirsch know that first hand. Following their Dad’s diagnosis, the brothers began monitoring their PSA which lead to early diagnosis and treatment for their prostate cancer.</p>
            <br/>
            <p class="story-text story-text--left">Jon and Mark Hirsch have a lot in common. For starters, they are identical twins. They are 56 years old. They are outdoorsmen, and both spend a lot of time staying active with their families. And, in 2014, they were both diagnosed with prostate cancer.</p>
            <br/>
            <p class="story-text story-text--left">Jon Hirsch discovered his cancer first. Knowing they had a family history of prostate cancer, Jon was proactive about his health. Their grandfather had prostate cancer when he passed away at 86 from various health problems. Their father was diagnosed at 70 years old with an aggressive form of prostate cancer that spread to his bones. While their father is still alive today, he has been battling cancer and trying different treatments for the past six years.</p>
            <br/>
            <p class="story-text story-text--left">Jon went in for an annual physical where he requested a PSA test even though his doctor told him it was unnecessary.  When the results came in his PSA level was up to 5.5, and Jon asked to see a urologist for a biopsy. Advocating for himself was the right move. In his words, "If I wasn’t persistent, I wouldn’t have known."</p>
            <br/>
            <p class="story-text story-text--left">With a new diagnosis of prostate cancer, Jon urged his brother Mark to get checked as well. Mark went to their father’s urologist and although his prostate wasn’t enlarged, the Hirsch family history led him to get further tests. He was eventually diagnosed with prostate cancer, with a Gleason grade of 4 + 3. His cancer was even more aggressive than Jon’s.</p>
            <br/>
            <p class="story-text story-text--left">"Our dad felt terrible. He was almost apologetic, like he passed on bad genes. I think he felt guilty. But we weren’t blaming anyone. We were all shocked and frightened," said Jon.</p>
            <br/>
            <p class="story-text story-text--left">The twins began trying to figure out the best treatment plan to tackle their disease. Sharing research and going through the experience with each other made the process a lot less difficult.</p>
            <br/>
            <p class="story-text story-text--left">"We’ve gone through prostate cancer like we’ve gone through everything in our lives – together. For men, once you’re diagnosed it’s like learning a whole new language. I only knew a little bit because our dad had it. We became extremely informed and visited with many different doctors and researched various therapies."</p>
            <br/>
            <p class="story-text story-text--left">Ultimately the brothers both decided to have a robotic prostatectomy (removal of all or part of the prostate gland). At different hospitals, they had surgery just three days apart from one another.</p>
            <br/>
            <p class="story-text story-text--left">"We both had amazing outcomes with no adverse effects or consequences," said Jon. Both brothers are now functioning almost 100% percent as well as they were before the surgery.</p>
            <br/>
            <p class="story-text story-text--left">"Our dad hasn’t had the positive outcome we’ve had. I count my blessings every day for the positive outcome of our treatment," said Mark.</p>
            <br/>
            <p class="story-text story-text--left">Men with a father, brother or son who have a history of prostate cancer are more than two times as likely to develop the disease, while those with two or more relatives are nearly four times as likely to be diagnosed. The risk is highest in men whose family members were diagnosed before age 65.</p>
            <br/>
            <p class="story-text story-text--left">With three generations of prostate cancer diagnoses, Jon and Mark are now trying to educate the rest of their family about the health risks they face. Their three brothers have all been checked and are staying vigilant. Mark’s 19-year-old son is aware that he will need to begin prostate cancer screening earlier than most men. Jon and Mark’s daughters know that if they have sons they will have a genetic predisposition to prostate cancer. </p>
            <br/>
            <p class="story-text story-text--left">"Reflecting on how fortunate I am," said Mark, "I just remember that tomorrow is not guaranteed. Men need to be aware that they will have a better propensity for tomorrow if they take care of their health today."</p>
          </div>
        </div>
        <div class="module">
            <div class="module__body">
                <figure>
                    <img src="{{ url_for('static', filename='img/LE_Hirsch_Brothers_Single.jpg') }}">
                    <figcaption>The Hirsch Brothers on their Farm in Wisconsin, 2016</figcaption>
              </figure>
            </div>
        </div>
     </div>
    </main>
{% endblock %}