{% extends "gil/base.html" %}
{% block main %}
{{ super() }}
<main id="portalMain" class="main home--container">

    <section class="page-intro page-intro--dark home--header">
        <h3 class="page-intro__main">Welcome to your TrueNTH Dashboard{% if user.first_name %}, {{user.first_name}}{% endif %}</h3>
        <br/>
        <p class="page-intro__sub">Below are the TrueNTH tools available to you.</p>
        <p class="page-intro__sub">More will become available as TrueNTH evolves.</p>
        <div class="button-callout">
            <figure id="portalScrollArrow"></figure>
        </div>
    </section>

    {# present each intervention in turn if configured for user #}
     <section class="icon-box-group__wrapper home--items-wrapper">
        <div id="homeItemsParentContainer" class="icon-box-group">
        {% for intervention in interventions %}
            {% set display = intervention.display_for_user(user) %}
            {% if display.access %}
                <div class="home--item-container">
                    {% if intervention.description and intervention.description != "" %}<h4 class="icon-box__lowhead icon_box__description">{{ intervention.description }}</h4>{% endif %}
                    <div class="home--item-text">{{ display.card_html | safe }}</div>
                    <br/>
                    <div>
                    {% if display.link_url is none %}
                        <a class="icon-box__button icon-box__button--main icon-box__button--disabled" href="javascript: loader(false);"><span class="home--disabled-button">{{_("Start")}}<figure></figure></span></a>
                    {% else %}
                        <a class="icon-box__button icon-box__button--main intervention-link" href="{{ display.link_url }}"><span>{{ display.link_label }}<figure></figure></span></a>
                    {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        {% if user.has_role('write_only') %}
            <div class="icon-box-group home--registraion-wrapper">
                <div class="home--registration-container">
                    <h4 class="icon-box__lowhead">{{ _("Complete Registration") }}</h4>
                    <p class="text-left">{{ _("Completing your registration will allow you to return here in the future to see the information you've previously entered.") }}</p>
                    <a class="icon-box__button icon-box__button--main" href="{{PORTAL}}{{ url_for('user.register', email=user.email if user.email)}}"><span>{{ _("Registration") }}<figure></figure></span></a>
                </div>
            </div>
        {% endif %}
    </section>
    <br class="clearfix"/>
    <br/>
    <footer class="footer home--footer-container">
        <div class="footer__logo-area">
          <figure class="footer__logo--truenth"></figure>
        </div>
        <ul class="nav-list nav-list--lower">
          <li class="nav-list__item"><a href="{{PORTAL}}/about">About</a></li>
          <li class="nav-list__item"><a href="{{PORTAL}}/what-is-prostate-cancer">Prostate Cancer Facts</a></li>
        </ul>
        <ul class="nav-list nav-list--lower">
          <li class="nav-list__item"><a href="{{PORTAL}}/terms-and-conditions">Terms and Conditions</a></li>
          <li class="nav-list__item"><a href="{{PORTAL}}/legal">Privacy</a></li>
          <li class="nav-list__item"><a href="{{PORTAL}}/contact">Contact</a></li>
        </ul>
        <div class="footer__logo-area"><a href="http://www.movember.com" target="_blank">
            <figure class="footer__logo--movember"></figure></a></div>
      </footer>
</main>
{% endblock %}
{% block footer %}
<!--placeholder-->
{% endblock %}
{% block document_ready %}
    <script>
        $(document).ready(function() {
            $("body").attr("class", "page-home");
            $("aside").hide();
            $(".side-nav-items__item--home").hide();
            var hc = $(".home--item-container");
            if (hc.length > 0) {
                $("#portalScrollArrow").on("click", function() {
                    var t = $("section.home--items-wrapper").offset().top;
                    if (parseInt(t) >= 90) {
                        $('html, body').animate({
                            scrollTop: t - 90
                        }, 1000);
                    };
                });
            } else $("#portalScrollArrow").hide();
            if (hc.length == 1) {
                hc.removeClass("home--item-container").addClass("home--item-container-full");
            };
        });
    </script>
{% endblock %}


