{% extends "gil/base.html" %}
{% block main %}
    <main class="main">
      {{ super() }}
      <div class="page-intro page-intro--theme-brown-light">
        <div class="page-intro__content">
          <div class="simple-page-content">
            <div id="privacyContentContainer">{{ content|safe }}</div>
          </div>
        </div>
      </div>
    </main>
 {% endblock %}
 {% block document_ready %}
   {% if editorUrl %}
    <script>appendLREditContainer($("#privacyContentContainer"), "{{editorUrl}}", {% if user and user.has_role(ROLE.CONTENT_MANAGER) %}true{% else %}false{%endif%});</script>
   {% endif %}
 {% endblock %}