{% extends "gil/base.html" %}
{% block main %}
    <main class="main">
      {{ super()}}
      <div class="page-intro page-intro--theme-brown-light">
        <div class="page-intro__content">
          <div class="simple-page-content">
            <h1 class="page-intro__main">Terms &amp; Conditions</h1>
            <p>Date of last revision: 1 September 2016</p>
            <p>This section sets out the terms that apply to your use of the Movember website and the Movember mobile apps (together, Services).  Your continued use of our Services indicates to Movember that you agree with these General Terms, as updated from time to time.  We may change these General Terms from time to time, so please check back regularly.</p>
            <p>Content created by Movember - Movember owns or license from third parties all of the trademarks, copyright and other intellectual property that exists in the Services.  You must not copy or reproduce in any form any of the graphics, logos or other material from our Services unless you have our specific permission.  For the avoidance of doubt, you have our permission to download material from the Downloads page on our website, subject to the restrictions noted on that page.</p>
            <p>Content posted by you - Any content that you post to our Services (eg photos, videos and comments) is your responsibility, and you must make sure that you have the necessary rights to post that content (eg by obtaining permission of copyright owners if necessary or by obtaining permission to use personal information of third parties).  By posting any content, you also give Movember a non-exclusive, transferable, royalty-free worldwide right to use and reproduce that content.</p>
            <p>Third party copyright infringement – Movember follows the provisions of the Digital Millennium Copyright Act and other relevant copyright legislation as applicable.  If you believe that someone else is using your copyright or trademark without your permission, please contact us at info.us@movember.com to report the infringement.</p>
            <p>
              Respect the Mo Community – Stay respectful by adhering to the following:
              <br/> a. You must not collect user’s content using automated means
              <br/> b. You must not interfere with our website, upload viruses or other malicious code
              <br/> c. You must not bully, intimidate or harass anyone
              <br/> d. You must not post any content that infringes or violates someone else’s rights, or otherwise violates the law, or that is discriminatory, hateful, pornographic, threatening or violent
            </p>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
