{% extends "gil/base.html" %}
{% block title %}{{_("Truenth Terms and Conditions")}}{% endblock %}
{% block head %}{{super()}}{% endblock %}
{% block main %}
    <main class="main">
      {{ super()}}
      <div class="page-intro page-intro--theme-brown-light">
        <div class="page-intro__content">
          <div id="termsConditionsContainer" class="simple-page-content">
            <div>{{ content|safe if content}}</div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
 {% block document_ready %}
  {% if editorUrl %}
    <script>appendLREditContainer($("#termsConditionsContainer"), "{{editorUrl}}", {% if user and user.has_role(ROLE.CONTENT_MANAGER) %}true{% else %}false{%endif%});</script>
  {% endif %}
 {% endblock %}
