<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>True NTH USA Portal Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topnav.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>

    <img src="{{ url_for('static', filename='img/TrueNthHoldBackground.jpg') }}" class="page-background hidden-xs" />
    <div id="mainNav" class="nav-import">
       <!-- Top Nav begins here --> 
       <!-- Main Nav for most screen sizes -->
        <div class="container hidden-xs main-nav">
            <div class="pull-left nav-logos">
                <a href="{{ PORTAL }}">
                    <img src="{{ url_for('static', filename='img/logo_truenth.png') }}" />
                </a>
                <a href="http://us.movember.com">
                    <img src="{{ url_for('static', filename='img/logo_movember.png') }}" /></a>
            </div>
            
            <div class="pull-right nav-links">
                <a href="#" class="btn btn-default">About</a>
                <a href="#" class="btn btn-default">Help</a>
                <form class="navbar-form" role="search">
                    <div class="form-group">
                        <div class="hide-initial" id="search-box">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default show-search"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

        <!-- Responsive navbar for xs width -->
        <nav class="navbar navbar-static-top visible-xs xs-nav">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle menu</span>
                  <i class="fa fa-bars fa-lg"></i> &nbsp; Menu
                </button>
                <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo_truenth.png') }}" /></a>
                <a class="navbar-brand logo-movember" href="#"><img src="{{ url_for('static', filename='img/logo_movember.png') }}" /></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Help</a></li>
                </ul>
                <form class="navbar-form" role="search">
                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
              </div>
            </div>
        </nav>

        <!-- Top Nav ends here -->
    </div>
      

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

                <div class="well lead-well">
                    <p>TrueNTH is a revolutionary new program, funded by the Movember Foundation, that will sigificantly improve the physical and mental health of men diagnosed and living with prostate cancer.</p>

                    <p>TrueNTH online give you the tools to feel knowledgeable and confident about managing your condition.</p>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="lead">Login to your account</p>
                            <div>
                                <a href="login" class="btn btn-primary btn-tnth-primary"><i class="fa fa-facebook-official"></i>&nbsp; Sign In with Facebook</a>
                                <div style="margin: 1em 0 1em 2em">or</div>
                                <a href="portal.html" class="btn btn-primary btn-tnth-primary"><i class="fa fa-user"></i>&nbsp; Sign In with Movember</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <hr class="visible-xs" />
                            <p class="lead">Register for an account</p>
                            <div>
                                <div class="btn btn-default"><i class="fa fa-pencil"></i>&nbsp; Register Now</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/topnav.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
