<!DOCTYPE html>
<html class="no-js" lang="en">
   <head>
    {%- block head -%}
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{%- block title -%}{{_("TrueNTH")}}{%- endblock -%}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <noscript><meta http-equiv="refresh" content="0; url={{url_for('portal.no_script')}}" /></noscript>
      <link rel="apple-touch-icon" href="apple-touch-icon.png">
      <link rel="stylesheet" href="{{ url_for('.static', filename='../../../gil/static/css/gil.css') }}">
      <!--[if lte IE 6]>
      <style>#top, #bottom, #left, #right { display: none; }</style>
      <![endif]-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon-base.ico') }}" type="image/x-icon">
      <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/apple-touch-icon-57x57.png') }}">
      <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='img/apple-touch-icon-60x60.png') }}">
      <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='img/apple-touch-icon-72x72.png') }}">
      <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='img/apple-touch-icon-76x76.png') }}">
      <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='img/apple-touch-icon-114x114.png') }}">
      <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='img/apple-touch-icon-120x120.png') }}">
      <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='img/apple-touch-icon-144x144.png') }}">
      <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='img/apple-touch-icon-152x152.png') }}">
      <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='img/apple-touch-icon-180x180.png') }}">
      <link rel="icon" type="image/png" href="{{url_for('static', filename='img/favicon-16x16.png') }}" sizes="16x16">
      <link rel="icon" type="image/png" href="{{url_for('static', filename='img/favicon-32x32.png') }}" sizes="32x32">
      <link rel="icon" type="image/png" href="{{url_for('static', filename='img/favicon-96x96.png') }}" sizes="96x96">
      <link rel="icon" type="image/png" href="{{url_for('static', filename='img/android-chrome-192x192.png') }}" sizes="192x192">
      <meta name="msapplication-square70x70logo" content="{{url_for('static', filename='img/smalltile.png') }}">
      <meta name="msapplication-square150x150logo" content="{{url_for('static', filename='img/mediumtile.png') }}">
      <meta name="msapplication-wide310x150logo" content="{{url_for('static', filename='img/widetile.png') }}">
      <meta name="msapplication-square310x310logo" content="{{url_for('static', filename='img/largetile.png') }}">
    {%- endblock -%}
  </head>
  <body>
  <div id="loadingIndicator" class="loading-indicator">
        {{_("Loading")}}... &nbsp;
  </div>
  <section id="mainHolder">
    <input type="hidden" id="currentUserId" value="{{user.id if user}}" />
    {% if timed_out %}
      <input type="hidden" id="sessionTimedOut" value="true" />
    {% endif %}
    <input type="hidden" id="portalURI" value="{{PORTAL}}" />
    <input type="hidden" id="csrfToken" value="{{csrf_token()}}" />
    <input type="hidden" id="env" value="{{config.SYSTEM_TYPE if config.SYSTEM_TYPE}}" />
    <input type="hidden" id="sessionLifeTime" value="{{config.PERMANENT_SESSION_LIFETIME if config.PERMANENT_SESSION_LIFETIME}}" />
  {% block nav %}
    <!--if lt IE 8
    p.browserupgrade
      | You are using an outdated browser. Please a(href='http://browsehappy.com/') upgrade your browser to improve your experience.
    -->
    {% if not user %}
    <div class="page-border page-border__top"></div>
    {% endif %}
    <div class="page-border page-border__bottom"></div>
    <div class="page-border page-border__left"></div>
    <div class="page-border page-border__right"></div>
    <figure class="nav-overlay"></figure>
    <nav class="side-nav">
      <figure class="side-nav__close js-close-nav"></figure>
      <div class="side-nav__inner">
        <h3 class="side-nav__heading">{{_("Navigation")}}</h3>
        <ul class="side-nav-items">
          <li class="side-nav-items__item side-nav-items__item--home"><a href="/">{{_("Home")}}</a></li>
          {% if user and user.has_role(ROLE.STAFF.value, ROLE.STAFF_ADMIN.value, ROLE.INTERVENTION_STAFF.value) %}
              <li class="side-nav-items__item"><a href="{{url_for('patients.patients_root')}}">{{_("Patients")}}</a></li>
          {% endif %}
          {% if user %}
              <li class="side-nav-items__item"><a href="{{url_for('portal.profile')}}">{{_("My TrueNTH Profile")}}</a></li>
          {% endif %}
          <li class="side-nav-items__item side-nav-items__item--about"><a href="{{url_for('gil.about')}}">{{_("About TrueNTH")}}</a></li>
          {% if user and user.has_role(ROLE.APPLICATION_DEVELOPER.value) %}
              <li class="side-nav-items__item side-nav-items__item--clients"><a href="{{url_for('client.clients_list')}}">{{_("Client Applications")}}</a></li>
          {% endif %}
          {% if user and user.has_role(ROLE.RESEARCHER.value) %}
              <li class="side-nav-items__item side-nav-items__item--clients"><a href="{{url_for('portal.research_dashboard')}}">{{_("Research Data")}}</a></li>
          {% endif %}
          {% if user and user.has_role(ROLE.STAFF_ADMIN.value) %}
              <li class="side-nav-items__item side-nav-items__item--clients"><a href="{{url_for('staff.staff_index')}}">{{_("Staff List")}}</a></li>
          {% endif %}
          {% if user and user.has_role(ROLE.ADMIN.value) %}
              <li class="side-nav-items__item side-nav-items__item--admin"><a href="{{url_for('portal.admin')}}">{{_("User Administration")}}</a></li>
              <li class="side-nav-items__item side-nav-items__item--admin"><a href="{{url_for('scheduled_job_api.jobs_list')}}">{{_("Scheduled Jobs")}}</a></li>
              <li class="side-nav-items__item side-nav-items__item--settings"><a href="{{url_for('portal.settings')}}">{{_("Settings")}}</a></li>
          {% endif %}
          <li class="side-nav-items__item side-nav-items__item--accentuated side-nav-items__item--decisionsupport"><a href="{{url_for('gil.decision_support')}}">
              {{_("Decision Support")}}</a></li>
          <li class="side-nav-items__item  side-nav-items__item--accentuated side-nav-items__item--symptomtracker"><a href="{{url_for('gil.symptom_tracker')}}">
             {{_("Symptom Tracker")}}</a></li>
          <li class="side-nav-items__item side-nav-items__item--accentuated side-nav-items__item--sexualwellbeing"><a href="{{url_for('gil.sexual_wellbeing')}}">{{_("Sexual Wellbeing")}}</a></li>
          <li class="side-nav-items__item side-nav-items__item--accentuated side-nav-items__item--exercisediet"><a href="{{url_for('exercise_diet.portal')}}">{{_("Exercise and Diet")}}</a></li>
          <li class="side-nav-items__item side-nav-items__item--accentuated side-nav-items__item--livedexperience"><a href="{{url_for('gil.lived_experience')}}">{{_("Lived Experience")}}</a></li>
          <li class="side-nav-items__item side-nav-items__item--accentuated side-nav-items__item--psatracker"><a href="{{url_for('portal.psa_tracker')}}" class="psa-tracker-link" data-link-identifier="psa-tracker">{{_("PSA Tracker")}}</a></li>
          <li class="side-nav-items__item side-nav-items__item--whatisprostatecancer"><a href="{{url_for('gil.prostate_cancer_facts')}}">{{_("Prostate Cancer Facts")}}</a></li>
          <li class="side-nav-items__item side-nav-items__item--contact"><a href="{{url_for('gil.contact')}}">{{_("Contact")}}</a></li>
          {% if not user %}
            <li class="side-nav-items__button"><a href="#" data-toggle="modal" data-target="#modal-register">{{_("Join Us")}}</a></li>
            <li class="side-nav-items__button"><a href="#" data-toggle="modal" data-target="#modal-login">{{_("Log In")}}</a></li>
          {% else %}
            <li class="side-nav-items__item side-nav-items__item--has-icon side-nav-items__item--accentuated side-nav-items__item--logout"><a href="{{url_for('auth.logout')}}">{{_("Log Out")}}</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  {% endblock %} <!-- end block nav-->
  {% block upperbanner %}
      {% if not user %}
      <div id="upperBanner" class="upper-banner"><a class="upper-banner__text" data-toggle="modal" data-target="#modal-register">{{_("Click here to join us")}}
          <figure></figure></a><a class="upper-banner__close js-close-upper-banner">
          <figure></figure></a></div>
      {% endif %}
  {% endblock %}
  {% block main %}
      {% block header %}
        <header class="header {%if user%}no-banner{%endif%}">
          <div class="header__menu">
            <a class="menu button button--small button--white js-nav-menu-toggle">
                <figure></figure><span>{{_("Menu")}}</span>
            </a>
          </div>
          <a class="logo" href="/"></a>
          {% if not user %}
            <div class="header__meta"><a href="#" class="menu button button--small button--white" data-toggle="modal" data-target="#modal-login">{{_("Log In")}}</a><a href="#" class="menu button button--small button--white" data-toggle="modal" data-target="#modal-register">{{_("Join Us")}}</a></div>
          {% endif %}
        </header>
      {% endblock %}
  {% endblock %}
  {% block footnote %}
    <aside>
     <div class="module-wrap module-wrap--theme-gray">
        <div class="module">
          <div class="accent-heading">{% trans %}Objective N<em>o</em>1: TrueNTH Community{% endtrans %}</div>
          <h3 class="module__head">{{_("Everyone has a part to play in improving the prostate cancer journey.")}}</h3>
          <p class="module__body">{{_("The more people that join us, the better the tools will become for you and future generations.")}}</p>
          {% if not user %}
          <div class="button-callout"><a href="#" class="button button--large button--teal" data-toggle="modal" data-target="#modal-register">{{_("Join Us")}}</a></div>
          {% endif %}
        </div>
      </div>
    </aside>
  {% endblock %}
  {% block footer %}<footer></footer>{% endblock %}
  {% block version %}
    {% if config.metadata.version %}
      {% if config.metadata.git_hash %}
        <div id="repoVersion" class="pull-right text-muted">{{_("TrueNTH Version")}}: <a target="_blank" href="https://github.com/uwcirg/truenth-portal/commit/{{ config.metadata.git_hash }}" >{{ config.metadata.version }}</a></div>
      {% else %}
        <div id="repoVersion" class="pull-right text-muted">{{_("TrueNTH Version")}}: {{ config.metadata.version }}</div>
      {% endif %}
    {% endif %}
  {% endblock %}
  {% block portal_wrapper %}
    <div id="portalWrapperNav"><!-- content contains session monitor and piwik information --></div>
  {% endblock %}
  </section>
{% block hidden %}<div class="visuallyhidden"><img src="{{url_for('gil.static', filename='img/GIL.svgz')}}"></div>{% endblock %}
{% block modal %}
    <div class="modal fade" id="modal-register">
      <div class="modal-dialog" role="document">
        <div class="modal-content box-modal">
          <div class="box-modal__inner"><a class="box-modal__close" data-dismiss="modal" aria-label="Close"></a>
            <h3 class="box-modal__title">{{_("Join Us")}}!</h3>
            <p class="box-modal__copy">{{_("It’s going to take a group effort to improve the prostate cancer experience for future generations.")}}</p>
            <br/>
            <p class="box-modal__copy">{{_("Do you have an access code?")}}</p>
            <form action="/go" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input type="text" id="shortcut_alias" name="shortcut_alias" placeholder="{{_('Enter Access Code')}}" required autocomplete="off"/>
              <div id="access_code_info" class="box-modal__copy text-left tnth-hide"></div>
              <div id="access_code_error" class="tnth-hide"></div>
              <div class="access-code-container">
                <a id="accessCodeLink" class="button button-large button--teal">{{_("Next")}}</a>
              </div>
            </form>
            <br/>
            <div class="or">{{_("otherwise")}}</div>
            <div class="box-modal-or__divider"></div>
            <br/>
            <a id="btnCreateAccount" href="{{url_for('user.register')}}" class="button button-large button--teal">{{_("Create Account")}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-login">
      <div class="modal-dialog" role="document">
        <div class="modal-content box-modal box-modal--login">
          <div class="box-modal__inner"><a class="box-modal__close" data-dismiss="modal" aria-label="Close"></a>
            <h3 class="box-modal__title">{{_("Login")}}</h3>
             <form action="{{url_for('user.login')}}" method="POST" class="form">
              <input type="hidden" name="next" value="/next-after-login" />
              <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}"/>
              <input name="email" type="text" placeholder="{{_('Email Address')}}" required>
              <input name="password" type="password" placeholder="{{_('Password')}}" required>
              <input id="btnLogin" class="button button-large button--login" type="submit" value="Log In">
              <br/><br/>
              <a href="{{url_for('user.forgot_password')}}"><span class="box-modal__sub">{{_("Having trouble logging in?")}}</span></a>
            </form>
            <div class="or">{{_("or")}}</div>
            <div class="box-modal-or__divider"></div>
            <br/>
            <div>
            <a href="{{url_for('facebook.login', provider_name='facebook')}}" class="button button--facebook button-large button--teal button--has-svg">
              <svg width="15" height="31">
                <use xlink:href="{{url_for('gil.static', filename='img/GIL.svg')}}#Facebook-Icon"></use>
              </svg>{{_("Log in with Facebook")}}</a><a href="{{url_for('google.login',provider_name='google')}}" class="button button--google button-large button--teal button--has-svg">
              <svg width="20" height="31">
                <use xlink:href="{{url_for('gil.static', filename='img/GIL.svg')}}#Google-Icon"></use>
              </svg>{{_("Log in with Google")}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-login-register">
      <div class="modal-dialog" role="document">
        <div class="modal-content box-modal">
          <div class="box-modal__inner"><a class="box-modal__close" data-dismiss="modal" aria-label="Close"></a>
            <h3 class="box-modal__title">{{_("Login")}}</h3>
            <a href="#" class="button button-large button--teal button--login--register">{{_("Login")}}</a>
            <br/><br/>
            <div class="or">{{_("or")}}</div>
            <div class="box-modal-or__divider"></div>
            <br/>
            <h3 class="box-modal__title">{{_("Join Us")}}!</h3>
            <p class="box-modal__copy">{{_("It’s going to take a group effort to improve the prostate cancer experience for future generations.")}}</p><a href="{{url_for('user.register')}}" class="button button-large button--teal button--register">{{_("Create Account")}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-org">
      <div class="modal-dialog" role="document">
        <div class="modal-content box-modal">
          <div class="box-modal__inner"><a class="box-modal__close" data-dismiss="modal" aria-label="Close"></a>
            <br/>
            <h4 class="box-modal__copy">{{_("What is your main clinic for prostate cancer care?")}}</h4>
            <div class="box-modal__divider"></div>
            <br/>
            <div class="form-group profile-section" id="userOrgs">
                <div class="indent">
                <div id="fillOrgs"></div>
                <input type="hidden" id="stock_consent_url" value="{{ url_for('portal.stock_consent', org_name='placeholder', _external=True)}}">
                <input type="hidden" name="__firstname" value="{{user.first_name if user and user.first_name}}"/>
                <input type="hidden" name="__lastname"  value="{{user.last_name if user and user.last_name}}" />
                <input type="hidden" name="__birthdate" value="{{user.birthdate if user and user.birthdate}}" />
                <div class="checkbox noOrg-container"><label><input id="noOrgs" class="clinic" type="radio" name="organization" value="0"><span>{{ _("None of the Above") }}</span></label></div>
                </div>
                <button id="submit-orgs" class="button button--teal" type="button">{{_("Submit")}}</button>
                <br/>
                <div id="modal-org-error" class="box-modal__copy text-danger"></div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div id="timeout-modal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content box-modal">
          <div class="box-modal__inner"><a class="box-modal__close" data-dismiss="modal" aria-label="{{_('Close')}}"></a>
            <h4 class="box-modal__title">{{_("Session Timed Out")}}</h4><p class="box-modal__copy">{{_("You have been logged out due to inactivity.  Please log in again to continue.")}}</p>
          </div>
           <div class="box-modal__footer">
              <button class="button button--teal" data-dismiss="modal">{{_("OK")}}</button>
          </div>
        </div>
      </div>
    </div>
    {% block init_cookie_check %}
      {%- from "require_cookies.html" import checkCookieMonster -%}
      {{checkCookieMonster()}}
    {% endblock %}
{% endblock %}
{# One-time system messages called Flash messages #}
{% block flash_messages %}
  {%- with messages = get_flashed_messages(with_categories=true) -%}
      {% if messages %}
          {# Hack to prevent modal if it's only successful login #}
          {% set showMessages = true %}
          {% if messages|first|last == "You have signed in successfully." %}
              {% set showMessages = false %}
          {% endif %}
          {% if showMessages %}
              {# Modal dialog for alerts #}
              <div class="modal fade" tabindex="-1" role="dialog" id="alertModal">
                <div class="modal-dialog">
                  <div class="modal-content box-modal">
                    <div class="box-modal__inner"><a class="box-modal__close" data-dismiss="modal" aria-label="{{_('Close')}}"></a>
                      <h4 class="box-modal__title">{{_("System Message")}}</h4>
                      {% for category, message in messages -%}
                          {% if category=='error' %}
                              {% set category='danger' %}
                          {% endif %}
                          <p class="box-modal__copy text-{{category}}">{{ message|safe }}</p>
                      {%- endfor %}
                      <input type="hidden" id="showFlashMessageModal" value="true" />
                    </div>
                    <div class="box-modal__footer">
                        <button class="button button--teal" data-dismiss="modal">{{_("OK")}}</button>
                    </div>
                  </div>
                </div>
              </div>
          {% endif %}
      {% endif %}
  {%- endwith %}
{% endblock %}
{% block consent %}
  {% if consent_agreements %}
      <div id="consentContainer">
          {% for org in consent_agreements %}
            <div id="{{org}}_consentItem" class="consent">
              <input type="hidden" id="{{org}}_agreement_url" value="{{consent_agreements[org].url}}" />
              <input id="{{org}}_consent" class="consent-checkbox" aria-label="{{_('Consent checkbox')}}" type="checkbox"/>
            </div>
          {% endfor %}
      </div>
    {% endif %}
{% endblock %}
{% block init_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next-xhr-backend/1.4.3/i18nextXHRBackend.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/8.4.3/i18next.min.js"></script>
    <script src="{{url_for('static', filename='js/vendor/gil_vendor.js') }}"></script>
    <script src="{{url_for('static', filename='js/dist/gil.bundle.js') }}" defer></script>
{% endblock %} <!-- end block footer -->
{% block document_ready %}
{% endblock %}
  </body>
</html>
