{% extends "gil/base.html" %}
{% block title %}{{super()}} Home{% endblock %}
{% block head %} {{super()}} <script src="{{url_for('static', filename='js/vendor/kiosk_functions.js')}}"></script>{% endblock %}
{% block main %}
    <div id="systemMaintenanceContainer" class="sys-maintenance"></div>
    <main class="main" data-section="home">
      {% if init_login_modal %}<input type="hidden" id="initLoginModal" value="true" />{% endif %}
      {{ super() }}
      <div class="home-intro">
        <div class="intro">
          <img class="intro__img intro__img--desktop" src="{{url_for('.static', filename='img/Home-Truck-Top-001.jpg') }}" alt="{{_('Truenth Home')}}"><img class="intro__img intro__img--mobile" src="{{url_for('.static', filename='img/Home-Truck-Top-Mobile.jpg') }}" alt="{{_('Truenth Home')}}">
          <div class="intro__content">
            <p class="intro__sub">{{_("TrueNTH is a collective approach to improving your quality of life throughout your prostate cancer journey.")}}</p><a class="intro__down js-scroll-down" data-target=".home-intro .intro">
              <figure></figure></a>
          </div>
        </div>
        <div class="module">
          <div class="accent-heading">{% trans %}Objective N<em>o</em>1: TrueNTH Community {% endtrans %}</div>
          <p class="module__copy">{{_("We are here to help you navigate your prostate cancer journey.")}}</p>
          <div class="more-arrow"><a class="more-arrow__link more-arrow--teal" href="{{url_for('gil.about')}}"><span>{{_("More About TrueNTH")}} <figure></figure></span></a></div>
          <div class="photo-grid-container">
            <div class="photo-grid">
              <figure class="photo-grid__item"><strong>{{_("Jim Williams")}}</strong><img class="photo-grid__img" src="{{url_for('.static', filename='img/Home-People-Jim.jpg') }}" alt="{{_('Jim Williams')}}"><img class="photo-grid__img--hovered" src="{{url_for('.static', filename='img/Home-People-Jim-Over.jpg') }}" alt="{{_('Jim Williams')}}"></figure>
              <figure class="photo-grid__item"><strong>{{_("Jon and Mark Hirsch")}}</strong><img class="photo-grid__img" src="{{url_for('.static', filename='img/Home-People-Hirsch.jpg') }}" alt="{{_('Jon and Mark Hirsch')}}"><img class="photo-grid__img--hovered" src="{{url_for('.static', filename='img/Home-People-Hirsch-Over.jpg') }}" alt="{{_('Jon and Mark Hirsch')}}"></figure>
              <figure class="photo-grid__item"><strong>{{_("Dr. Drew Peterson")}}<span>{{_("UROLOGIST")}}</span></strong><img class="photo-grid__img" src="{{url_for('.static', filename='img/Home-People-Drew.jpg') }}" alt="{{_('Drew Peterson')}}"><img class="photo-grid__img--hovered" src="{{url_for('.static', filename='img/Home-People-Drew-Over.jpg') }}" alt="{{_('Drew Peterson')}}"></figure>
              <figure class="photo-grid__item"><strong>{{_("Alonzo McCann")}}</strong><img class="photo-grid__img" src="{{url_for('.static', filename='img/Home-People-Alonzo.jpg') }}" alt="{{_('Alonzo McCann')}}"><img class="photo-grid__img--hovered" width="212" src="{{url_for('.static', filename='img/Home-People-Alonzo-Over.jpg') }}" alt="{{_('Alonzo McCann')}}"></figure>
              <figure class="photo-grid__item"><strong>{{_("Dr. Elisabeth Heath")}}<span>{{_("ONCOLOGIST")}}</span></strong><img class="photo-grid__img" src="{{url_for('.static', filename='img/Home-People-Elisabeth.jpg') }}" alt="{{_('Elisabeth Heath')}}"><img class="photo-grid__img--hovered" src="{{url_for('.static', filename='img/Home-People-Elisabeth-Over.jpg') }}" alt="{{_('Elisabeth Heath')}}"></figure>
              <figure class="photo-grid__item"><strong>{{_("Andrew Maguire")}}<span>{{_("FILM MAKER")}}</span></strong><img class="photo-grid__img" src="{{url_for('.static', filename='img/Home-People-Andrew.jpg') }}" alt="{{_('Andrew Maguire')}}"><img class="photo-grid__img--hovered" src="{{url_for('.static', filename='img/Home-People-Andrew-Over.jpg') }}" alt="{{_('Andrew Maguire')}}"></figure>
              <figure class="photo-grid__item"><strong>{{_("Lois Williams")}}</strong><img class="photo-grid__img" src="{{url_for('.static', filename='img/Home-People-Lois.jpg') }}" alt="{{_('Lois Williams')}}"><img class="photo-grid__img--hovered" src="{{url_for('.static', filename='img/Home-People-Lois-Over.jpg') }}" alt="{{_('Lois Williams')}}"></figure>
              <figure class="photo-grid__item"><strong>{{_("David Perez")}}</strong><img class="photo-grid__img" src="{{url_for('.static', filename='img/Home-People-David.jpg') }}" alt="{{_('David Perez')}}"><img class="photo-grid__img--hovered" src="{{url_for('.static', filename='img/Home-People-David-Over.jpg') }}" alt="{{_('David Perez')}}"></figure>
            </div>
          </div>
          <div class="button-callout"><a href="#" class="button button--large button--teal" data-toggle="modal" data-target="#modal-register">{{_("Join Us")}}</a></div>
        </div>
      </div>
      <div class="module-wrap module-wrap--watch js-video-toggle" data-iframe-src="//videos.sproutvideo.com/embed/e89bd1bf1110e0ca60/4dbbcb0c46b54183?type=hd&amp;playerColor=2f3437&amp;autoPlay=true"><img src="{{url_for('.static', filename='img/Home-Video-Export.jpg') }}" alt="{{_('Learn more')}}">
        <div class="module-wrap--inner">
          <div class="button-callout"><a class="button button--large button--teal" href="#">{{_("Watch")}}</a></div>
        </div>
      </div>
      <div class="module-wrap module-wrap--theme-teal">
        <div class="module">
          <div class="accent-heading">{% trans %}Objective N<em>o</em>3: Useful Information{% endtrans %}</div>
          <h3 class="module__head">{{_("What is Prostate Cancer?")}}</h3>
          <p class="module__body">{{_("Prostate cancer is the second most common cancer in men.")}}</p>
          <p class="module__body">{{_("1 in 9 men will be diagnosed with prostate cancer in their lifetime.")}}</p>
          <p class="module__body">{{_("In %(year)d, over %(population)s men will be diagnosed with prostate cancer in the USA.", year=2019, population='174,500')}}</p>
          <div class="more-arrow"><a class="more-arrow__linka" href="{{url_for('gil.prostate_cancer_facts')}}"><span>{{_("Prostate Cancer Facts")}} <figure></figure></span></a></div>
        </div>
      </div>
      <div class="module-wrap module-wrap--confidence">
        <div class="module">
          <div class="accent-heading">{% trans %}Objective N<em>o</em>6: Custom Tools – Decision Support{% endtrans %}</div>
          <h3 class="module__head">{{_("Men have different stages of prostate cancer and have different treatment options available to them.")}}</h3>
          <div class="mini-boxes">
            <div class="mini-boxes__item">
              <div class="mini-box">
                <h5 class="mini-box__head">{{_("Preferences")}}</h5>
                <p class="mini-box__copy">{{_("Understanding what is important to you")}}</p>
              </div>
            </div>
            <div class="mini-boxes__item">
              <div class="mini-box">
                <h5 class="mini-box__head">{{_("Education")}}</h5>
                <p class="mini-box__copy">{{_("Learning about the factors that impact your decision")}}</p>
              </div>
            </div>
            <div class="mini-boxes__item">
              <div class="mini-box">
                <h5 class="mini-box__head">{{_("Reports")}}</h5>
                <p class="mini-box__copy">{{_("Results to use during the visit with your doctor")}}</p>
              </div>
            </div>
          </div>
          <div class="next-down">
            <p class="next-down__copy">{{_("We have tools to help you determine which treatment option is best for you.")}}</p>
          </div>
          <div class="icon-box-wrap">
            <div class="icon-box-wrap__main icon-box icon-box--theme-compass">
              <div class="icon-box-wrap__main__left"><strong class="icon-box__subhead">{% trans %}Tool N<em>o</em>1: Post Diagnosis{% endtrans %}</strong>
                <h4 class="icon-box__head">{{_("Decision Support")}}</h4><span class="icon-box__lowhead">{{_("Questionnaire / Education / Report")}}</span>
                <svg class="icon-box__icon" width="92" height="92">
                  <use xlink:href="#DS-Compass"></use>
                </svg>
              </div>
              <div class="icon-box-wrap__main__right"><a class="icon-box__button icon-box__button--main icon-box__button--more-info" href="{{url_for('gil.decision_support')}}"><span>{{_("More Info")}}</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="module-wrap module-wrap--symptom module-wrap--theme-brown">
        <div class="module">
          <div class="accent-heading">{% trans %}Objective N<em>o</em>6: Custom Tools – Symptom Tracker{% endtrans %}</div>
          <h3 class="module__head">{{_("Managing symptoms and side effects is an important part of the prostate cancer journey.")}}</h3>
          <div class="mini-boxes mini-boxes--theme-brown">
            <div class="mini-boxes__item">
              <div class="mini-box">
                <h5 class="mini-box__head">{{_("Urinary Incontinence")}}</h5>
                <p class="mini-box__copy">{{_("Not being able to control your urine")}}</p>
              </div>
            </div>
            <div class="mini-boxes__item">
              <div class="mini-box">
                <h5 class="mini-box__head">{{_("Sexual Health")}}</h5>
                <p class="mini-box__copy">{{_("Physical and emotional changes to your sex life and erectile function")}}</p>
              </div>
            </div>
            <div class="mini-boxes__item">
              <div class="mini-box">
                <h5 class="mini-box__head">{{_("Fatigue")}}</h5>
                <p class="mini-box__copy">{{_("Feeling tired due to treatment for prostate cancer")}}</p>
              </div>
            </div>
          </div>
          <div class="next-down">
            <p class="next-down__copy">{{_("We’ve created a tool to track your experience and symptoms over time and provide personal guidance.")}}</p>
          </div>
          <div class="icon-box-wrap">
            <div class="icon-box-wrap__main icon-box icon-box--theme-graph icon-box--theme-brown icon-box--theme-two">
              <div class="icon-box-wrap__main__left"><strong class="icon-box__subhead">{% trans %} N<em>o</em>2: Monitoring {% endtrans %}</strong>
                <h4 class="icon-box__head">{{_("Symptom Tracker")}}</h4><span class="icon-box__lowhead">{{_("Questionnaire / Reports / Tips")}}</span>
                <svg class="icon-box__icon" width="92" height="92">
                  <use xlink:href="#ST-Graph"></use>
                </svg>
              </div>
              <div class="icon-box-wrap__main__right"><a class="icon-box__button icon-box__button--main icon-box__button--more-info" href="{{url_for('gil.symptom_tracker')}}"><span>{{_("More Info")}}</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="modal fade" id="naModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content box-modal">
          <div class="box-modal__inner">
            <p class="box-modal__copy text-left">{{_("This site is no longer available. You can now find information, tools and support to help you navigate your prostate cancer journey at our new website <a href='http://truenorth.movember.com.'>http://truenorth.movember.com</a>.")}}</p>
            <p class="box-modal__copy text-left">{{_("Registered users, please login to your account from <a href='/user/sign-in'>here</a> (available until April 30, 2021).")}}</p>
            <p class="box-modal__copy text-left">{{_("Please feel free to reach out to us at <a href='mailto:contact@truenth.org'>contact@truenth.org</a> if you have any questions or need any support.")}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
  {% block document_ready %}
  <script src="{{url_for('static', filename='js/dist/gilIndex.bundle.js')}}"></script>
  {% endblock %}
