{% extends "gil/base.html" %}
{% block footnote %}
<aside>
     <div class="module-wrap module-wrap--background" style="background-image: url({{ url_for('.static', filename='img/LE_Share_Story.jpg') }})">
        <div class="module">
          <div class="accent-heading accent-heading--white">{% trans %}Objective N<em>o</em>1: TrueNTH Community {% endtrans %}</div>
          <h3 class="module__head">{{_("Everyone has a part to play in improving the prostate cancer journey.")}}</h3>
          <div class="module--flex">
            <div class="button-callout"><a href="{{url_for('.contact')}}" class="button button--large button--teal" id="lnShareYourStory">{{_("Share Your Story")}}</a></div>
            <div class="button-callout"><a href="{{url_for('.lived_experience')}}" class="button button--large button--teal" id="lnReadMoreStory">{{_("Read More Stories")}}</a></div>
          </div>
        </div>
      </div>
 </aside>
{% endblock %}
{% block document_ready %}
  <script>
      $(document).ready(function() {
          $(".button--video").on("click", function(e) {
              e.stopPropagation();
              var vFrame = $(this).parent().find("iframe.embed-video");
              var videoSrc = vFrame.attr("src");
              vFrame.attr("src", videoSrc + "?autoplay=true");
              $(".button--video__overlay").hide();
              $(this).fadeOut();
          });
          var isSafari = !!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/);
          if (isSafari) {
            $(window).resize(function() {
                if ($(".button--video").is(":visible")) {
                  var src = $(".embed-video").attr("src");
                  $(".embed-video").attr("src", src);
                };
            });
          };
      });
  </script>
{% endblock %}
