{% macro footerHTML(custom_class) -%}
     <footer class="footer{%if custom_class%} {{custom_class}}{%endif%}">
        <div class="footer__logo-area">
          <figure class="footer__logo--truenth"></figure>
        </div>
        <ul class="nav-list">
          <li class="nav-list__item"><a href="{{url_for('gil.landing')}}">{{_("Home")}}</a></li>
          <li class="nav-list__item"><a href="{{url_for('gil.about')}}">{{_("About")}}</a></li>
          <li class="nav-list__item"><a class="decision-support-link" href="{{url_for('gil.decision_support')}}">{{_("Decision Support")}}</a></li>
          <li class="nav-list__item"><a class="symptom-tracker-link" href="{{url_for('gil.symptom_tracker')}}">{{_("Symptom Tracker")}}</a></li>
        </ul>
        <ul class="nav-list nav-list--lower">
          <li class="nav-list__item"><a href="{{url_for('gil.prostate_cancer_facts')}}">{{_("Prostate Cancer Facts")}}</a></li>
        </ul>
        <ul class="nav-list nav-list--lower">
          <li class="nav-list__item"><a href="{{url_for('gil.terms_and_conditions')}}">{{_("Terms")}}</a></li>
          <li class="nav-list__item"><a href="{{url_for('gil.privacy')}}">{{_("Privacy")}}</a></li>
          <li class="nav-list__item"><a href="{{url_for('gil.contact')}}">{{_("Contact")}}</a></li>
        </ul>
        <ul class="nav-list nav-list--lower">
          <li class="nav-list__item"><a href="{{url_for('gil.contact')}}" ><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>{{_("Contact Us")}}</a></li>
          <li class="nav-list__item"><a href="https://www.facebook.com/TrueNTH.ProstateCancer/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>{{_("Facebook")}}</a></li>
          <li class="nav-list__item"><a href="https://twitter.com/TrueNTH_US" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>{{_("Twitter")}}</a></li>
        </ul>
        <div class="footer__logo-area"><a href="http://www.movember.com" target="_blank">
            <figure class="footer__logo--movember"></figure></a></div>
        <div class="footer__logo-area copyright">&copy;{{_("%(year)d Movember Foundation. All rights reserved. A registered 501(c)3 non-profit organization.", year=config.COPYRIGHT_YEAR)}}</div>
      </footer>
{%- endmacro %}
