{% extends "gil/base.html" %}
{% block title %}{{super()}} {{_("Privacy Statement")}}{% endblock %}
{% block head %}{{super()}}{% endblock %}
{% block main %}
    <main class="main theme--white">
      {{ super() }}
      <div class="page-intro page-intro--theme-brown-light">
        <div class="page-intro__content">
          <div class="simple-page-content">
            <div id="privacyContentContainer" class="LR-content-container">{{ content|safe }}</div>
          </div>
        </div>
      </div>
      <input type="hidden" id="LREditorURL" value="{{editorUrl if editorUrl}}" />
    </main>
 {% endblock %}
