{% extends "gil/base.html" %}
{% block title %}{{_("Sexual Wellbeing")}} {{super()}}{% endblock %}
{% block head %}{{super()}}{% endblock %}
{% block main %}
    <main class="main" data-section="sexualwellbeing">
      {{super()}}
       {% block header %}
        <header class="header header--white {%if user%}no-banner{%endif%}">
          <div class="header__menu">
            <a class="menu button button--small button--white js-nav-menu-toggle">
                <figure></figure><span>{{_("Menu")}}</span>
            </a>
          </div>
          <a class="logo" href="/"></a>
          {% if not user %}
            <div class="header__meta"><a href="#" class="menu button button--small button--white" data-toggle="modal" data-target="#modal-login">{{_("Log In")}}</a><a href="#" class="menu button button--small button--white" data-toggle="modal" data-target="#modal-register">{{_("Join Us")}}</a></div>
          {% endif %}
        </header>
      {% endblock %}
      {{ asset|safe }}
    </main>
{% endblock %}
{% block footnote %}
{% endblock %}
{% block document_ready %}
  <script src="{{url_for('.static', filename='js/sexual_wellness.js')}}"></script>
{% endblock %}
