{% extends "gil/base.html" %}
{% block title %}{{_("Sexual Wellbeing")}} {{super()}}{% endblock %}
{% block head %}{{super()}}{% endblock %}
{% block main %}
  <div class="loading-indicator-placeholder pre-loader"></div>
  <main  class="main theme--white" data-section="sexualwellbeing">
    {{super()}}
    <div id="sexualWellbeingMainContent" class="main-content module-wrap--theme-blue error-message"></div>
    <!-- {{ asset|safe }} -->
  </main>
{% endblock %}
{% block footnote %}
{% endblock %}
{% block document_ready %}
  <script src="{{url_for('.static', filename='js/sexual_wellness.js')}}"></script>
{% endblock %}
