{% extends "gil/base.html" %}
{% block title %}{{super()}} {{_("Terms and Conditions")}}{% endblock %}
{% block head %}{{super()}}{% endblock %}
{% block main %}
    <main class="main theme--intro-light">
      {{ super()}}
      <div class="page-intro page-intro--theme-brown-light">
        <div class="page-intro__content">
          <div id="termsConditionsContainer" class="simple-page-content LR-content-container">
            <div>{{ content|safe if content}}</div>
          </div>
        </div>
      </div>
      <input type="hidden" id="LREditorURL" value="{{editorUrl if editorUrl}}" />
    </main>
{% endblock %}
