{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "useBuiltIns": "usage",
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-runtime",
      [{
        "corejs": true,
        "helpers": true,
        "regenerator": true
      }]
  ]
}

