{%- extends "layout.html" -%}
{% block additional_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/dist/bootstrapTableExtensions.bundle.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/hhurz/tableExport.jquery.plugin@v1.10.1/tableExport.js" async></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap_table_filter_control.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap_datatables_extension.js') }}"></script>
<script src="{{ url_for('static', filename='js/dist/admin.bundle.js') }}"></script>
{% endblock %}
{% macro orgsSelector() -%}
	<div id="orglistSelector" class="dropdown btn-group orglist-selector">
	    <button id="orglist-dropdown" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      {{_("Filter list by site")}} &nbsp;<span class="glyphicon glyphicon-menu-down text-muted"></span><span class="glyphicon glyphicon-menu-up text-muted tnth-hide"></span>
	    </button>
	    <div id="org-menu" class="dropdown-menu" aria-labelledby="orglist-dropdown">
	      <div class="form-group smaller-text" id="userOrgs">
	        <div id="fillOrgs"></div>
	      </div>
	      <hr class="divider">
	      <div id='orglist-footer-container' v-show="!errorCollection.orgs">
	      	<label><input type='checkbox' id='orglist-selectall-ckbox' v-bind:checked="orgsSelector.selectAll">&nbsp;<span class='text-muted'>{{_("Select All") }}</span></label>
	      	<label><input type='checkbox' id='orglist-clearall-ckbox' v-bind:checked="orgsSelector.clearAll">&nbsp;<span class='text-muted'>{{_("Clear All")}}</span></label>
	      	<label><input type='checkbox' id='orglist-close-ckbox' v-bind:checked="orgsSelector.close">&nbsp;<span class='text-muted'>{{_("Close")}}</span></label>
	      </div>
	      {% raw %}<div class="error-message">{{errorCollection.orgs}}</div>{% endraw %}
	    </div>
  	</div>
  	<div class="orgs-filter-warning" v-show="siteFilterApplied()" data-template='<div class="popover filter-popover alert-icon" role="tooltip" id="filterPopover" ><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>' data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" data-content="{{_('Site filter applied')}}">
		<img class="alert-icon" src="{{url_for('static', filename='img/filterIcon.png')}}">
	</div>
{%-endmacro %}
{% macro deletedUsersFilter() -%}
	<span class="deletedUsersFilterContainer">
		<label>
			<input id="chkDeletedUsersFilter" type="checkbox"/><span class="text">{{_("View deactivated accounts")}}</span>
		</label>
	</span>
{%- endmacro %}
{% macro deletedUserCell(user, allowReactivate=False) -%}
	<td class="text-center deleted-button-cell">{%if not user.deleted %}<button id="btnDeleted{{user.id}}" data-user-id="{{user.id}}" type="button" class="btn btn-default btn-delete-user"><em>{{_("Deactivate")}}</em></button>{%else%}<span class="text-display">{{_("Inactive")}}</span>{% if allowReactivate %}<i data-user-id="{{user.id}}" class="fa fa-undo reactivate-icon" aria-hidden="true" title="{{_('Reactivate account')}}"></i>{%endif%}{%endif%}</td>
{%- endmacro %}
{%- macro testUsersCheckbox(postUrl) -%}
	<caption id="frmTestUsersContainer" class="tnth-hide">
		<form id="frmTestUsers" method="GET" action="{{postUrl}}">
			<label class="text-normal text-warning">
				<input type="checkbox" name="include_test_role" id="include_test_role" value="True" {%if include_test_role %}checked{% endif %}/>
				{{_("include test accounts")}}
			</label>
		</form>
	</caption>
{%- endmacro -%}
<!-- this widget is only applicable for sub-study users -->
{%- macro patientListToggle(selected="mainStudy") -%}
	<div id="patientListToggle" class="patientlist-toggle-container eproms-substudy tnth-hide">
		<a href="/patients">
			<input type="radio" class="radio" name="patientListToggle" id="mainStudy" {%if selected == 'mainStudy'%}checked{%endif%}>
			<span class="label">{{_("IRONMAN")}}</span>
		</a>
		<a href="/patients/substudy">
			<input type="radio" class="radio" name="patientListToggle" id="subStudy" {%if selected == 'subStudy'%}checked{%endif%}>
			<span class="label">{{_("EMPRO")}}</span>
		</a>
	</div>
{%- endmacro -%}
{%- macro ExportPopover(title=_("Export adherence report")) -%}
	<div id="exportReportPopoverWrapper" class="tnth-hide">
		<div id="exportReportContainer" data-trigger="manual" data-container="body" data-html="true" data-toggle="popover" data-placement="bottom" data-content="">
			<button id="btnExportReport" class="btn btn-tnth-primary dropdown-toggle" title="{{title}}" data-toggle="dropdown" type="button" aria-expanded="true"><i class="glyphicon glyphicon-download-alt icon-share"></i> <span class="caret"></span></button>
			<ul class="dropdown-menu data-types" role="menu"><li data-type="csv"><a>{{_("CSV")}}</a></li><li data-type="json"><a>{{_("JSON")}}</a></li></ul>
		</div>
		<div id="exportReportPopoverContent" class="tnth-hide">
			<div class="exportReport__popovercontent">
				<div class='text-info text-center'><h4>{{_("Export request submitted")}}</h4></div>
				<span class='exportReport__text-warning'>{{_("Note: due to the size of result data, this may take a while.")}}</span>
				<div class="text-center exportReport__display-container">
					<span class="exportReport__status"></span>
					<span class="exportReport__percentage"></span>
					<span class="exportReport__result"></span>
					<div class="exportReport__error" class="error-message">
						<div class="message error-message"></div>
						<div>
							<button class="exportReport__retry tnth-hide">{{_("Retry")}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
{%- endmacro -%}
