{% extends "admin/admin_base.html" %}
{%- from "flask_user/_macros.html" import footer -%}
{%- from "admin/admin_base.html" import patientListToggle -%}
{%- block mainclass -%}class="vis-on-callback"{%- endblock -%}
{% block main %}
  <div id="patientList" class="substudy">
    {% set list_title = gettext('EMPRO Patient List') %}
    {% set list_subtitle = gettext('Select a patient below to view or update details') %}
    {%- if user.has_role(ROLE.STAFF.value, ROLE.STAFF_ADMIN.value) -%}
      <div class="patientList-header">
        <h4 class="tnth-headline">{{list_title}}</h4>
        {{patientListToggle(selected='subStudy')}}
      </div>
      <div id="patientListOptions">
        <a href="{{ url_for('patients.patient_profile_create') }}" id="createUserLink" class="btn btn-default">{{ _("Create a patient record") }}</a>
        <div class="or">or</div>
        <span class="profile-item-title">{{list_subtitle}}</span>
      </div>
    {%- else -%}
      <br/>
      <h2>{{list_title}}</h2>
      <div class="profile-item-title">{{list_subtitle}}</div>
    {%- endif -%}
    <div id="adminTableContainer" class="patient-view admin-table table-responsive medium-text substudy" data-export-prefix="{{_('PatientList_')}}">
      <div id="adminTableToolbar" class="admin-toolbar">
        {{orgsSelector()}}
      </div>
      {# variable for checking if user is a researcher #}
      {% set isResearcher = user.has_role(ROLE.RESEARCHER.value) and not(user.has_role(ROLE.ADMIN.value)) %}
      <table id="adminTable"
             data-table-id="adminTable"
             class="tnth-admin-table"
             data-classes="table table-hover table-condensed table-striped table-responsive"
             data-toggle="table"
             data-search="true"
             data-pagination="true"
             data-page-size="10"
             data-page-list="[10, 20, 30]"
             data-toolbar="#adminTableToolbar"
             data-show-toggle="true"
             data-show-columns="true"
             data-smart-display="true"
             data-unique-id="userid"
             data-id-field="userid"
             data-filter-control="true"
             data-side-pagination="server"
             data-ajax="patientDataAjaxRequest"
             data-cache="false"
             {%- if not isResearcher -%} data-show-export="true" {%- endif -%}
             data-export-data-type="all"
             >
            {{testUsersCheckbox(postUrl=url_for('patients.patients_substudy'))}}
          <thead>
              <tr>
                  <th data-field="userid" data-id-field="true" data-sortable="true" data-class="id-field" data-width="1%" data-filter-control="input">{{_("TrueNTH ID")}}</th>
                  <th data-field="firstname" data-sortable="true" data-class="firstname-field" data-filter-control="input">{{ _("First Name") }}</th>
                  <th data-field="lastname" data-sortable="true" data-class="lastname-field" data-filter-control="input">{{ _("Last Name") }}</th>
                  <th data-field="email" data-sortable="true" data-class="email-field" data-filter-control="input" data-width="150">{{ _("Username (email)") }}</th>
                  <th data-field="birthdate" data-sortable="true" data-class="birthdate-field" data-visible="false">{{ _("Date of Birth") }}</th>
                  <th data-field="clinician" data-sortable="true" data-class="clinician-field" data-filter-control="input">{{ _("Treating Clinician") }}</th>
                  <th data-field="empro_status" data-sortable="true" data-card-visible="true" data-searchable="true" data-width="5%" data-class="status-field" data-filter-control="select" data-filter-strict-search="true" data-filter-data="var:qStatusFilterOptions">{{_("EMPRO Questionnaire Status")}}</th>
                  <th data-field="empro_visit" data-sortable="true" data-card-visible="false" data-searchable="true" data-width="5%" data-class="visit-field" data-filter-control="input" data-visible="false">{{ _("Visit") }}</th>
                  <th data-field="action_state" data-sortable="true" data-class="intervention-actions-field" data-filter-control="select" data-filter-data="var:clinicianActionStateFilterOptions">{{ _("Clinician Action Status") }}</th>
                  <th data-field="study_id" data-sortable="true" data-searchable="true" data-class="study-id-field" data-filter-control="input" data-visible="false" data-sorter="tnthTables.alphanumericSorter" data-width="5%">{{ _("Study ID") }}</th>
                  <th data-field="empro_consentdate" data-sortable="true" data-card-visible="false" data-sorter="tnthTables.dateSorter" data-searchable="true" data-visible="false" data-class="consentdate-field text-center" data-visible="true">{{ _("Study Consent Date") }}</th>
                  <th data-field="org_name" data-sortable="true" data-class="organization-field"  data-visible="true">{{ _("Site") }}</th>
              </tr>
          </thead>
      </table>
  </div>
  <div id="admin-table-error-message" class="text-danger smaller-text"></div>
  {{ExportPopover(title=_("Export EMPRO adherence report"))}}
</div>
{{ajaxDataScript(research_study_id=1)}}
{{filterOptionsVar()}}
{% endblock %}
{% block footer %}{{footer(user=user)}}{% endblock %}
