{% extends "layout.html" %}
{% block main %}
    <h1 class="tnth-headline">Scheduled Jobs</h1>

    <h4>Current Jobs</h4>
    {% if jobs %}
    <ul id="scheduledJobsList">
        {% for job in jobs %}
            <li>
                <div id="job_{{ job.id }}">
                    <button title="Toggle Job" data-jobid="{{job.id}}" class="btn-toggle-job"><i id="activeIcon_{{job.id}}" class="{{'fa fa-toggle-on' if job.active else 'fa fa-toggle-off'}}" /></i></button>
                    <button title="Run Job" data-jobid="{{job.id}}" class="btn-run-job"><i class="fa fa-play"></i></button>
                    <b>{{ job.name }}</b>
                    <div id="activeText_{{job.id}}" class="{{'text-info' if job.active else 'text-danger'}}">{{ "Active" if job.active else "Inactive" }}</div>
                    Task: {{ job.task }}
                    {% if job.args %}
                    <br />Args: {{ job.args }}
                    {% endif %}
                    {% if job.kwargs %}
                    <br />Kwargs: {{ job.kwargs }}
                    {% endif %}
                    <br />Schedule: {{ job.schedule }}
                    <br />Last Runtime:
                    <div id="lastRuntime_{{job.id}}" class="text-info">{{ job.last_runtime }}</div>
                    Last Status:
                    <div id="lastStatus_{{job.id}}" class="text-info">{{ job.last_status }}</div>
                    <br />
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No jobs found.</p>
    {% endif %}

    <h4>Available Tasks</h4>
    {% if tasks %}
    <ul>
        {% for task in tasks %}
            <li>{{ task }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No tasks found.</p>
    {% endif %}
{% endblock %}
{% block additional_scripts %}<script src="{{ url_for('static', filename='js/dist/scheduledJobs.bundle.js') }}"></script>{% endblock %}

