{% extends "admin/admin_base.html" %}
{%- from "flask_user/_macros.html" import footer -%}
{% block main %}
<div id="staffList">
    <br/>
    <h3 class="tnth-headline">{{ _("Staff Administration") }}</h3>
    <div id="staffListOptions">
      <a href="{{ url_for('.staff_profile_create') }}" id="createUserLink" class="btn btn-default">{{ _("Create a staff record") }}</a>
      <div class="or">or</div>
      <span class="profile-item-title">{{ _("Select a user below to view or update details.") }}</span>
    </div>
    <br/>
    {% set allowReactivate = user.has_role(ROLE.ADMIN.value, ROLE.STAFF_ADMIN.value) %}
    <div id="adminTableContainer" class="staff-view admin-table table-responsive medium-text" data-export-prefix="{{_('StaffList_')}}">
        <div id="adminTableToolbar" class="admin-toolbar">{{deletedUsersFilter()}}</div>
        <table id="adminTable"
               class="staff-view table table-striped table-hover table-condensed"
               data-toggle="table"
               data-sort-name="id"
               data-sort-order="desc"
               data-search="true"
               data-pagination="true"
               data-page-size="25"
               data-page-list="[25,50,100,ALL]"
               data-toolbar="#adminTableToolbar"
               data-show-toggle="false"
               data-show-columns="true"
               data-unique-id="id"
               data-filter-control="true"
               data-show-export="true"
               data-export-data-type="all"
               data-id-field="id"
               {% if allowReactivate %}data-allow-reactivate="true"{% endif %}
               >
              {{testUsersCheckbox(postUrl=url_for('.staff_index'))}}
            <thead>
            <tr>
                <th data-field="id" data-visible="false" data-card-visible="false" data-sortable="false" data-class="tnth-hide">
                <th data-field="userid" data-sortable="true" data-sorter="tnthTables.stripLinksSorter">{{ _("ID") }}</th>
                <th data-field="firstname" data-sortable="true" class="firstname-data-field" data-filter-control="input">{{ _("First Name") }}</th>
                <th data-field="lastname" data-sortable="true" class="lastname-data-field" data-filter-control="input">{{ _("Last Name") }}</th>
                <th data-field="email" data-sortable="true" class="email-data-field" data-filter-control="input">{{ _("Email") }}</th>
                <th data-field="organization" data-sortable="true" class="org-data-field" data-filter-control="select">{{ _("Site(s)") }}</th>
                <th class="text-center" data-field="deactivate" data-searchable="false" data-card-visible="false" data-detail-view="false" data-class="always-visible">{{ _("Deactivate Account") }}</th>
                <th data-field="activationstatus" data-class="deleted-field" data-visible="false">{{_("activation status")}}</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for user in staff_list %}
              <tr id="data_row_{{user.id}}" {%if user.deleted%}class="rowlink-skip deleted-user-row"{%endif%} {% if user.has_role(ROLE.TEST.value) %}data-test-role="true"{% endif %}>  <!-- setting css class for test patient rows, allow distinction from others -->
                  <td>{{user.id}}</td>
                  <td>
                    {% if user.deleted %}
                    {{user.id}}
                    {% else %}
                    <a href="{{ url_for('.staff_profile', user_id=user.id) }}" class="profile-link">{{ user.id }}</a>
                    {% endif %}
                  </td>
                  <td>{{ user.first_name if user.first_name }}</td>
                  <td>{{ user.last_name if user.last_name }}</td>
                  <td class="email-data-field">{{ user.email if user.email }}</td>
                  <td class="org-data-field">{% for org in user.organizations | sort(attribute='id') %}<span class="medium-text">{{org.name}}</span><br/>{% endfor %}</td>
                  {{deletedUserCell(user, allowReactivate=allowReactivate)}}
                  <td>{% if user.deleted %}deactivated{%else%}activated{%endif%}</td> <!-- invisible column field, for keeping track of row activation status -->
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block footer %}
{{footer(user=user)}}
{% endblock %}

